Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:

    ########## Clearing House ##########
  - id: clearing-house::cargo-fmt
    name: clearing-house::cargo-fmt
    entry: cargo +nightly fmt --check -p clearing-house
    language: system
    pass_filenames: false
    stages: [commit, push]
    files: ^frame/clearing-house/
    types: [rust]
  - id: clearing-house::cargo-clippy
    name: clearing-house::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
    language: system
    pass_filenames: false
    stages: [push]
    files: ^frame/clearing-house/
    types: [rust]

    ########## VAMM ##########
  - id: vamm::cargo-fmt
    name: vamm::cargo-fmt
    entry: cargo +nightly fmt --check -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [commit, push]
  - id: vamm::cargo-check
    name: vamm::cargo-check
    entry: cargo +nightly check --all-targets -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [commit, push]
  - id: vamm::cargo-test
    name: vamm::cargo-test
    entry: cargo +nightly test --all-features --tests -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push]
  - id: vamm::cargo-clippy
    name: vamm::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p pallet-vamm -- -D warnings -D clippy::all
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v8.0.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ['@commitlint/config-conventional']

setup initial pallet skeleton, mock runtime and tests CU-25dgv82 [DONE]
  frame/instrumental-strategy-pablo/Cargo.toml
  frame/instrumental-strategy-pablo/src/lib.rs
  frame/instrumental-strategy-pablo/src/mock/mod.rs
  frame/instrumental-strategy-pablo/src/mock/runtime.rs
  frame/instrumental-strategy-pablo/src/tests.rs
  frame/instrumental-strategy-pablo/src/weights.rs
Due: none

updated documentation in lib.rs and mock > runtime.rs CU-25dgvj3[IN PROGRESS]
  frame/instrumental-strategy/src/lib.rs
  frame/instrumental-strategy/src/mock/runtime.rs
Due: none

docs(instrumental): Fix missing word
  frame/instrumental/src/lib.rs
Due: none

chore: Update vamm pallet name in pre-commit file
  .pre-commit-config.yaml
Due: none

refactor(vamm): Remove unneeded imports
  frame/composable-traits/src/vamm.rs
Due: none

refactor(Vamm): Implement `VammParams`
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

refactor(vamm): change `id` variable naming
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

refactor(vamm): Add `VammParams` to tests
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

refactor(vamm): split long function definitions
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

refactor(vamm): Revert pallet's name
  frame/vamm/Cargo.toml
Due: none

docs(vamm): Add more documentation to pallet
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

chore(vamm): Update `Cargo.lock`
  Cargo.lock
Due: none

refactor(vamm): Split long lines in multiple ones
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

feat(devnet): remove legacy artifact
  nix/devnet.json
Due: none

fix(devnet): revert back to main branch
  .github/workflows/devnet-release.yml
Due: none

added cargo test
  .github/workflows/test.yml
Due: none

Devnet update (#846)
  .github/workflows/devnet-release.yml
  flake.lock
  flake.nix
  nix/devnet.json
  rust-toolchain
Due: none

update bootnode peer id
  .github/workflows/docker-release.yml
Due: none

update bootnode peer id
  node/src/res/composable.json
Due: none

test(Runtime Integration Tests): Crowdloan tests are now populated with the actual list of contributors. (#851)
  integration-tests/runtime-tests/test/tests/crowdloanRewards/contributions.json
  integration-tests/runtime-tests/test/tests/crowdloanRewards/testHandlers/crowdloanHandler.ts
  integration-tests/runtime-tests/test/tests/crowdloanRewards/test_configuration.json
  integration-tests/runtime-tests/test/tests/crowdloanRewards/txCrowdloanRewardsTests.ts
Due: none

docs(mdbook): Moved Angular documentation from ClickUp to mdbook. (#828)
  book/src/SUMMARY.md
  book/src/products/angular/angular-token.md
  book/src/products/angular/foreign-assets.md
  book/src/products/angular/img/angular_logo-1500x500.png
  book/src/products/angular/img/technical-specification/graph-curved-model.png
  book/src/products/angular/img/technical-specification/graph-double-exponent-model.png
  book/src/products/angular/img/technical-specification/graph-jump-model.png
  book/src/products/angular/product-brief.md
  book/src/products/angular/socials.md
  book/src/products/angular/technical-specification.md
  book/src/products/angular/technical-specification/collateral.md
  book/src/products/angular/technical-specification/collateral/nfts.md
  book/src/products/angular/technical-specification/liquidations.md
  book/src/products/angular/technical-specification/liquidations/implementation.md
  book/src/products/angular/technical-specification/liquidations/liquidation-interface.md
  book/src/products/angular/technical-specification/liquidations/liquidation-interface/ibc.md
  book/src/products/angular/technical-specification/liquidations/liquidation-interface/xcm.md
  book/src/products/angular/technical-specification/models.md
  book/src/products/angular/technical-specification/oracle.md
  book/src/products/angular/technical-specification/pools.md
  book/src/products/angular/technical-specification/references.md
  book/src/products/angular/technical-specification/references/COM-LendingFeatures-030122-1046.pdf
  book/src/products/angular/technical-specification/undercollateralized-loans-leverage.md
Due: none

disable use of composable
  .github/workflows/test.yml
Due: none

update download path from github releases
  docker/Dockerfile
Due: none

Change composable bootnode peerid (#853)
  .github/workflows/docker-release.yml
  node/src/res/composable.json
Due: none

run test inside container
  .github/workflows/test.yml
Due: none

adding node setup guide alpha version
  book/src/developer-guides/node-setup-guide.md
  book/src/developer-guides/node-setup-guide/build-from-source.md
  book/src/developer-guides/node-setup-guide/docker-compose.md
  book/src/developer-guides/node-setup-guide/run-systemd-service.md
  book/src/developer-guides/node-setup-guide/setup-docker.md
Due: none

docs(CH): overhaul sequence diagrams
  frame/clearing-house/diagrams/add-margin.plantuml
  frame/clearing-house/diagrams/create-market.plantuml
  frame/clearing-house/diagrams/liquidate.plantuml
  frame/clearing-house/diagrams/open-position.plantuml
  frame/clearing-house/diagrams/remove-margin.plantuml
  frame/clearing-house/diagrams/update-funding.plantuml
Due: none

david-verify-parachain-headers
  .github/workflows/test.yml
Due: none

refactor(CH): move validity checks outside try_mutate
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(vamm): Change market ending definition
  frame/vamm/src/lib.rs
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

test(Runtime Integration Tests): Fix test suite only running crowdloan tests.
  integration-tests/runtime-tests/test/tests/crowdloanRewards/txCrowdloanRewardsTests.ts
Due: none

test(Runtime Integration Tests): Fix test suite only running crowdloan tests. (#857)
  integration-tests/runtime-tests/test/tests/crowdloanRewards/txCrowdloanRewardsTests.ts
Due: none
