Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - push

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly test --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

Revert "chore(CH): add sp_math sub-crate for testing"
  Cargo.lock
  Cargo.toml
  frame/clearing-house/sp_math/Cargo.toml
  frame/clearing-house/sp_math/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Update CI config
  .github/workflows/test.yml
Due: none

some fixes to design of staking reward
  frame/staking-rewards/README.md
  frame/staking-rewards/src/lib.rs
Due: none

test(CH): impl Default for market and vamm config
  frame/clearing-house/src/mock/vamm.rs
  frame/clearing-house/src/tests/create_market.rs
  frame/clearing-house/src/tests/liquidate.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/tests/open_position.rs
  frame/clearing-house/src/tests/update_funding.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Rename RPC
  frame/pablo/rpc/src/lib.rs
  frame/pablo/runtime-api/src/lib.rs
  runtime/dali/src/lib.rs
Due: none

Formatting
  runtime/dali/src/lib.rs
Due: none

add keel_alive argument to the create function
  frame/composable-traits/src/lending/mod.rs
  frame/lending/src/benchmarking.rs
  frame/lending/src/lib.rs
  frame/lending/src/tests.rs
Due: none

feat(vamm): Add `get_twap` function
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

docs(vamm): Add links to base and quote assets
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Add tests to `get_twap`
  frame/vamm/proptest-regressions/tests/get_twap.txt
  frame/vamm/src/mock.rs
  frame/vamm/src/tests/create_vamm.rs
  frame/vamm/src/tests/get_price.rs
  frame/vamm/src/tests/get_price_base_asset.rs
  frame/vamm/src/tests/get_price_quote_asset.rs
  frame/vamm/src/tests/get_twap.rs
  frame/vamm/src/tests/mod.rs
  frame/vamm/src/tests/move_price.rs
  frame/vamm/src/tests/swap_asset.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

Add test for Halborn audit issue HAL-03 IMPROPER LENDING MARKET CONFIGURATION LEADS TO MULTIPLE VULNERABILITIES
  frame/lending/src/tests.rs
  frame/lending/src/tests_offchain.rs
Due: none

epoches
  frame/staking-rewards/src/lib.rs
Due: none

Add lp token rpc (#1067)
  frame/composable-maths/src/dex/constant_product.rs
  frame/composable-traits/src/dex.rs
  frame/dex-router/src/lib.rs
  frame/pablo/rpc/src/lib.rs
  frame/pablo/runtime-api/src/lib.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/stable_swap.rs
  frame/pablo/src/uniswap.rs
  node/src/runtime.rs
  runtime/composable/src/lib.rs
  runtime/dali/src/lib.rs
  runtime/picasso/src/lib.rs
  utils/price-feed/Cargo.toml
Due: none

Add test for Halborn audit issue HAL-03 IMPROPER LENDING MARKET CONFIGURATION LEADS TO MULTIPLE VULNERABILITIES (#1015)
  frame/lending/src/tests.rs
  frame/lending/src/tests_offchain.rs
Due: none

complete update to polkadot-v0.9.22
  Cargo.lock
  frame/assets/src/lib.rs
  frame/lending/src/lib.rs
  node/Cargo.toml
  node/src/client.rs
  node/src/command.rs
  node/src/rpc.rs
  node/src/runtime.rs
  node/src/service.rs
  runtime/composable/src/lib.rs
  runtime/composable/src/weights/treasury.rs
  runtime/composable/src/weights/utility.rs
  runtime/dali/src/lib.rs
  runtime/dali/src/weights/treasury.rs
  runtime/dali/src/weights/utility.rs
  runtime/picasso/src/lib.rs
  runtime/picasso/src/weights/treasury.rs
  runtime/picasso/src/weights/utility.rs
  simnode/common/Cargo.toml
  simnode/common/src/chains/composable.rs
  simnode/common/src/chains/dali.rs
  simnode/common/src/chains/picasso.rs
Due: none

test(CH): move Market default to test module
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/types.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): remane Margin to Collateral initializer
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/tests/open_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): use execution context for unit test
  frame/clearing-house/src/tests/open_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

increase runtime spec version
  runtime/composable/src/lib.rs
  runtime/dali/src/lib.rs
  runtime/picasso/src/lib.rs
Due: none

removed unnessary function from benchmarkings
  frame/democracy/src/benchmarking.rs
Due: none

feat(xcvm): use mosaic to bridge assets prior to spawning a program
  Cargo.lock
  frame/xcvm/src/lib.rs
  lib/xcvm/protobuf/src/lib.rs
  runtime/dali/Cargo.toml
  runtime/dali/src/lib.rs
  runtime/primitives/Cargo.toml
  runtime/primitives/src/currency.rs
Due: none

feat(xcvm): regenerate latest ts definitions
  integration-tests/runtime-tests/src/types/interfaces/augment-api-errors.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-events.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-query.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-rpc.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-tx.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-types.ts
  integration-tests/runtime-tests/src/utils/polkadotjs.ts
Due: none

feat(xcvm): integration tests
  integration-tests/runtime-tests/test/tests/xcvm/txXcvm.ts
Due: none

feat(xcvm): fire event when setting satellite
  frame/xcvm/src/lib.rs
Due: none

fix tests
  Cargo.lock
  frame/assets/src/mocks.rs
  frame/bonded-finance/src/mock.rs
  frame/democracy/src/tests.rs
  frame/dex-router/src/mock.rs
  frame/dutch-auction/src/mock/runtime.rs
  frame/lending/src/mocks/mod.rs
  frame/lending/src/mocks_offchain/mod.rs
  frame/liquidations/src/mock/runtime.rs
  frame/mosaic/src/mock.rs
  frame/pablo/src/mock.rs
  frame/staking-rewards/src/mock.rs
  frame/transaction-fee/src/mock.rs
  frame/vault/src/mocks/tests.rs
  frame/vesting/src/mock.rs
  runtime/common/src/impls.rs
  runtime/composable/Cargo.toml
  runtime/dali/Cargo.toml
  runtime/picasso/Cargo.toml
  simnode/common/Cargo.toml
  simnode/simnode-node/Cargo.toml
  simnode/simnode-tests/Cargo.toml
Due: none

added GovernanceRegistr & refectored tests
  frame/democracy/src/lib.rs
  frame/democracy/src/tests.rs
  frame/democracy/src/tests/cancellation.rs
  frame/democracy/src/tests/external_proposing.rs
  frame/democracy/src/tests/fast_tracking.rs
  frame/democracy/src/tests/lock_voting.rs
  frame/democracy/src/tests/preimage.rs
  frame/democracy/src/tests/public_proposals.rs
  frame/democracy/src/tests/scheduling.rs
  frame/democracy/src/tests/voting.rs
Due: none

minor refactor
  frame/assets/src/lib.rs
Due: none

fix failing unit tests
  frame/lending/src/tests.rs
  integration-tests/local-integration-tests/src/cross_chain_transfer.rs
  integration-tests/local-integration-tests/src/statemine.rs
Due: none

update benchmarks
  runtime/composable/src/weights/treasury.rs
  runtime/composable/src/weights/utility.rs
  runtime/dali/src/weights/treasury.rs
  runtime/dali/src/weights/utility.rs
  runtime/picasso/src/weights/treasury.rs
  runtime/picasso/src/weights/utility.rs
Due: none

update dali and picasso benchmarks
  runtime/dali/src/weights/treasury.rs
  runtime/dali/src/weights/utility.rs
  runtime/picasso/src/weights/treasury.rs
  runtime/picasso/src/weights/utility.rs
Due: none

minor fix
  frame/pablo/rpc/src/lib.rs
Due: none

vogen
  frame/staking-rewards/src/lib.rs
Due: none

seems pending vs running is good
  frame/staking-rewards/src/lib.rs
Due: none

split compound shares vs not
  frame/staking-rewards/src/lib.rs
Due: none

Refactor to use host functions for all hashing and signature verifications (#11)
  .github/workflows/check.yml
  .github/workflows/test.yml
  .gitignore
  Cargo.toml
  src/error.rs
  src/lib.rs
  src/primitives.rs
  src/runtime.rs
  src/test_utils.rs
  src/tests.rs
  src/traits.rs
Due: none

show test logs
  .github/workflows/test.yml
Due: none

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/clearing-house/ and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
