Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test, composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push
  - manual

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

clearing-house::cargo-test:
  name: clearing-house::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-fmt:
  name: composable-traits::cargo-fmt
  entry: cargo +nightly fmt --check -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-check:
  name: composable-traits::cargo-check
  entry: cargo +nightly check --all-targets -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-test:
  name: composable-traits::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-fmt:
  name: composable-maths::cargo-fmt
  entry: cargo +nightly fmt --check -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-check:
  name: composable-maths::cargo-check
  entry: cargo +nightly check --all-targets -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-test:
  name: composable-maths::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

comment
  composablejs/packages/bootstrap_pallets/src/main.ts
  composablejs/packages/types/tsconfig.tsbuildinfo
  composablejs/packages/utils/tsconfig.tsbuildinfo
Due: none

remove buildinfos, add buildinfos to gitignore
  composablejs/.gitignore
Due: none

feat(ci): darwin
  .github/workflows/build-all-and-deploy-devnet.yml
Due: none

rm
  composablejs/packages/types/tsconfig.tsbuildinfo
  composablejs/packages/utils/tsconfig.tsbuildinfo
Due: none

removed storage for timestamp
  frame/undercollateralized-loans/src/helpers.rs
  frame/undercollateralized-loans/src/lib.rs
Due: none

comments resolved
  frontend/apps/pablo/defi/subsquid/swaps/helpers.ts
  frontend/apps/pablo/defi/utils/constants.ts
  frontend/apps/pablo/defi/utils/misc.ts
Due: none

resolved comments.
  frontend/apps/pablo/defi/subsquid/swaps/helpers.ts
  frontend/apps/pablo/defi/utils/constants.ts
  frontend/apps/pablo/defi/utils/misc.ts
Due: none

feat(ci): revert darwin
  .github/workflows/build-all-and-deploy-devnet.yml
Due: none

fix: make container SHA dependent on arch target
  .devcontainer/nix/codespace-base-container.nix
  .nix/nix-to-container-image.nix
Due: none

Fix benchmarks
  frame/vesting/src/benchmarks.rs
Due: none

Formatting
  integration-tests/runtime-tests/test/tests/dexRouter/dexRouterTests.ts
  integration-tests/runtime-tests/test/tests/pablo/testHandlers/pabloTestHelper.ts
Due: none

Add VestingScheduleIdSet::into_all_ids
  frame/composable-traits/src/vesting.rs
  frame/vesting/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Fix clippy
  frame/vesting/src/lib.rs
Due: none

fixup: remove darwin from ci
  .github/workflows/build-all-and-deploy-devnet.yml
Due: none

feat(pablo): add storage of accounts which deposit liquidity with single asset
  frame/composable-traits/src/dex.rs
  frame/pablo/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

import vec! and Vec
  frame/composable-traits/src/vesting.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

fix linting
  frame/vesting/src/lib.rs
Due: none

some more logs
  frame/ibc/ibc-rpc/src/lib.rs
  frame/ibc/src/channel.rs
Due: none

ben's suggestions
  frame/vesting/src/lib.rs
Due: none

feat(nix): reuse ci devnet when deploying
  .github/workflows/build-all-and-deploy-devnet.yml
  .nix/composable-bin.nix
  .nix/composable-book.nix
  .nix/devnet-gce.nix
  .nix/devnet-spec.nix
  .nix/devnet.nix
  .nix/mdbook.nix
  .nix/nix-to-container-image.nix
  .nix/nixops.nix
  .nix/rust-toolchain.nix
  .nix/taplo.nix
  devnet/devnet.json
  devnet/update.sh
  flake.nix
  scripts/polkadot-launch/composable.nix
Due: none

fix: cleanup old ubuntu-based devcontainer
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/codespace-base-container.nix
  .devcontainer/devcontainer.json
  .devcontainer/nix/README.md
  .devcontainer/ubuntu/Dockerfile
  .devcontainer/ubuntu/devcontainer.json
Due: none

feat(nix): reuse ci devnet when deploying
  .github/workflows/build-all-and-deploy-devnet.yml
Due: none

feat(nix): reuse ci devnet when deploying
  flake.nix
Due: none

chore(composable-maths): Add dev-dependencies
  Cargo.lock
  frame/composable-maths/Cargo.toml
Due: none

feat(composable-maths): Add `SignedMath`
  frame/composable-maths/src/labs/numbers.rs
  frame/composable-maths/src/labs/tests/signed_math.rs
Due: composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

feat(composable-maths): Add seed `Twap` module
  frame/composable-maths/proptest-regressions/labs/tests/signed_math.txt
  frame/composable-maths/src/labs/mod.rs
  frame/composable-maths/src/labs/tests/mod.rs
  frame/composable-maths/src/labs/twap/mod.rs
  frame/composable-maths/src/labs/twap/tests/mod.rs
  frame/composable-maths/src/labs/twap/tests/unit.rs
Due: composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

Add update event and test
  frame/composable-tests-helpers/src/test/helper.rs
  frame/composable-traits/src/staking/mod.rs
  frame/dex-router/src/mock.rs
  frame/pablo/src/mock.rs
  frame/staking-rewards/src/lib.rs
  frame/staking-rewards/src/test/mod.rs
  frame/staking-rewards/src/test/prelude.rs
  frame/staking-rewards/src/test/runtime.rs
  frame/staking-rewards/src/test/test_reward_accumulation_hook.rs
  frame/staking-rewards/src/test/test_update_reward_pools.rs
  runtime/dali/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Add doc comment to update rewards extrinsic
  frame/staking-rewards/src/lib.rs
Due: none

a few error patches
  Cargo.lock
  frame/pool/Cargo.toml
  frame/pool/src/lib.rs
Due: none

3ajcr48 Pablo - (POOL) - On Add Liquidity confirmation box, token symbols doesn't align 3ajchvm Pablo - (POOL) On Add Liquidity modal remove "Select Tokens" Disabled Button
  frontend/apps/pablo/components/Organisms/liquidity/AddForm/ConfirmSupplyModal.tsx
  frontend/apps/pablo/components/Organisms/liquidity/AddForm/index.tsx
  frontend/apps/pablo/store/hooks/useAddLiquidity.ts
Due: none

works. completely removed string based timestamps
  frame/composable-traits/src/undercollateralized_loans/configs.rs
  frame/composable-traits/src/undercollateralized_loans/mod.rs
  frame/undercollateralized-loans/src/helpers.rs
  frame/undercollateralized-loans/src/impls/undercollateralized_loans.rs
  frame/undercollateralized-loans/src/lib.rs
  frame/undercollateralized-loans/src/mocks/general.rs
  frame/undercollateralized-loans/src/tests/loan.rs
  frame/undercollateralized-loans/src/tests/mod.rs
  frame/undercollateralized-loans/src/types.rs
  frame/undercollateralized-loans/src/validation.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

3ajck3b Show toast notification on invalid token pair.
  frontend/apps/pablo/components/Organisms/liquidity/AddForm/index.tsx
  frontend/apps/pablo/store/hooks/useAddLiquidity.ts
Due: none

rename VestingInput to VestingInfo
  frame/composable-traits/src/vesting.rs
  frame/vesting/src/benchmarks.rs
  frame/vesting/src/lib.rs
  frame/vesting/src/tests.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Extract onConfirm supply method to a hook and add try/catch
  frontend/apps/pablo/components/Organisms/liquidity/AddForm/ConfirmSupplyModal.tsx
  frontend/apps/pablo/components/Organisms/liquidity/AddForm/ConfirmingSupplyModal.tsx
  frontend/apps/pablo/components/Organisms/liquidity/AddForm/index.tsx
  frontend/apps/pablo/defi/hooks/pools/addLiquidity/useAddLiquidity.ts
  frontend/apps/pablo/store/hooks/useAddLiquidityForm.ts
Due: none

fix import name
  frame/bonded-finance/src/lib.rs
Due: none

regen image
  rfcs/0005-pablo-distribution-assets/images/images/update-reward-pool.png
Due: none

fix: nix run .#devnet-* not working
  flake.nix
Due: none

add wallet buttons
  frontend/apps/pablo/components/Organisms/Wallet/PolkadotConnect.tsx
Due: none

feat(pablo): add storage and `update_accounts_deposited_one_asset_storage` fn for it
  frame/composable-traits/src/dex.rs
  frame/pablo/src/common_test_functions.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/uniswap_tests.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Make clippy happier
  frame/composable-support/src/collections/vec/bounded/bi_bounded_vec.rs
Due: none

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  clearing-house::cargo-test: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
  composable-traits::cargo-fmt: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-check: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-test: any of: ^frame/composable-traits/ and \.rs$
  composable-maths::cargo-fmt: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-check: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-test: any of: ^frame/composable-maths/ and \.rs$
