Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - push

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly test --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

test(CH): clarify derivation of prop_compose strat
  frame/clearing-house/src/tests/update_funding.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

added function account_id to InstrumentalProtocolStrategy trait and added get_optimum_strategy_for function to InstrumentalDynamicStrategy #2xgwryr[DONE] #2xgwrw8[DONE] #23v6dbb[DONE]
  Cargo.lock
  frame/composable-traits/src/instrumental.rs
  frame/instrumental-strategy-pablo/src/lib.rs
  frame/instrumental-strategy-pablo/src/mock/runtime.rs
  frame/instrumental-strategy/src/lib.rs
  frame/instrumental-strategy/src/mock/runtime.rs
  frame/instrumental/src/lib.rs
Due: none

test(vamm): Add tests for each case in `get_price`
  Cargo.lock
  frame/vamm/proptest-regressions/tests/get_price.txt
  frame/vamm/proptest-regressions/tests/get_price_base_asset.txt
  frame/vamm/src/tests/get_price.rs
  frame/vamm/src/tests/get_price_base_asset.rs
  frame/vamm/src/tests/get_price_quote_asset.rs
  frame/vamm/src/tests/mod.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

chore(vamm): Update `Cargo.lock`
  Cargo.lock
Due: none

The branch is alined with main
  frame/lending/src/mocks_offchain/mod.rs
Due: none

Removed extra test. Cleaned unused imports.
  frame/lending/src/tests.rs
  frame/lending/src/tests_offchain.rs
Due: none

Fixed wrapper for UintAuthId
  frame/lending/src/mocks_offchain/wrapper.rs
Due: none

eliminated extra pogress blocks feature implementation in the off-chain test module
  frame/lending/src/mocks_offchain/mod.rs
  frame/lending/src/tests_offchain.rs
Due: none

eliminated extra pogress blocks feature implementation in the test module
  frame/lending/src/mocks/mod.rs
  frame/lending/src/mocks_offchain/mod.rs
  frame/lending/src/mocks_offchain/wrapper.rs
  frame/lending/src/tests.rs
  frame/lending/src/tests_offchain.rs
Due: none

making updates to fnt docs and apllets
  frame/nft/src/lib.rs
  frame/staking-rewards/README.md
Due: none

epoch model
  frame/composable-support/src/abstractions/block_fold.rs
  frame/composable-traits/src/staking_rewards.rs
  frame/staking-rewards/README.md
  frame/staking-rewards/src/lib.rs
Due: none

split on nft level
  frame/nft/README.md
  frame/nft/src/lib.rs
  frame/staking-rewards/src/lib.rs
Due: none

fixing style and clippy
  frame/composable-support/src/abstractions/block_fold.rs
  frame/composable-traits/src/financial_nft.rs
  frame/composable-traits/src/staking_rewards.rs
  frame/nft/src/lib.rs
  frame/staking-rewards/README.md
  frame/staking-rewards/src/lib.rs
Due: none

clean up after merge
  frame/composable-tests-helpers/src/test/helper.rs
  frame/nft/src/lib.rs
  frame/nft/src/test/helpers.rs
  frame/nft/src/test/nonfungibles/inspect.rs
  frame/nft/src/test/nonfungibles/transfer.rs
Due: none

fix build
  frame/composable-traits/src/financial_nft.rs
Due: none

Update frame/staking-rewards/README.md
  frame/staking-rewards/README.md
Due: none

feat(CH): implement capped funding rates (#1013)
  frame/clearing-house/proptest-regressions/tests/instruments.txt
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/math.rs
  frame/clearing-house/src/mock/accounts.rs
  frame/clearing-house/src/tests/create_market.rs
  frame/clearing-house/src/tests/instruments.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/tests/open_position.rs
  frame/clearing-house/src/tests/update_funding.rs
  frame/clearing-house/src/types.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CT): add liquidate method to ClearingHouse
  frame/clearing-house/src/lib.rs
  frame/composable-traits/src/clearing_house.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

chore(CT): add liquidator id to liquidate method
  frame/clearing-house/src/lib.rs
  frame/composable-traits/src/clearing_house.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): add liquidate extrinsic
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/weights.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Generalized create_market function. Renamed wrapper module for authority id
  frame/lending/src/mocks_offchain/authority_id_wrapper.rs
  frame/lending/src/mocks_offchain/mod.rs
  frame/lending/src/tests.rs
  frame/lending/src/tests_offchain.rs
Due: none

Changed loop to iterator in the authority id wrapper
  frame/lending/src/mocks_offchain/authority_id_wrapper.rs
Due: none

Update frame/lending/src/tests.rs
  frame/lending/src/tests.rs
Due: none

fix typo "UpdateInputVaild"
  frame/composable-traits/src/lending/mod.rs
  frame/lending/src/lib.rs
  frame/lending/src/tests.rs
Due: none

feat(cosmwasm): add generated polkadotjs types
  integration-tests/runtime-tests/src/types/interfaces/augment-api-consts.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-errors.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-events.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-query.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-rpc.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-tx.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-types.ts
  integration-tests/runtime-tests/src/types/interfaces/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/types.ts
Due: none

docs(CT): update ClearingHouse::liquidate
  frame/composable-traits/src/clearing_house.rs
Due: none

chore(CH): add SufficientCollateral error
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): add liquidate unit tests
  frame/clearing-house/src/tests/liquidate.rs
  frame/clearing-house/src/tests/mod.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

style(CH): trim and center comment sections
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(CH): organize Market attributes
  frame/clearing-house/src/types.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

chore(CH): add TODOs
  frame/clearing-house/src/tests/liquidate.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

rename "ensure_price" fn
  frame/lending/src/lib.rs
Due: none

Added checking of liquidation necessity in the off-chain worker function. Off-chain worker test checks if we liquidate only positions which supposed to be liquidated
  frame/lending/src/lib.rs
  frame/lending/src/mocks_offchain/mod.rs
  frame/lending/src/tests_offchain.rs
Due: none

Update CI config
  .github/workflows/check.yml
Due: none

Update CI config (#1019)
  .github/workflows/check.yml
Due: none

refactor(CH): simplify divisor times quotient calc
  frame/clearing-house/proptest-regressions/tests/update_funding.txt
  frame/clearing-house/src/math.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): reuse execution contexts
  frame/clearing-house/src/tests/mod.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(cosmwasm): simplify sub-message handling with `try_fold`
  frame/contracts/common/src/lib.rs
  frame/contracts/rpc/runtime-api/Cargo.toml
  frame/contracts/rpc/runtime-api/src/lib.rs
  frame/contracts/rpc/src/lib.rs
  frame/contracts/src/exec.rs
  frame/contracts/src/lib.rs
  node/src/runtime.rs
  runtime/composable/src/lib.rs
  runtime/dali/src/lib.rs
  runtime/picasso/src/lib.rs
Due: none

test(Runtime Integration Tests): Started implementation of assets pallet tests
  integration-tests/runtime-tests/test/tests/assets/test_configuration.json
  integration-tests/runtime-tests/test/tests/assets/txAssetsTests.ts
Due: none

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/clearing-house/ and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
