Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test, composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push
  - manual

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

clearing-house::cargo-test:
  name: clearing-house::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-fmt:
  name: composable-traits::cargo-fmt
  entry: cargo +nightly fmt --check -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-check:
  name: composable-traits::cargo-check
  entry: cargo +nightly check --all-targets -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-test:
  name: composable-traits::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-fmt:
  name: composable-maths::cargo-fmt
  entry: cargo +nightly fmt --check -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-check:
  name: composable-maths::cargo-check
  entry: cargo +nightly check --all-targets -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-test:
  name: composable-maths::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

don't deposit empty events
  frame/ibc/src/lib.rs
Due: none

[CU-2t7r07d] Integration Tests: Currency Factory (#1379)
  integration-tests/runtime-tests/src/types/interfaces/augment-api-consts.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-errors.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-events.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-query.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-tx.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-types.ts
  integration-tests/runtime-tests/src/types/interfaces/crowdloanRewards/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/crowdloanRewards/types.ts
  integration-tests/runtime-tests/src/types/interfaces/currencyFactory/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/currencyFactory/index.ts
  integration-tests/runtime-tests/src/types/interfaces/currencyFactory/types.ts
  integration-tests/runtime-tests/src/types/interfaces/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/pablo/types.ts
  integration-tests/runtime-tests/src/types/interfaces/types.ts
  integration-tests/runtime-tests/test/tests/currencyFactory/currencyFactoryTests.ts
  integration-tests/runtime-tests/test/tests/currencyFactory/test_configuration.json
Due: none

almost move all
  .nix/devnet-deploy.nix
  devnet-stage/default.nix
  devnet-stage/devnet-gce.nix
  devnet-stage/fuck.nix
  flake.nix
Due: none

nix blesses my path
  .nix/devnet-deploy.nix
  devnet-stage/devnet-gce.nix
  flake.nix
Due: none

chore(vamm): Update `pre-commit` test entry
  .pre-commit-config.yaml
Due: none

chore(vamm): Apply changes from `swap_simulation`
  frame/clearing-house/diagrams/clearing-house.plantuml
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/clearing-house/src/tests/mod.rs
  frame/composable-traits/src/vamm.rs
  frame/vamm/Cargo.toml
  frame/vamm/diagrams/function_swap_simulation.plantuml
  frame/vamm/proptest-regressions/tests/create_vamm.txt
  frame/vamm/proptest-regressions/tests/swap_simulation.txt
  frame/vamm/src/helpers/checks.rs
  frame/vamm/src/helpers/math.rs
  frame/vamm/src/helpers/mod.rs
  frame/vamm/src/helpers/price.rs
  frame/vamm/src/helpers/swap.rs
  frame/vamm/src/helpers/twap.rs
  frame/vamm/src/helpers/vamm.rs
  frame/vamm/src/lib.rs
  frame/vamm/src/mock.rs
  frame/vamm/src/tests/compute_invariant.rs
  frame/vamm/src/tests/constants.rs
  frame/vamm/src/tests/create_vamm.rs
  frame/vamm/src/tests/get_price.rs
  frame/vamm/src/tests/get_twap.rs
  frame/vamm/src/tests/helpers.rs
  frame/vamm/src/tests/helpers_propcompose.rs
  frame/vamm/src/tests/mod.rs
  frame/vamm/src/tests/move_price.rs
  frame/vamm/src/tests/swap.rs
  frame/vamm/src/tests/swap_simulation.rs
  frame/vamm/src/tests/types.rs
  frame/vamm/src/tests/update_twap.rs
  frame/vamm/src/types.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

test(vamm): assert storage don't change
  frame/vamm/src/tests/swap_simulation.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

Rebase with main
  Cargo.lock
  frame/composable-traits/src/dex.rs
  frame/composable-traits/src/staking/mod.rs
  frame/oracle/src/lib.rs
  frame/pablo/Cargo.toml
  frame/pablo/src/lib.rs
  frame/pablo/src/mock.rs
  frame/staking-rewards/src/lib.rs
  rfcs/0005-pablo-distribution.md
  runtime/common/src/lib.rs
  runtime/dali/src/lib.rs
  runtime/primitives/src/currency.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Add LP staking pool creation
  frame/composable-traits/src/dex.rs
  frame/composable-traits/src/staking/mod.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/mock.rs
  frame/staking-rewards/src/lib.rs
  runtime/dali/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Add simple test for staking reward in pablo
  frame/pablo/src/lib.rs
  frame/pablo/src/uniswap_tests.rs
  frame/staking-rewards/src/lib.rs
Due: none

Edits as per review comments
  frame/composable-traits/src/dex.rs
  frame/composable-traits/src/staking/mod.rs
  frame/composable-traits/src/time.rs
  frame/pablo/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Add pallet staking rewards as dependency in dex-router as pallet pablo needs it.
  Cargo.lock
  frame/dex-router/Cargo.toml
  frame/dex-router/src/mock.rs
Due: none

More changes as per review comments
  frame/composable-traits/src/dex.rs
  frame/dex-router/src/mock.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/mock.rs
  integration-tests/runtime-tests/test/tests/assets/rpcAssetsTests.ts
  runtime/common/src/lib.rs
  runtime/composable/src/lib.rs
  runtime/dali/src/lib.rs
  runtime/picasso/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Fix rpcAssets integration test
  integration-tests/runtime-tests/test/tests/assets/rpcAssetsTests.ts
Due: none

Add TODO comment for max rewards limit value for pablo reward pools
  frame/composable-traits/src/dex.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

#2kre8qx Connect wallet.
  frontend/apps/pablo/pages/_app.tsx
  frontend/apps/pablo/store/ui/ui.slice.ts
  frontend/apps/pablo/store/ui/ui.types.ts
  frontend/apps/pablo/store/ui/ui.utils.ts
  frontend/apps/pablo/updaters/wallet/Updater.tsx
Due: none

fix selection of default account
  frontend/apps/pablo/components/Organisms/Wallet/PolkadotConnect.tsx
  frontend/apps/pablo/updaters/wallet/Updater.tsx
  frontend/packages/substrate-react/src/dotsama/DotSamaContext.tsx
  frontend/packages/substrate-react/src/dotsama/types.ts
Due: none

fix do_claim logic
  frame/vesting/src/lib.rs
Due: none

cleanup and rename
  frame/composable-traits/src/vesting.rs
  frame/vesting/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

updated string
  frontend/apps/pablo/components/Organisms/Wallet/PolkadotConnect.tsx
Due: none

str
  frontend/apps/pablo/components/Organisms/Wallet/PolkadotConnect.tsx
Due: none

moved awau
  .nix/devnet-deploy.nix
  .nix/devnet-gce.nix
  devnet/README.md
  docs/nix.md
  flake.nix
Due: none

CU-2f7bbjk Add ProtocolFee struct and use it in FeeConfig (#1353)
  Cargo.lock
  frame/composable-traits/src/dex.rs
  frame/composable-traits/src/staking/mod.rs
  frame/composable-traits/src/time.rs
  frame/dex-router/Cargo.toml
  frame/dex-router/src/mock.rs
  frame/oracle/src/lib.rs
  frame/pablo/Cargo.toml
  frame/pablo/src/lib.rs
  frame/pablo/src/mock.rs
  frame/pablo/src/uniswap_tests.rs
  frame/staking-rewards/src/lib.rs
  integration-tests/runtime-tests/test/tests/assets/rpcAssetsTests.ts
  rfcs/0005-pablo-distribution.md
  runtime/common/src/lib.rs
  runtime/composable/src/lib.rs
  runtime/dali/src/lib.rs
  runtime/picasso/src/lib.rs
  runtime/primitives/src/currency.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

log errors
  frame/ibc/src/lib.rs
Due: none

feat(composable): fix ss58prefix constant to match chainspec
  runtime/composable/src/lib.rs
Due: none

change reward type to RewardRate struct
  frame/composable-traits/src/staking/mod.rs
  frame/staking-rewards/src/benchmarking.rs
  frame/staking-rewards/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Remove obsolete LastUpdateTimestamp storage
  frame/staking-rewards/src/lib.rs
Due: none

Update tests and benchmarking to use new RewardRate model
  frame/staking-rewards/src/benchmarking.rs
  frame/staking-rewards/src/test/mod.rs
Due: none

Update RewardRate constructors
  frame/composable-traits/src/staking/mod.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Implement fn acumulate_rewards_hook
  frame/composable-traits/src/staking/mod.rs
  frame/staking-rewards/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Update acumulate_rewards_hook
  frame/staking-rewards/src/benchmarking.rs
  frame/staking-rewards/src/lib.rs
  frame/staking-rewards/src/weights.rs
  runtime/dali/src/weights/pallet_staking_rewards.rs
Due: none

Remove redundant type annotation
  frame/staking-rewards/src/lib.rs
Due: none

Simplify reward update calculation and fix benchmarks
  frame/staking-rewards/src/benchmarking.rs
  frame/staking-rewards/src/lib.rs
  frame/staking-rewards/src/weights.rs
  runtime/dali/src/weights/pallet_staking_rewards.rs
Due: none

Update name of reward_acumulation_hook_reward_update_calculation benchmark
  frame/staking-rewards/src/benchmarking.rs
Due: none

rename update_reward to reward_acumulation_hook_reward_update_calculation
  frame/staking-rewards/src/benchmarking.rs
  frame/staking-rewards/src/lib.rs
Due: none

Fix benchmarks
  frame/staking-rewards/src/benchmarking.rs
Due: none

Change unwrap call to expect
  frame/staking-rewards/src/lib.rs
Due: none

Refactor RewardAccumulationError to correctly report asset that errored
  frame/staking-rewards/src/benchmarking.rs
  frame/staking-rewards/src/lib.rs
Due: none

Refactor reward_acumulation_hook_reward_update_calculation
  frame/staking-rewards/src/lib.rs
Due: none

Slight refactor to reward update calculation
  frame/staking-rewards/src/lib.rs
Due: none

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  clearing-house::cargo-test: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
  composable-traits::cargo-fmt: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-check: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-test: any of: ^frame/composable-traits/ and \.rs$
  composable-maths::cargo-fmt: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-check: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-test: any of: ^frame/composable-maths/ and \.rs$
