Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test, composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push
  - manual

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

clearing-house::cargo-test:
  name: clearing-house::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-fmt:
  name: composable-traits::cargo-fmt
  entry: cargo +nightly fmt --check -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-check:
  name: composable-traits::cargo-check
  entry: cargo +nightly check --all-targets -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-test:
  name: composable-traits::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-fmt:
  name: composable-maths::cargo-fmt
  entry: cargo +nightly fmt --check -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-check:
  name: composable-maths::cargo-check
  entry: cargo +nightly check --all-targets -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-test:
  name: composable-maths::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

Update docs/byog.md
  docs/byog.md
Due: none

feat(cosmwasm): charge gas in `db_next`
  frame/cosmwasm/src/lib.rs
Due: none

test(CH): ensure update_funding updates oracle TWAP
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

works. added LoanInfo
  frame/composable-traits/src/undercollateralized_loans/configs.rs
  frame/composable-traits/src/undercollateralized_loans/mod.rs
  frame/undercollateralized-loans/src/helpers/general.rs
  frame/undercollateralized-loans/src/helpers/getters.rs
  frame/undercollateralized-loans/src/helpers/offchain.rs
  frame/undercollateralized-loans/src/helpers/on_initialize.rs
  frame/undercollateralized-loans/src/impls/undercollateralized_loans.rs
  frame/undercollateralized-loans/src/lib.rs
  frame/undercollateralized-loans/src/mocks.rs
  frame/undercollateralized-loans/src/tests/loan.rs
  frame/undercollateralized-loans/src/tests/mod.rs
  frame/undercollateralized-loans/src/tests/prelude.rs
  frame/undercollateralized-loans/src/types.rs
  frame/undercollateralized-loans/src/validation.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

emit PriceChanged event when price changes on Oracle for PICA or PABLO
  frame/oracle/src/benchmarking.rs
  frame/oracle/src/lib.rs
  frame/oracle/src/tests.rs
  integration-tests/runtime-tests/src/types/interfaces/augment-api-consts.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-errors.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-events.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-query.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-tx.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-types.ts
  integration-tests/runtime-tests/src/types/interfaces/crowdloanRewards/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/crowdloanRewards/types.ts
  integration-tests/runtime-tests/test/tests/oracle/HAL01-Tests.ts
  integration-tests/runtime-tests/test/tests/oracle/HAL02-Tests.ts
  integration-tests/runtime-tests/test/tests/oracle/testHandlers/addAssetAndInfoTests.ts
  integration-tests/runtime-tests/test/tests/oracle/txOracleTests.ts
Due: none

test(CH): remove hardcoded value
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

test(CH): ensure update_funding updates vamm TWAP
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

test(CH): separate tests in modules
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

test(CH): check if vAMM TWAP gets updated in a block
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

unit tests
  Cargo.lock
  frame/ibc/Cargo.toml
  frame/ibc/primitives/Cargo.toml
  frame/ibc/primitives/src/lib.rs
  frame/ibc/primitives/src/runtime_interface.rs
  frame/ibc/src/benchmarks/tendermint_benchmark_utils.rs
  frame/ibc/src/impls.rs
  frame/ibc/src/lib.rs
  frame/ibc/src/mock.rs
  frame/ibc/src/tests.rs
  frame/ibc/transfer/src/lib.rs
  frame/staking-rewards/src/lib.rs
  node/src/service.rs
  runtime/dali/src/lib.rs
  scripts/polkadot-launch/composable.json
Due: none

test(CH): ensure vAMM TWAP updates upon swap
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

test(CH): ensure update_funding blocks for index-mark divergence
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

unit tests (#1486)
  Cargo.lock
  frame/ibc/Cargo.toml
  frame/ibc/primitives/Cargo.toml
  frame/ibc/primitives/src/lib.rs
  frame/ibc/primitives/src/runtime_interface.rs
  frame/ibc/src/benchmarks/tendermint_benchmark_utils.rs
  frame/ibc/src/impls.rs
  frame/ibc/src/lib.rs
  frame/ibc/src/mock.rs
  frame/ibc/src/tests.rs
  frame/ibc/transfer/src/lib.rs
  frame/staking-rewards/src/lib.rs
  node/src/service.rs
  runtime/dali/src/lib.rs
  scripts/polkadot-launch/composable.json
Due: none

test(CH): add collateral check in update_funding
  frame/clearing-house/src/tests/update_funding.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

test(CH): ensure clearing house receives funding
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

Karel/onboarding (#1304)
  docs/onboarding/README.md
  docs/onboarding/basics/1-consensus-and-blockchain.md
  docs/onboarding/basics/10-ibc.md
  docs/onboarding/basics/11-xcvm.md
  docs/onboarding/basics/12-working-at-composable.md
  docs/onboarding/basics/2-smart-contracts.md
  docs/onboarding/basics/3-bridging-and-crosschain.md
  docs/onboarding/basics/4-digital-assets.md
  docs/onboarding/basics/5-automated-market-makers.md
  docs/onboarding/basics/6-decentralized-lending.md
  docs/onboarding/basics/7-polkadot.md
  docs/onboarding/basics/8-cosmos.md
  docs/onboarding/basics/9-near.md
  docs/onboarding/basics/README.md
  docs/onboarding/basics/references.md
Due: none

next up: set up bounded vecs in config
  frame/composable-traits/src/pool.rs
  frame/pool/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

some cross chain updates
  .nix/acala-bin.nix
  docs/currency.md
  flake.nix
  utils/xcmp/awesome-xcmp.md
Due: none

cross chain stuff into cachix
  .github/workflows/build-test-deploy.yml
  flake.nix
Due: none

acala fetchgit is not determinisic????
  .nix/acala-bin.nix
Due: none

ci(Mergify): configuration update
  .mergify.yml
Due: none

merge pallet-ibc-transfer into pallet-ibc
  Cargo.lock
  Cargo.toml
  frame/ibc/Cargo.toml
  frame/ibc/src/ics20/context.rs
  frame/ibc/src/ics20/mod.rs
  frame/ibc/src/impls.rs
  frame/ibc/src/lib.rs
  frame/ibc/src/routing.rs
  frame/ibc/src/weight.rs
  frame/ibc/transfer/Cargo.toml
  frame/ibc/transfer/src/benchmarking.rs
  frame/ibc/transfer/src/lib.rs
  frame/ibc/transfer/src/weight.rs
  runtime/dali/Cargo.toml
  runtime/dali/src/lib.rs
  runtime/dali/src/weights/mod.rs
Due: none

pallet_ibc compiles for no_std
  frame/ibc/src/ics20/mod.rs
Due: none

feat(cosmwasm): use `CosmwasmVM` for iterator storage
  frame/cosmwasm/src/lib.rs
  frame/cosmwasm/src/runtimes/wasmi.rs
  runtime/dali/src/lib.rs
Due: none

add ics20 benchmarks
  frame/ibc/src/benchmarks/benchmarking.rs
Due: none

rename log target to pallet_ibc
  frame/ibc/src/ics20/context.rs
  frame/ibc/src/ics20/mod.rs
  frame/ibc/src/impls.rs
  frame/ibc/src/lib.rs
Due: none

ci(Mergify): configuration update (#1488)
  .mergify.yml
Due: none

use enum for account id in transfer params
  Cargo.lock
  frame/ibc/Cargo.toml
  frame/ibc/src/lib.rs
  frame/ibc/src/tests.rs
Due: none

minor fix
  frame/ibc/src/lib.rs
Due: none

change channel id to u64 in transfer params
  frame/ibc/src/lib.rs
  frame/ibc/src/tests.rs
Due: none

draft of local geneis state
  .gitignore
  flake.nix
  xcvm/cosmos/genesis.nix
  xcvm/cosmos/junod/.junod/keyring-file/alice.info
  xcvm/cosmos/junod/.junod/keyring-file/d2143edd343d743308314bbf0711e7488f8c71d6.address
  xcvm/cosmos/junod/.junod/keyring-file/keyhash
  xcvm/cosmos/junod/README.md
Due: none

data derivation
  flake.nix
  xcvm/cosmos/genesis.nix
Due: none

data derivation
  xcvm/cosmos/genesis.nix
  xcvm/cosmos/junod/.juno/keyring-file/alice.info
  xcvm/cosmos/junod/.juno/keyring-file/d2143edd343d743308314bbf0711e7488f8c71d6.address
  xcvm/cosmos/junod/.juno/keyring-file/keyhash
Due: none

rename event in benchmarking
  frame/ibc/src/benchmarks/benchmarking.rs
Due: none

proper events and docs
  frame/ibc/src/ics20/mod.rs
  frame/ibc/src/lib.rs
Due: none

finish tests for vesting pallet
  integration-tests/runtime-tests/test/tests/vesting/testHandlers/vestingHelper.ts
  integration-tests/runtime-tests/test/tests/vesting/vestingTests.ts
Due: none

Add tests for vesting pallet. wip
  integration-tests/runtime-tests/test/tests/vesting/testHandlers/vestingHelper.ts
  integration-tests/runtime-tests/test/tests/vesting/vestingTests.ts
Due: none

fix type issues
  integration-tests/runtime-tests/src/types/interfaces/augment-api-consts.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-errors.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-events.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-query.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-rpc.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-runtime.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-tx.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-types.ts
  integration-tests/runtime-tests/src/types/interfaces/vesting/index.ts
  integration-tests/runtime-tests/src/types/interfaces/vesting/types.ts
  integration-tests/runtime-tests/test/tests/vesting/vestingTests.ts
Due: none

remove unused variables. fix wallet derive and usdt id issues. Add balances check
  integration-tests/runtime-tests/test/tests/vesting/vestingTests.ts
Due: none

test(integration-tests/vesting): Fixing issues.
  integration-tests/runtime-tests/src/types/interfaces/augment-api-consts.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-errors.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-events.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-query.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-tx.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-types.ts
  integration-tests/runtime-tests/src/types/interfaces/crowdloanRewards/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/crowdloanRewards/types.ts
  integration-tests/runtime-tests/src/types/interfaces/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/types.ts
  integration-tests/runtime-tests/src/types/interfaces/vesting/definitions.ts
  integration-tests/runtime-tests/test/tests/vesting/vestingTests.ts
Due: none

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  clearing-house::cargo-test: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
  composable-traits::cargo-fmt: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-check: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-test: any of: ^frame/composable-traits/ and \.rs$
  composable-maths::cargo-fmt: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-check: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-test: any of: ^frame/composable-maths/ and \.rs$
