Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test, composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  clearing-house::cargo-test: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
  composable-traits::cargo-fmt: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-check: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-test: any of: ^frame/composable-traits/ and \.rs$
  composable-maths::cargo-fmt: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-check: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-test: any of: ^frame/composable-maths/ and \.rs$

Fix Packet Acknowledgement storage (#1535)
  frame/ibc/rpc/src/events.rs
  frame/ibc/rpc/src/lib.rs
  frame/ibc/src/impls.rs
  frame/ibc/src/lib.rs
  frame/ibc/src/tests.rs
Due: none

ci(cspell): ignore node/*/res folder
  cspell.yaml
Due: none

feat(subsquid): allow for env to provide endpoints
  subsquid/src/processor.ts
Due: none

feat(polkadot-launch): reachable polkadot from docker
  scripts/polkadot-launch/network-builder.nix
  scripts/polkadot-launch/rococo-local-dali-dev.nix
Due: none

feat(nix): proper docker networking for devnet
  .nix/arion-pure.nix
  .nix/arion-xcvm.nix
  .nix/services/devnet-dali.nix
  .nix/services/postgres.nix
  .nix/services/redis.nix
  .nix/services/subsquid-indexer-gateway.nix
  .nix/services/subsquid-indexer-status-service.nix
  .nix/services/subsquid-indexer.nix
  .nix/services/subsquid-processor.nix
  flake.lock
  flake.nix
Due: none

feat(nix): proper xcvm networking for juno+composable
  .nix/arion-pure.nix
  .nix/arion-xcvm.nix
  .nix/services/hasura.nix
  .nix/services/juno-subql.nix
  .nix/services/junod.nix
  .nix/services/subql-query.nix
  flake.nix
  scripts/polkadot-launch/network-builder.nix
Due: none

fix parachain heads proof (#25)
  prover/src/helpers.rs
  prover/src/lib.rs
  prover/src/relay_chain_queries.rs
Due: none

bump ibc-rs, beefy-rs
  Cargo.lock
  frame/ibc/Cargo.toml
  frame/ibc/ping/Cargo.toml
  frame/ibc/primitives/Cargo.toml
  frame/ibc/rpc/Cargo.toml
  runtime/dali/Cargo.toml
Due: none

start baking
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/build-test-deploy.yml
  Dockerfile
Due: none

nix build --no-link .#homeConfigurations.vscode..activationPackage -L --show-trace && \clean
  .devcontainer/Dockerfile
Due: none

no used code and posstat fx of remote
  .devcontainer/devcontainer.json
  Dockerfile
Due: none

Host consensus state proofs (#21)
  Cargo.lock
  Cargo.toml
  near/Cargo.toml
  near/src/chain.rs
  near/src/error.rs
  near/src/lib.rs
  near/src/provider.rs
  parachain/Cargo.toml
  parachain/src/calls.rs
  parachain/src/chain.rs
  parachain/src/error.rs
  parachain/src/lib.rs
  parachain/src/provider.rs
  primitives/Cargo.toml
  primitives/src/lib.rs
  src/events.rs
  src/lib.rs
  src/messages.rs
  tests/parachain/common.rs
Due: none

fix(oracle-setup): Fixed after oracle pallet updates.
  composablejs/packages/oracle_setup/src/config.json
  composablejs/packages/oracle_setup/src/handlers.ts
Due: none

chore: spellchecking monorepo & text formatting
  book/src/ecosystem/build-on-composable-ecosystem-development/composable-grants.md
  book/src/ecosystem/composable-grants.md
Due: none

feat(twap): Add data processing and graph
  frame/composable-maths/Cargo.toml
  frame/composable-maths/src/labs/twap/mod.rs
  frame/composable-maths/src/labs/twap/tests/unit.rs
Due: composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

ci(cspell): extending config to match against specified languages
  cspell.yaml
Due: none

chore(cspell): spellchecking monorepo & text formatting
  .config/spellcheck.dic
  book/src/SUMMARY.md
  book/src/products/centauri/cosmos11-BEEFY-COSMOS-IBC-light-client.md
  book/src/products/chaos/use-cases.md
  book/src/products/cross-chain-virtual-machine/routing-layer.md
  book/src/products/cross-chain-virtual-machine/writing-smart-contracts-with-cosmwasm.md
  book/src/products/cubic/additional-details.md
  book/src/products/cubic/cubic.md
  book/src/products/mosaic-overview.md
  book/src/products/mosaic/mosaic-phase1-result.md
  book/src/products/pablo/auctions-bonding.md
  book/src/products/pablo/xPBLO-fNFT-staking.md
  book/src/products/technical-stack-overview.md
  book/src/products/the-picasso-parachain/the-picasso-tech-stack/angular.md
  clippy.toml
  composablejs/packages/bootstrap_pallets/README.md
  composablejs/packages/bootstrap_pallets/src/lib/pallets/mosaic/extrinsics.ts
  docs/onboarding/basics/1-consensus-and-blockchain.md
  flake.nix
Due: none

remove unused error
  frame/lending/src/lib.rs
Due: none

q
  frame/lending/src/helpers.rs
  frame/lending/src/helpers/borrow.rs
  frame/lending/src/helpers/collateral.rs
  frame/lending/src/helpers/liquidation.rs
  frame/lending/src/helpers/market.rs
  frame/lending/src/helpers/offchain_workers.rs
  frame/lending/src/helpers/price.rs
  frame/lending/src/impls/lending.rs
  frame/lending/src/lib.rs
Due: none

Update pablo project id
  .github/workflows/build-test-deploy.yml
Due: none

hyperspace-testsuite
  .DS_Store
  Cargo.lock
  Cargo.toml
  tests/common/mod.rs
  tests/parachain_ibc_test.rs
  tests/parachain_token_transfer.rs
  tests/set_up_transfer_channel.rs
  testsuite/Cargo.toml
  testsuite/src/lib.rs
Due: none

Update pablo credentials
  .github/workflows/build-test-deploy.yml
Due: none

feat(pablo): add liquidity by single asset only
  frame/composable-maths/src/dex/constant_product.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/uniswap.rs
Due: composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

fix(composable-maths): use `Decimal` numbers for arithmetic
  frame/composable-maths/src/dex/constant_product.rs
  frame/pablo/Cargo.toml
Due: composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

test(pablo): create primitive test for single asset deposit
  frame/pablo/src/common_test_functions.rs
  frame/pablo/src/uniswap_tests.rs
Due: none

test(pablo): compare minted lp with manually calculated
  frame/pablo/src/uniswap_tests.rs
Due: none

fix(composable-maths): use safe operation for addition with one
  frame/composable-maths/src/dex/constant_product.rs
Due: composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

feat(composable-maths): implement computing of amount single asset for LP tokens
  frame/composable-maths/src/dex/constant_product.rs
Due: composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

feat(pablo): add the parameter for liquidity removal function in case of a single asset
  frame/composable-traits/src/dex.rs
  frame/dex-router/src/benchmarking.rs
  frame/dex-router/src/lib.rs
  frame/dex-router/src/tests.rs
  frame/pablo/rpc/src/lib.rs
  frame/pablo/runtime-api/src/lib.rs
  frame/pablo/src/benchmarking.rs
  frame/pablo/src/common_test_functions.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/liquidity_bootstrapping_tests.rs
  frame/pablo/src/stable_swap_tests.rs
  frame/pablo/src/uniswap_tests.rs
  runtime/dali/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

test(pablo): adopt `common_remove_lp_failure` test helper for single asset
  frame/pablo/src/common_test_functions.rs
Due: none

test(pablo): create a primitive test for single asset withdraw
  frame/composable-maths/src/dex/constant_product.rs
  frame/pablo/src/uniswap_tests.rs
Due: composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

feat(pablo): introduce a fee for single-asset deposit
  frame/composable-traits/src/dex.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/liquidity_bootstrapping.rs
  frame/pablo/src/stable_swap.rs
  frame/pablo/src/uniswap.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

test(pablo): implement test for adding liquidity with fees for a single asset
  frame/composable-traits/src/dex.rs
  frame/pablo/src/common_test_functions.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/uniswap.rs
  frame/pablo/src/uniswap_tests.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

test(traits): implement tests for fees with a single asset
  frame/composable-traits/src/dex.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

test(pablo): implement proptest for add/remove liquidity for single asset
  frame/pablo/src/common_test_functions.rs
  frame/pablo/src/uniswap_tests.rs
Due: none

test(pablo): add parameters for add/remove liquidity with single asset proptest
  frame/pablo/src/uniswap_tests.rs
Due: none
