Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - push

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly test --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

feat(vamm): Add `Swapped` event
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

feat(vamm): Make `swap` a transactional function
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

docs(vamm): Update diagram reference for `swap` function
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

docs(vamm): Add diagram for the `swap` function
  frame/vamm/diagrams/function_swap.plantuml
Due: none

test(CH): split tests into modules
  frame/clearing-house/src/tests/add_margin.rs
  frame/clearing-house/src/tests/create_market.rs
  frame/clearing-house/src/tests/instruments.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/tests/open_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): update price ranges
  frame/clearing-house/src/tests/mod.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): try reducing position by percentages
  frame/clearing-house/src/tests/open_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

weight issue is fixed
  Makefile
  frame/pablo/src/weights.rs
  runtime/dali/src/weights/dutch_auction.rs
  scripts/benchmark.sh
Due: none

AccountId32 fixed for runtime
  runtime/composable/src/lib.rs
  runtime/dali/src/lib.rs
  runtime/picasso/src/lib.rs
Due: none

Fix bugs
  subsquid/db/migrations/1651047350501-PabloInit.js
  subsquid/lib/processor.js
  subsquid/lib/processor.js.map
  subsquid/schema.graphql
  subsquid/src/model/generated/pabloPool.model.ts
  subsquid/src/model/generated/pabloPoolAsset.model.ts
  subsquid/src/pabloProcessor.ts
  subsquid/src/processor.ts
Due: none

Fix bugs
  subsquid/db/migrations/1651135717508-PabloInit.js
Due: none

Simplify code as per suggestions on PR reviews.
  frame/composable-traits/src/dex.rs
  frame/dex-router/src/lib.rs
Due: none

chore(CH): remove unnecessary Integer type bound
  Cargo.lock
  frame/clearing-house/Cargo.toml
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): one proptest to rule them all
  frame/clearing-house/src/tests/open_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Process Swaps
  frame/pablo/src/lib.rs
  subsquid/lib/processor.js
  subsquid/lib/processor.js.map
  subsquid/src/pabloProcessor.ts
  subsquid/src/processor.ts
Due: none

Add who to transaction
  subsquid/db/migrations/1651146575345-PabloInit.js
  subsquid/schema.graphql
  subsquid/src/model/generated/pabloTransaction.model.ts
  subsquid/src/pabloProcessor.ts
Due: none

Correct price calculation
  subsquid/src/pabloProcessor.ts
Due: none

DexRouter Improvements: (#906)
  Cargo.lock
  frame/composable-traits/src/dex.rs
  frame/curve-amm/src/benchmarking.rs
  frame/curve-amm/src/lib.rs
  frame/curve-amm/src/tests.rs
  frame/dex-router/Cargo.toml
  frame/dex-router/src/benchmarking.rs
  frame/dex-router/src/lib.rs
  frame/dex-router/src/mock.rs
  frame/dex-router/src/tests.rs
  frame/dex-router/src/weights.rs
  frame/liquidity-bootstrapping/src/benchmarking.rs
  frame/liquidity-bootstrapping/src/lib.rs
  frame/liquidity-bootstrapping/src/tests.rs
  frame/pablo/src/benchmarking.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/liquidity_bootstrapping_tests.rs
  frame/pablo/src/stable_swap_tests.rs
  frame/pablo/src/uniswap_tests.rs
  frame/uniswap-v2/src/benchmarking.rs
  frame/uniswap-v2/src/lib.rs
  frame/uniswap-v2/src/tests.rs
  runtime/dali/Cargo.toml
  runtime/dali/src/lib.rs
  runtime/dali/src/weights/dex_router.rs
  runtime/dali/src/weights/mod.rs
Due: none

fix simnode runtime api impl
  Cargo.lock
  node/src/command.rs
  node/src/service.rs
  runtime/common/src/xcmp/mod.rs
  runtime/composable/Cargo.toml
  runtime/composable/src/lib.rs
  runtime/composable/src/xcmp.rs
  runtime/dali/Cargo.toml
  runtime/dali/src/lib.rs
  runtime/dali/src/xcmp.rs
  runtime/picasso/Cargo.toml
  runtime/picasso/src/lib.rs
  runtime/picasso/src/xcmp.rs
Due: none

AccountId32 disambiguate issue fixed
  runtime/composable/src/lib.rs
  runtime/composable/src/xcmp.rs
  runtime/dali/src/lib.rs
Due: none

Apply suggestions from code review
  subsquid/design.adoc
  subsquid/help.md
  subsquid/schema.graphql
Due: none

all issues for the command: SKIP_WASM_BUILD=1 cargo +nightly check --benches --all , is fixed
  Cargo.lock
  utils/collator-sidecar/Cargo.toml
  utils/faucet-server/Cargo.toml
  utils/faucet-server/src/main.rs
  utils/price-feed/Cargo.toml
Due: none

Review comments and adjustments
  subsquid/db/migrations/1651160130576-PabloInit.js
  subsquid/design.adoc
  subsquid/schema.graphql
  subsquid/src/model/generated/pabloTransaction.model.ts
  subsquid/src/pabloProcessor.ts
Due: none

test(CH): assert can create position with enough margin
  frame/clearing-house/src/tests/open_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Add a check of mdbook build in CI (#922)
  .github/workflows/check.yml
  book/src/pallets/vault/integration-guide.md
  book/src/products/mosaic/mural-nft-transfers-on-mosaic-via-the-summoner-vault/nft-contract-details.md
  docker/ci-linux.dockerfile
Due: none

test(CH): address lint warning
  frame/clearing-house/src/tests/open_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

docs(vamm): Remove title for `swap` diagram
  frame/vamm/diagrams/function_swap.plantuml
Due: none

test(CH): assert can decrease position below imr
  frame/clearing-house/src/tests/open_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

chore(vamm): Remove unneeded 'todo' `swap` diagram
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(CH): add mixed IMR scenario
  frame/clearing-house/proptest-regressions/tests/open_position.txt
  frame/clearing-house/src/tests/open_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): add TODO
  frame/clearing-house/src/tests/open_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(CH): use more descriptive variable name
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Add a running of benchmarks during a running of tests
  .github/workflows/check.yml
  Cargo.lock
  frame/assets/Cargo.toml
  frame/assets/src/lib.rs
  frame/bonded-finance/src/lib.rs
  frame/curve-amm/Cargo.toml
  frame/curve-amm/src/lib.rs
  frame/dex-router/Cargo.toml
  frame/dex-router/src/lib.rs
  frame/liquidity-bootstrapping/src/lib.rs
  frame/mosaic/Cargo.toml
  frame/mosaic/src/lib.rs
  frame/oracle/Cargo.toml
  frame/oracle/src/lib.rs
  frame/pablo/Cargo.toml
  frame/pablo/src/lib.rs
  frame/uniswap-v2/Cargo.toml
  frame/uniswap-v2/src/lib.rs
  frame/vault/Cargo.toml
  frame/vault/src/lib.rs
Due: none

Switch to polkadot-v0.9.18
  frame/pablo/src/weights.rs
  node/src/command.rs
  node/src/service.rs
  runtime/common/src/xcmp/mod.rs
  runtime/composable/src/lib.rs
  runtime/composable/src/xcmp.rs
  runtime/dali/src/lib.rs
  runtime/dali/src/weights/dutch_auction.rs
  runtime/dali/src/xcmp.rs
  runtime/picasso/src/lib.rs
  runtime/picasso/src/xcmp.rs
  utils/collator-sidecar/Cargo.toml
  utils/faucet-server/Cargo.toml
  utils/price-feed/Cargo.toml
Due: none

Formatting
  Cargo.toml
  runtime/composable/src/lib.rs
  runtime/dali/src/lib.rs
  utils/faucet-server/src/main.rs
Due: none

Update CONTRIBUTING.md
  docs/CONTRIBUTING.md
Due: none

[cu-28fuhh3] Adding Squid Entities and Design (#919)
  frame/pablo/src/lib.rs
  subsquid/daliDevVersions.json
  subsquid/db/migrations/1651160130576-PabloInit.js
  subsquid/design.adoc
  subsquid/help.md
  subsquid/lib/model/generated/account.model.js
  subsquid/lib/model/generated/account.model.js.map
  subsquid/lib/model/generated/historicalBalance.model.js
  subsquid/lib/model/generated/historicalBalance.model.js.map
  subsquid/lib/model/generated/index.js
  subsquid/lib/model/generated/index.js.map
  subsquid/lib/model/generated/marshal.js
  subsquid/lib/model/generated/marshal.js.map
  subsquid/lib/model/index.js
  subsquid/lib/model/index.js.map
  subsquid/lib/processor.js
  subsquid/lib/processor.js.map
  subsquid/lib/types/events.js
  subsquid/lib/types/events.js.map
  subsquid/lib/types/support.js
  subsquid/lib/types/support.js.map
  subsquid/lib/types/v2100.js
  subsquid/lib/types/v2100.js.map
  subsquid/package-lock.json
  subsquid/package.json
  subsquid/schema.graphql
  subsquid/scripts/reset-db.sh
  subsquid/src/dbHelper.ts
  subsquid/src/model/generated/_pabloTransactionType.ts
  subsquid/src/model/generated/index.ts
  subsquid/src/model/generated/pabloPool.model.ts
  subsquid/src/model/generated/pabloPoolAsset.model.ts
  subsquid/src/model/generated/pabloTransaction.model.ts
  subsquid/src/pabloProcessor.ts
  subsquid/src/processor.ts
  subsquid/src/types/events.ts
  subsquid/src/types/v2100.ts
  subsquid/typegen.json
Due: none

remove angular pages
  book/src/SUMMARY.md
  book/src/products/angular/angular-token.md
  book/src/products/angular/foreign-assets.md
  book/src/products/angular/img/angular_logo-1500x500.png
  book/src/products/angular/img/technical-specification/graph-curved-model.png
  book/src/products/angular/img/technical-specification/graph-double-exponent-model.png
  book/src/products/angular/img/technical-specification/graph-jump-model.png
  book/src/products/angular/product-brief.md
  book/src/products/angular/socials.md
  book/src/products/angular/technical-specification.md
  book/src/products/angular/technical-specification/collateral.md
  book/src/products/angular/technical-specification/collateral/nfts.md
  book/src/products/angular/technical-specification/liquidations.md
  book/src/products/angular/technical-specification/liquidations/implementation.md
  book/src/products/angular/technical-specification/liquidations/liquidation-interface.md
  book/src/products/angular/technical-specification/liquidations/liquidation-interface/ibc.md
  book/src/products/angular/technical-specification/liquidations/liquidation-interface/xcm.md
  book/src/products/angular/technical-specification/models.md
  book/src/products/angular/technical-specification/oracle.md
  book/src/products/angular/technical-specification/pools.md
  book/src/products/angular/technical-specification/references.md
  book/src/products/angular/technical-specification/references/COM-LendingFeatures-030122-1046.pdf
  book/src/products/angular/technical-specification/undercollateralized-loans-leverage.md
Due: none

remove innovation availability layer page
  book/src/SUMMARY.md
  book/src/products/cross-chain-virtual-machine/ial.png
  book/src/products/cross-chain-virtual-machine/ibc-substrate-bridge.png
  book/src/products/cross-chain-virtual-machine/innovation-availability-layer.md
Due: none

Add a running of benchmarks during a running of tests (#928)
  .github/workflows/check.yml
  Cargo.lock
  frame/assets/Cargo.toml
  frame/assets/src/lib.rs
  frame/bonded-finance/src/lib.rs
  frame/curve-amm/Cargo.toml
  frame/curve-amm/src/lib.rs
  frame/dex-router/Cargo.toml
  frame/dex-router/src/lib.rs
  frame/liquidity-bootstrapping/src/lib.rs
  frame/mosaic/Cargo.toml
  frame/mosaic/src/lib.rs
  frame/oracle/Cargo.toml
  frame/oracle/src/lib.rs
  frame/pablo/Cargo.toml
  frame/pablo/src/lib.rs
  frame/uniswap-v2/Cargo.toml
  frame/uniswap-v2/src/lib.rs
  frame/vault/Cargo.toml
  frame/vault/src/lib.rs
Due: none

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/clearing-house/ and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
