Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:

    ########## Clearing House ##########
  - id: clearing-house::cargo-fmt
    name: clearing-house::cargo-fmt
    entry: cargo +nightly fmt --check -p clearing-house
    language: system
    pass_filenames: false
    stages: [commit, push]
    files: ^frame/clearing-house/
    types: [rust]
  - id: clearing-house::cargo-clippy
    name: clearing-house::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
    language: system
    pass_filenames: false
    stages: [push]
    files: ^frame/clearing-house/
    types: [rust]

    ########## VAMM ##########
  - id: vamm::cargo-fmt
    name: vamm::cargo-fmt
    entry: cargo +nightly fmt --check -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-check
    name: vamm::cargo-check
    entry: cargo +nightly check --all-targets -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-test
    name: vamm::cargo-test
    entry: cargo +nightly test --all-features --tests -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-clippy
    name: vamm::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p pallet-vamm -- -D warnings -D clippy::all
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]
  - id: vamm::cargo-doc
    name: vamm::cargo-doc
    entry: cargo +nightly doc --no-deps -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v8.0.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ['@commitlint/config-conventional']

formatting fixed
  frame/lending/src/tests.rs
Due: none

review
  subsquid/src/pabloProcessor.ts
Due: none

fixed build and comment
  Cargo.lock
  Makefile.toml
  frame/assets-registry/src/benchmarking.rs
  frame/assets-registry/src/lib.rs
  integration-tests/local-integration-tests/Cargo.toml
  integration-tests/local-integration-tests/src/lib.rs
  integration-tests/local-integration-tests/src/relaychain.rs
  integration-tests/local-integration-tests/src/statemine.rs
Due: none

[cu-28fuhkc] Subsquid Unit Tests + LiquidityRemoved & PoolDeleted events processing (#955)
  subsquid/.gitignore
  subsquid/lib/model/generated/account.model.js
  subsquid/lib/model/generated/account.model.js.map
  subsquid/lib/model/generated/historicalBalance.model.js
  subsquid/lib/model/generated/historicalBalance.model.js.map
  subsquid/lib/model/generated/index.js
  subsquid/lib/model/generated/index.js.map
  subsquid/lib/model/generated/marshal.js
  subsquid/lib/model/generated/marshal.js.map
  subsquid/lib/model/index.js
  subsquid/lib/model/index.js.map
  subsquid/lib/processor.js
  subsquid/lib/processor.js.map
  subsquid/lib/types/events.js
  subsquid/lib/types/events.js.map
  subsquid/lib/types/support.js
  subsquid/lib/types/support.js.map
  subsquid/lib/types/v2100.js
  subsquid/lib/types/v2100.js.map
  subsquid/package-lock.json
  subsquid/package.json
  subsquid/src/pabloProcessor.ts
  subsquid/src/processor.ts
  subsquid/test/pabloProcessorTest.ts
  subsquid/tsconfig-test.json
Due: none

better scoping for statics to avoid issues
  Makefile.toml
  integration-tests/local-integration-tests/src/cross_chain_transfer.rs
  integration-tests/local-integration-tests/src/helpers.rs
Due: none

feat(vamm): Add `invariant` to runtime storage
  Cargo.lock
  frame/vamm/proptest-regressions/tests/create_vamm.txt
  frame/vamm/src/lib.rs
  frame/vamm/src/tests/create_vamm.rs
  frame/vamm/src/tests/get_price.rs
  frame/vamm/src/tests/mod.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

docs(vamm): Add link to `swap` function in Pallet
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

[cu-2pbvg9e] Save pool stats as a time series
  subsquid/db/migrations/1651759469878-PabloInit.js
  subsquid/schema.graphql
  subsquid/src/dbHelper.ts
  subsquid/src/model/generated/pabloPool.model.ts
  subsquid/src/pabloProcessor.ts
  subsquid/src/processor.ts
  subsquid/test/pabloProcessorTest.ts
Due: none

fixing ED of new tests run with benches
  .github/workflows/check.yml
  Makefile.toml
  frame/oracle/src/benchmarking.rs
  runtime/common/src/lib.rs
Due: none

fixing review comments
  Makefile.toml
  frame/assets-registry/src/lib.rs
  frame/assets-registry/src/weights.rs
  runtime/dali/src/weights/assets_registry.rs
  runtime/picasso/src/weights/assets_registry.rs
  statemine.rs
Due: none

feat(CH): have Insurance Fund receive funding
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/update_funding.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(CH): store collateral type as StorageValue
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/tests/mod.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

style(CH): sort errors alphabetically
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

fix fix
  frame/oracle/src/benchmarking.rs
  frame/oracle/src/mock.rs
Due: none

feat(CH): add taker fee market param
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/create_market.rs
  frame/clearing-house/src/tests/instruments.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/types.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Updated the careers page link
  book/src/ecosystem/careers.md
Due: none

Removed meme from prevention section
  book/src/audits/code-fixes.md
Due: none

Update the FAQs page
  book/src/faqs/faqs.md
Due: none

test(CH): expect fees to be deducted from margin
  frame/clearing-house/src/tests/open_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

fixing ed tests
  .github/workflows/check.yml
Due: none

docs(CH): update market struct diagram
  frame/clearing-house/diagrams/clearing-house.plantuml
Due: none

docs(CH): update open_position seq diagram
  frame/clearing-house/diagrams/open-position.plantuml
Due: none

docs(CH): update update_funding seq diagram
  frame/clearing-house/diagrams/update-funding.plantuml
Due: none

feat(CH): add market fee pool and charge fees
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/instruments.rs
  frame/clearing-house/src/tests/open_position.rs
  frame/clearing-house/src/types.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): verify fee pool and taker fee init
  frame/clearing-house/src/tests/create_market.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): use fee pool rebates to pay funding
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/tests/open_position.rs
  frame/clearing-house/src/tests/update_funding.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): minor code improvements
  frame/clearing-house/src/tests/update_funding.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(vamm): Use `invariant` from runtime
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Add tests for `swap` functionality
  frame/vamm/src/tests/mod.rs
  frame/vamm/src/tests/swap_asset.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

Add 'current_interest_rate' RPC endpoint in pallet-lending
  Cargo.lock
  frame/lending/rpc/Cargo.toml
  frame/lending/rpc/src/lib.rs
  frame/lending/src/lib.rs
  runtime/common/Cargo.toml
  runtime/common/src/lib.rs
Due: none

Fix remarks
  frame/lending/src/lib.rs
Due: none

[cu-2pbvg9e] Save pool stats as a time series (#960)
  subsquid/db/migrations/1651759469878-PabloInit.js
  subsquid/schema.graphql
  subsquid/src/dbHelper.ts
  subsquid/src/model/generated/pabloPool.model.ts
  subsquid/src/pabloProcessor.ts
  subsquid/src/processor.ts
  subsquid/test/pabloProcessorTest.ts
Due: none

Add tests
  Cargo.lock
  frame/lending/runtime-api/Cargo.toml
  frame/lending/runtime-api/src/lib.rs
  frame/lending/src/tests.rs
  runtime/common/Cargo.toml
  runtime/common/src/lib.rs
Due: none

docs(CH): add update_funding refs to Pallet header
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

docs(CH): update clearing-house.plantuml
  frame/clearing-house/diagrams/clearing-house.plantuml
Due: none
