Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:

    ########## Clearing House ##########
  - id: clearing-house::cargo-fmt
    name: clearing-house::cargo-fmt
    entry: cargo +nightly fmt --check -p clearing-house
    language: system
    pass_filenames: false
    stages: [commit, push]
    files: ^frame/clearing-house/
    types: [rust]
  - id: clearing-house::cargo-clippy
    name: clearing-house::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
    language: system
    pass_filenames: false
    stages: [push]
    files: ^frame/clearing-house/
    types: [rust]

    ########## VAMM ##########
  - id: vamm::cargo-fmt
    name: vamm::cargo-fmt
    entry: cargo +nightly fmt --check -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-check
    name: vamm::cargo-check
    entry: cargo +nightly check --all-targets -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-test
    name: vamm::cargo-test
    entry: cargo +nightly test --all-features --tests -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-clippy
    name: vamm::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p pallet-vamm -- -D warnings -D clippy::all
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]
  - id: vamm::cargo-doc
    name: vamm::cargo-doc
    entry: cargo +nightly doc --no-deps -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v8.0.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ['@commitlint/config-conventional']

test(CH): partially liquidate while settling funding
  frame/clearing-house/src/tests/liquidate.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

chore(CH): remove TODO
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): change test case to more descriptive name
  frame/clearing-house/src/tests/liquidate.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Fix test fails
  frontend/ui-pablo/app/jest.setup.js
Due: none

docs(mdbook XCVM update): update text and summary
  book/src/SUMMARY.md
  book/src/book/src/products/cross-chain-virtual-machine/how-the-xcvm-works.md
  book/src/book/src/products/cross-chain-virtual-machine/routing-layer-libraries.md
  book/src/book/src/products/cross-chain-virtual-machine/writing-smart-contracts-with-cosmwasm.md
  book/src/products/cross-chain-virtual-machine.md
  book/src/products/cross-chain-virtual-machine/cross-chain-lending-example-composable-xcvm.jpg
  book/src/products/cross-chain-virtual-machine/how-the-xcvm-works.md
  book/src/products/cross-chain-virtual-machine/how-xcvm-works.jpg
  book/src/products/cross-chain-virtual-machine/ial.png
  book/src/products/cross-chain-virtual-machine/ibc-substrate-bridge.png
  book/src/products/cross-chain-virtual-machine/innovation-availability-layer.md
  book/src/products/cross-chain-virtual-machine/routing-layer-libraries.md
  book/src/products/cross-chain-virtual-machine/writing-smart-contracts-with-cosmwasm.md
  book/src/products/features-order-execution-xcvm-environment.jpg
  book/src/products/xcvm-example-use-case.png
  book/src/products/xcvm-ial-parachains.png
  book/src/products/xcvm-unites-ecosystems.jpg
Due: none

docs(vamm): Add `update_twap` diagram
  frame/vamm/diagrams/function_update_twap.plantuml
Due: none

docs(vamm): Add docs for `update_twap` function
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

feat(vamm): Add implementation for `update_twap`
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

refactor(vamm): Change `get_twap` signature
  frame/vamm/src/lib.rs
  frame/vamm/src/tests/get_twap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

docs(vamm): Format docs
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

style(vamm): Apply fmt and clippy
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

feat(vamm): Update twap for every swap operation
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

feat(vamm): Add `update_twap` method in Vamm trait
  frame/composable-traits/src/vamm.rs
Due: none

test(vamm): Unit tests for `update_twap`
  frame/vamm/proptest-regressions/tests/update_twap.txt
  frame/vamm/src/tests/mod.rs
  frame/vamm/src/tests/update_twap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

chore(vamm)
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

remove depth_of_history from public api
  frame/composable-traits/src/oracle.rs
  frame/lending/src/lib.rs
  frame/oracle/src/lib.rs
Due: none

set up state store for bonds
  frontend/ui-pablo/app/store/bonds/reducers.ts
  frontend/ui-pablo/app/store/bonds/slice.ts
  frontend/ui-pablo/app/store/bonds/types.ts
  frontend/ui-pablo/app/store/updaters/bonds/Updater.tsx
  frontend/ui-pablo/app/store/updaters/bonds/decodeBondOffer.ts
  frontend/ui-pablo/app/store/useStore.ts
Due: none

hook bonds store with ui
  frontend/ui-pablo/app/components/Organisms/AllBondTable.tsx
  frontend/ui-pablo/app/components/Organisms/YourBondTable.tsx
  frontend/ui-pablo/app/pages/_app.tsx
Due: none

Demo how error-generic Validate could work
  frame/composable-support/src/validation2.rs
  frame/composable-traits/src/defi.rs
  frame/composable-traits/src/lending/math.rs
  frame/composable-traits/src/lending/mod.rs
  frame/lending/src/benchmarking.rs
  frame/lending/src/lib.rs
  frame/lending/src/models/borrower_data.rs
  frame/lending/src/tests.rs
  frame/lending/src/validation2.rs
  frame/vault/src/benchmarking.rs
  frame/vault/src/lib.rs
  frame/vault/src/tests.rs
  frame/vault/src/validation.rs
Due: none

Add a playbook to deploy Subsquid
  .maintain/playbooks/dali-subsquid.yml
  .maintain/playbooks/templates/docker-compose/dali-subsquid.docker-compose.yml.j2
  .maintain/playbooks/templates/nginx/dali-subsquid-acme-challenge.conf.j2
  .maintain/playbooks/templates/nginx/dali-subsquid.conf.j2
  .maintain/playbooks/templates/systemd/dali-subsquid.service.j2
Due: none

Frontend-production-Vercel-deployment (#1099)
  frontend/ui-pablo/ignore-build.js
  frontend/ui-picasso/ignore-build.js
Due: none

start writing using-codespaces
  book/src/codespaces/using-codespaces.md
Due: none

improve using-codespaces.md
  book/src/codespaces/checkout-branch.png
  book/src/codespaces/commit-sidebar.png
  book/src/codespaces/create-codespace-on-main.png
  book/src/codespaces/open-the-workspace.png
  book/src/codespaces/open-vscode-dialog.png
  book/src/codespaces/opened-workspace.png
  book/src/codespaces/using-codespaces.md
Due: none

pull-request info
  book/src/codespaces/pull-request.png
  book/src/codespaces/using-codespaces.md
Due: none

finish using-codespaces.md
  book/src/SUMMARY.md
  book/src/codespaces/frontend.md
  book/src/codespaces/getting-started.md
  book/src/codespaces/inline-pr-comment.png
  book/src/codespaces/runtime-tests.md
  book/src/codespaces/substrate.md
  book/src/codespaces/using-codespaces.md
Due: none

book: codespaces substrate instruction
  book/src/codespaces/book-running-locally.png
  book/src/codespaces/book.md
  book/src/codespaces/runtime-tests.md
  book/src/codespaces/substrate-pallet-development.png
  book/src/codespaces/substrate.md
  book/src/editting-runtime-tests.png
  composable.code-workspace
Due: none

book: frontend guide for codespaces
  book/src/codespaces/frontend.md
Due: none

add zustand store
  frontend/ui-picasso/app/package.json
  frontend/ui-picasso/app/store/common.ts
  frontend/ui-picasso/app/store/middlewares/immer.ts
  frontend/ui-picasso/app/store/root.ts
  frontend/ui-picasso/app/store/types.ts
Due: none

Update book/src/codespaces.md
  book/src/codespaces.md
Due: none

Update book/src/codespaces/substrate.md
  book/src/codespaces/substrate.md
Due: none

use Percent for twap methods
  frame/composable-traits/src/oracle.rs
  frame/oracle/Cargo.toml
  frame/oracle/src/lib.rs
  frame/oracle/src/tests.rs
Due: none

test(vamm): Add event emission to `update_twap`
  frame/vamm/src/tests/update_twap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

fix(vamm): Typo in test function
  frame/vamm/src/tests/update_twap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

chore(vamm): Apply clippy changes
  frame/vamm/src/lib.rs
  frame/vamm/src/tests/update_twap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

Added new impl Validate structures. Validation added in suitable places of lending pallet. BoundedVec is used in liquidate().
  frame/composable-traits/src/lending/mod.rs
  frame/lending/src/benchmarking.rs
  frame/lending/src/lib.rs
  frame/lending/src/tests.rs
  frame/lending/src/tests_offchain.rs
Due: none

test(CH): update partial liquidation parameters
  frame/clearing-house/src/tests/liquidate.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

clippy suggestions
  frame/lending/src/lib.rs
Due: none
