Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - push

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly test --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

Added Council to Piccasso
  book/src/SUMMARY.md
  book/src/products/the-picasso-parachain/council.md
Due: none

Added image
  book/src/products/the-composable-parachain/composable-overview.md
  book/src/products/the-composable-parachain/tech-stack-overview.png
Due: none

docs(CH): add close_position seq diagram
  frame/clearing-house/diagrams/close-position.plantuml
Due: none

docs(CH): update add_margin seq diagram
  frame/clearing-house/diagrams/add-margin.plantuml
Due: none

docs(CH): color-code storage updates in seq diagrams
  frame/clearing-house/diagrams/add-margin.plantuml
  frame/clearing-house/diagrams/close-position.plantuml
  frame/clearing-house/diagrams/create-market.plantuml
  frame/clearing-house/diagrams/liquidate.plantuml
  frame/clearing-house/diagrams/open-position.plantuml
  frame/clearing-house/diagrams/remove-margin.plantuml
  frame/clearing-house/diagrams/update-funding.plantuml
Due: none

chore(CH): ignore unused import
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

style(CH): rename VammParams to VammConfig
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/clearing-house/src/tests.rs
  frame/composable-traits/src/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

fix(CH): raise appropriate arithmetic error
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

removed one TODO comment
  frame/instrumental-strategy-pablo/src/lib.rs
Due: none

style(CH): substitute 'nonnormalized' for 'unnormalized'
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): add Instruments trait (#850)
  frame/clearing-house/proptest-regressions/tests.txt
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/oracle.rs
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/clearing-house/src/tests.rs
  frame/composable-traits/src/clearing_house.rs
  frame/composable-traits/src/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(vamm): Change `VammParams` to `VammConfig`
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

docs(vamm): Add link to `Clearing House` pallet
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

feat(vamm): add create vamm functionality (#848)
  .pre-commit-config.yaml
  Cargo.lock
  frame/composable-traits/src/vamm.rs
  frame/vamm/Cargo.toml
  frame/vamm/README.md
  frame/vamm/src/lib.rs
  frame/vamm/src/mock.rs
  frame/vamm/src/tests.rs
  frame/vamm/src/weights.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

mdbook - Added Council to Piccasso (#863)
  book/src/SUMMARY.md
  book/src/products/the-picasso-parachain/council.md
Due: none

Added trait for RelayerManager
  frame/composable-traits/src/lib.rs
  frame/composable-traits/src/mosaic.rs
  frame/mosaic/src/lib.rs
Due: none

Added TransferTo trait
  frame/composable-traits/src/mosaic.rs
  frame/mosaic/src/lib.rs
Due: none

Added Claim trait
  frame/composable-traits/src/mosaic.rs
  frame/mosaic/src/lib.rs
Due: none

Added `accept_transfer` to RelayManager trait
  frame/composable-traits/src/mosaic.rs
  frame/mosaic/src/lib.rs
Due: none

Removed unused `clone()` calls
  frame/mosaic/src/lib.rs
Due: none

update backup script to use bootnode node class
  .github/workflows/picashot.yml
Due: none

update docker compose file
  docker-compose.yml
Due: none

test(Runtime Integration Tests): Fixing transactions stuck on failure.
  integration-tests/runtime-tests/src/utils/polkadotjs.ts
Due: none

[CU-294uhnq] Fixing minting issues & refactoring. (#826)
  integration-tests/runtime-tests/src/utils/polkadotjs.ts
  integration-tests/runtime-tests/test/tests/bondedFinance/txBondedFinanceTests.ts
  integration-tests/runtime-tests/test/tests/dexTests/constantProductDex/constantProductTests.ts
Due: none

use ci-linux to run test
  .github/workflows/test.yml
Due: none

run test inside composable-sandbox
  .github/workflows/test.yml
Due: none

Implement TWAP in pablo. Completely based on Hussein's work https://github.com/ComposableFi/composable/pull/727
  Cargo.lock
  frame/composable-maths/src/dex/mod.rs
  frame/composable-maths/src/dex/price.rs
  frame/composable-support/Cargo.toml
  frame/crowdloan-rewards/Cargo.toml
  frame/pablo/Cargo.toml
  frame/pablo/src/lib.rs
  frame/pablo/src/mock.rs
  frame/pablo/src/twap.rs
  frame/pablo/src/types.rs
  frame/pablo/src/uniswap_tests.rs
Due: none

allow manual trigger
  .github/workflows/docker-release.yml
Due: none

mdbook Addition - Composable Overview/Vision (#862)
  book/src/SUMMARY.md
  book/src/products/the-composable-parachain/composable-overview.md
  book/src/products/the-composable-parachain/tech-stack-overview.png
Due: none

Update CI config
  .github/workflows/test.yml
  src/tests.rs
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: none

Update CI config
  .github/workflows/test.yml
  docker-compose.yml
Due: none

docs(CH): update clearing-house.plantuml
  frame/clearing-house/diagrams/clearing-house.plantuml
Due: none

chore(CH): update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

fix(CH): reconcile Vamm trait interface requirements
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/clearing-house/src/tests.rs
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
  frame/vamm/src/mock.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

chore: fix typo in .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

`RelayManager` -> `RelayerInterface`
  frame/composable-traits/src/mosaic.rs
  frame/mosaic/src/lib.rs
Due: none

refactor(VammConfig): Small changes
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/clearing-house/src/tests.rs
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
  frame/vamm/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/clearing-house/ and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
