Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - push

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly test --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

currency proposal 1
  docs/glossary.md
  frame/assets-registry/README.md
  frame/assets-registry/src/lib.rs
  frame/bonded-finance/src/lib.rs
  frame/currency-factory/README.md
  frame/currency-factory/src/lib.rs
  frame/governance-registry/src/lib.rs
Due: none

currency update 2
  frame/assets-registry/README.md
  frame/governance-registry/src/lib.rs
  runtime/common/src/lib.rs
Due: none

Refactored `EcdsaSignature` into `composable_support::types` (#908)
  frame/composable-support/src/types/mod.rs
  frame/crowdloan-rewards/src/benchmarking.rs
  frame/crowdloan-rewards/src/lib.rs
  frame/crowdloan-rewards/src/mocks.rs
  frame/crowdloan-rewards/src/models.rs
  frame/crowdloan-rewards/src/tests.rs
Due: none

Linked mdbook and cargo docs in repo readme (#907)
  README.md
Due: none

[cu-265d6yn] Initial configuration of subsquid with dali-dev (#910)
  subsquid/.dockerignore
  subsquid/.eslintrc
  subsquid/.gitignore
  subsquid/Dockerfile
  subsquid/FAQ.md
  subsquid/LICENSE
  subsquid/Makefile
  subsquid/README.md
  subsquid/archive/docker-compose.yml
  subsquid/db/init.js
  subsquid/db/migrations/1650621419203-Init.js
  subsquid/docker-compose.yml
  subsquid/help.md
  subsquid/package-lock.json
  subsquid/package.json
  subsquid/schema.graphql
  subsquid/scripts/docker-run.sh
  subsquid/scripts/reset-db.sh
  subsquid/scripts/reset-schema.sh
  subsquid/src/model/generated/account.model.ts
  subsquid/src/model/generated/historicalBalance.model.ts
  subsquid/src/model/generated/index.ts
  subsquid/src/model/generated/marshal.ts
  subsquid/src/model/index.ts
  subsquid/src/processor.ts
  subsquid/src/types/events.ts
  subsquid/src/types/support.ts
  subsquid/src/types/v2100.ts
  subsquid/tsconfig.json
  subsquid/typegen.json
Due: none

Update docs of pallet-assets-registry
  frame/assets-registry/local-mapping.plantuml
  frame/assets-registry/src/lib.rs
Due: none

fixed spelling
  frame/assets-registry/README.md
  frame/currency-factory/README.md
Due: none

CU-1wtyb38 currency improvements proposals (#915)
  docs/glossary.md
  frame/assets-registry/README.md
  frame/assets-registry/src/lib.rs
  frame/bonded-finance/src/lib.rs
  frame/currency-factory/README.md
  frame/currency-factory/src/lib.rs
  frame/governance-registry/src/lib.rs
  runtime/common/src/lib.rs
Due: none

Fix ED related issue for DEX for creating new tokens.
  runtime/common/src/lib.rs
Due: none

test(CH): allow the use of .unwrap()
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): remove unnecessary extra margin
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): expect TradeSizeTooSmall error
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): ensure sufficiently large trade size
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(CH): encapsulate position increasing
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

dragt
  frame/composable-traits/src/currency.rs
  frame/currency-factory/src/lib.rs
Due: none

spelling
  rfcs/0003-xcmp-picasso-statemine.md
Due: none

refactor(CH): encapsulate position decreasing
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

adding bi bounded vect
  frame/composable-support/src/collections/vec/bounded/bi_bounded_vec.rs
  frame/composable-support/src/collections/vec/bounded/mod.rs
Due: none

tests are broken
  Cargo.lock
  utils/common/Cargo.toml
  utils/faucet-server/Cargo.toml
  utils/parachain-utils/Cargo.toml
Due: none

collator_options added to params
  node/src/service.rs
Due: none

#CU-2mtq0ng #xcmp to #statemine #playbook (#904)
  integration-tests/local-integration-tests/awesome-xcmp.md
  rfcs/0003-xcmp-picasso-statemine.md
Due: none

refactor(vamm): rename `Vamm` to `TestPallet`
  frame/vamm/src/mock.rs
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

Fix ED related issue for DEX for creating new tokens. (#914)
  runtime/common/src/lib.rs
Due: none

Update docs of pallet-assets-registry (#916)
  frame/assets-registry/local-mapping.plantuml
  frame/assets-registry/src/lib.rs
Due: none

godbless rust
  frame/composable-support/src/collections/vec/bounded/bi_bounded_vec.rs
  frame/composable-support/src/collections/vec/bounded/mod.rs
  frame/composable-traits/Cargo.toml
  frame/composable-traits/src/assets.rs
  frame/composable-traits/src/currency.rs
  frame/currency-factory/src/lib.rs
Due: none

refactor(vamm): change associated types for Vamm
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
  frame/vamm/src/mock.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

Move SafeArithmetic & WrappingNext to composable support
  Cargo.lock
  frame/composable-support/Cargo.toml
  frame/composable-support/src/lib.rs
  frame/composable-support/src/math/mod.rs
  frame/composable-support/src/math/safe.rs
  frame/composable-support/src/math/wrapping_next.rs
Due: none

Add StorageNonce
  frame/composable-support/src/storage/mod.rs
  frame/composable-support/src/storage/nonce.rs
Due: none

MIgrate all uses of composable-traits::math to composable-support::math::safe
  Cargo.lock
  frame/bonded-finance/src/lib.rs
  frame/composable-maths/Cargo.toml
  frame/composable-maths/src/dex/constant_product.rs
  frame/composable-support/src/storage/nonce.rs
  frame/composable-traits/src/bonded_finance.rs
  frame/composable-traits/src/currency.rs
  frame/composable-traits/src/dex.rs
  frame/composable-traits/src/lending/math.rs
  frame/composable-traits/src/lib.rs
  frame/composable-traits/src/math.rs
  frame/composable-traits/src/rate_model.rs
  frame/crowdloan-rewards/src/lib.rs
  frame/curve-amm/Cargo.toml
  frame/curve-amm/src/lib.rs
  frame/dutch-auction/Cargo.toml
  frame/dutch-auction/src/lib.rs
  frame/dutch-auction/src/math.rs
  frame/lending/src/lib.rs
  frame/lending/src/models.rs
  frame/liquidations/Cargo.toml
  frame/liquidations/src/lib.rs
  frame/liquidity-bootstrapping/src/lib.rs
  frame/mosaic/src/lib.rs
  frame/oracle/src/lib.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/liquidity_bootstrapping.rs
  frame/pablo/src/stable_swap.rs
  frame/pablo/src/uniswap.rs
  frame/uniswap-v2/Cargo.toml
  frame/uniswap-v2/src/lib.rs
Due: none

Refactor several nonces to use try_increment
  frame/bonded-finance/src/lib.rs
  frame/composable-support/src/storage/nonce.rs
  frame/crowdloan-rewards/src/lib.rs
  frame/curve-amm/src/lib.rs
  frame/lending/src/lib.rs
  frame/liquidity-bootstrapping/src/lib.rs
  frame/mosaic/src/lib.rs
  frame/oracle/src/lib.rs
  frame/pablo/src/liquidity_bootstrapping.rs
  frame/pablo/src/stable_swap.rs
  frame/pablo/src/uniswap.rs
  frame/privilege/src/lib.rs
  frame/uniswap-v2/src/lib.rs
  frame/vault/src/lib.rs
Due: none

Undo unintentional change
  frame/crowdloan-rewards/src/lib.rs
Due: none

Switch remaining pallets to composable_support
  Cargo.lock
Due: none

Switch remaining pallets to composable_support
  Cargo.lock
  frame/dex-router/Cargo.toml
  frame/dex-router/src/lib.rs
  frame/pablo/src/stable_swap.rs
  frame/pablo/src/uniswap_tests.rs
  frame/privilege/Cargo.toml
  frame/privilege/src/lib.rs
  frame/uniswap-v2/src/tests.rs
Due: none

Fix SafeArithmetic blanket impl
  frame/composable-support/src/math/safe.rs
Due: none

Fix doctests
  frame/composable-support/src/storage/nonce.rs
Due: none

Clippy
  frame/composable-support/src/lib.rs
  frame/composable-support/src/storage/nonce.rs
Due: none

Fix clippy errors
  frame/composable-support/src/math/safe.rs
  frame/composable-support/src/storage/nonce.rs
Due: none

Fix errors after rebase
  frame/composable-maths/src/dex/price.rs
  frame/composable-traits/src/lib.rs
Due: none

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/clearing-house/ and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
