Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test, composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  clearing-house::cargo-test: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
  composable-traits::cargo-fmt: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-check: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-test: any of: ^frame/composable-traits/ and \.rs$
  composable-maths::cargo-fmt: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-check: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-test: any of: ^frame/composable-maths/ and \.rs$

test(pablo): compare minted lp with manually calculated
  frame/pablo/src/uniswap_tests.rs
Due: none

test(pablo): create a primitive test for single asset withdraw
  frame/composable-maths/src/dex/constant_product.rs
  frame/pablo/src/uniswap_tests.rs
Due: composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

test(pablo): add parameters for add/remove liquidity with single asset proptest
  frame/pablo/src/uniswap_tests.rs
Due: none

test(pablo): implement proptest for add/remove liquidity for single asset
  frame/pablo/src/common_test_functions.rs
  frame/pablo/src/uniswap_tests.rs
Due: none

test(pablo): add a temporary limit for fees in case of a single asset deposit
  frame/pablo/proptest-regressions/uniswap_tests.txt
  frame/pablo/src/uniswap_tests.rs
Due: none

test(traits): implement tests for fees with a single asset
  frame/composable-traits/src/dex.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

feat(pablo): introduce a fee for single-asset deposit
  frame/composable-traits/src/dex.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/liquidity_bootstrapping.rs
  frame/pablo/src/stable_swap.rs
  frame/pablo/src/uniswap.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

test(pablo): implement test for adding liquidity with fees for a single asset
  frame/composable-traits/src/dex.rs
  frame/pablo/src/common_test_functions.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/uniswap.rs
  frame/pablo/src/uniswap_tests.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

style(pablo): invert logic of warn/allow attributes for the code and tests
  frame/pablo/src/lib.rs
Due: none

fix(pablo): fix small errors and apply clippy's recommendations
  frame/pablo/src/benchmarking.rs
  frame/pablo/src/common_test_functions.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/liquidity_bootstrapping_tests.rs
  frame/pablo/src/stable_swap_tests.rs
  frame/pablo/src/uniswap.rs
  frame/pablo/src/uniswap_tests.rs
Due: none

Fix build
  frontend/apps/pablo/components/Molecules/Snackbar/ThemeResponsiveSnackbar.tsx
  frontend/apps/picasso/components/Organisms/Bond/utils.ts
  frontend/apps/picasso/components/Organisms/Transfer/hooks.ts
  frontend/apps/picasso/components/Organisms/Transfer/utils.ts
  frontend/apps/picasso/defi/polkadot/pallets/Balance.ts
  frontend/apps/picasso/defi/polkadot/pallets/BondedFinance.ts
  frontend/apps/picasso/defi/polkadot/pallets/Oracle.ts
  frontend/apps/picasso/pages/transfers/index.tsx
  frontend/apps/picasso/stores/defi/polkadot/bonds/useClaim.tsx
  frontend/packages/shared/defi/getExistentialDeposit.ts
  frontend/packages/shared/defi/unit.ts
  frontend/packages/shared/index.ts
  frontend/yarn.lock
Due: none

[CU-2t7r06b] Integration Tests: Dex Router (#1403)
  integration-tests/runtime-tests/test/tests/dexRouter/dexRouterTests.ts
  integration-tests/runtime-tests/test/tests/dexRouter/testHandlers/dexRouterHelper.ts
Due: none

works. payments check logic
  frame/composable-traits/src/undercollateralized_loans/configs.rs
  frame/undercollateralized-loans/src/helpers.rs
  frame/undercollateralized-loans/src/lib.rs
  frame/undercollateralized-loans/src/pseudo_code.txt
  frame/undercollateralized-loans/src/strategies/repayment_strategies.rs
  frame/undercollateralized-loans/src/validation.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

fix error logs
  frame/ibc-ping/src/lib.rs
  frame/ibc/ibc-trait/src/lib.rs
Due: none

Fix error logs (#1417)
  frame/ibc-ping/src/lib.rs
  frame/ibc/ibc-trait/src/lib.rs
Due: none

Show chart intervals.
  frontend/apps/pablo/components/Molecules/Chart.tsx
  frontend/apps/pablo/components/Organisms/swap/SwapChart.tsx
  frontend/apps/pablo/defi/subsquid/swaps/helpers.ts
  frontend/apps/pablo/defi/utils/charts/main.ts
  frontend/apps/pablo/store/hooks/useSwapsChart.ts
Due: none

Fix multicurrencies args
  frontend/apps/picasso/components/Organisms/Transfer/TransferFeeDisplay.tsx
  frontend/apps/picasso/components/Organisms/Transfer/hooks.ts
  frontend/apps/picasso/components/Organisms/Transfer/utils.ts
  frontend/apps/picasso/pages/transfers/index.tsx
  frontend/apps/picasso/stores/defi/transfers.ts
  frontend/packages/substrate-react/src/extrinsics/Executor.ts
Due: none

bump ibc-rs
  Cargo.lock
  frame/ibc-ping/Cargo.toml
  frame/ibc-transfer/Cargo.toml
  frame/ibc/Cargo.toml
  frame/ibc/ibc-primitives/Cargo.toml
  frame/ibc/ibc-rpc/Cargo.toml
  frame/ibc/ibc-trait/Cargo.toml
Due: none

feat(pablo): implement `simulate_add_liquidity` for single asset
  frame/composable-traits/src/dex.rs
  frame/pablo/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

some fixes
  Cargo.lock
  frame/undercollateralized-loans/src/helpers.rs
  frame/undercollateralized-loans/src/lib.rs
  frame/undercollateralized-loans/src/pseudo_code.txt
  frame/undercollateralized-loans/src/strategies/repayment_strategies.rs
Due: none

benches
  .github/workflows/benchmark.yml
  .github/workflows/check.yml
  .github/workflows/nix-compile.yml
  .github/workflows/runtime-tests.yml
  .maintain/run_benchmarks.sh
  .nix/devnet-gce.nix
  .nix/override-input/flake-utils/flake.nix
  default.nix
  docker/composable-sandbox-plus.dockerfile
  docker/composable-sandbox.dockerfile
  flake.nix
  nix-validate.sh
  runtime/composable-wasm/Cargo.toml
  runtime/dali-wasm/Cargo.toml
  runtime/picasso-wasm/Cargo.toml
  shell.nix
Due: none

fixing tests
  .github/workflows/ci-linux.yml
  .github/workflows/runtime-tests.yml
  docker/composable-sandbox.dockerfile
Due: none

successful build
  Cargo.lock
  frame/composable-traits/src/pool.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

fixing docker build
  .dockerignore
  .github/workflows/composable-sandbox.yml
  .github/workflows/nix-compile.yml
  docker/composable-sandbox-plus.dockerfile
  docker/composable-sandbox.dockerfile
Due: none

tuning ci triggers
  docker/composable-sandbox-plus.dockerfile
  docker/composable-sandbox.dockerfile
Due: none

test(integration-tests/democracy): W.I.P.
  integration-tests/runtime-tests/test/tests/democracy/democracyTests.ts
Due: none

test(integration-tests/democracy): Start of implementation.
  integration-tests/runtime-tests/test/tests/democracy/democracyTests.ts
  integration-tests/runtime-tests/test/tests/democracy/test_configuration.json
Due: none

test(integration-tests/democracy): W.I.P.
  integration-tests/runtime-tests/src/types/interfaces/democracy/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/democracy/types.ts
  integration-tests/runtime-tests/test/tests/democracy/democracyTests.ts
Due: none

test(integration-tests/democracy): W.I.P.
  integration-tests/runtime-tests/src/types/interfaces/augment-api-consts.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-errors.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-events.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-query.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-tx.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-types.ts
  integration-tests/runtime-tests/src/types/interfaces/crowdloanRewards/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/crowdloanRewards/types.ts
  integration-tests/runtime-tests/src/types/interfaces/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/democracy/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/democracy/index.ts
  integration-tests/runtime-tests/src/types/interfaces/democracy/types.ts
  integration-tests/runtime-tests/src/types/interfaces/pablo/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/pablo/types.ts
  integration-tests/runtime-tests/src/types/interfaces/types.ts
  integration-tests/runtime-tests/test/tests/democracy/democracyTests.ts
Due: none

vec string fix
  frame/composable-traits/src/undercollateralized_loans/configs.rs
  frame/undercollateralized-loans/src/helpers.rs
  frame/undercollateralized-loans/src/lib.rs
  frame/undercollateralized-loans/src/mocks/general.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

maded wasm poptmizer to be part of build
  .dockerignore
  .github/workflows/check.yml
  .maintain/run_benchmarks.sh
  Cargo.lock
  Cargo.toml
  docker/composable-sandbox-plus.dockerfile
  docker/composable-sandbox.dockerfile
  flake.nix
  utils/wasm-optimizer/Cargo.lock
  utils/wasm-optimizer/Cargo.toml
Due: none

xcmp picasso ci tests
  Makefile.toml
  flake.nix
  integration-tests/local-integration-tests/src/prelude.rs
Due: none

force CI pr
  .github/workflows/nix-compile.yml
  Makefile.toml
Due: none

isolating builds
  Cargo.lock
  integration-tests/local-integration-tests/Cargo.toml
  runtime/dali/src/lib.rs
Due: none

make runtime built
  Cargo.lock
  flake.nix
  integration-tests/local-integration-tests/Cargo.toml
  runtime/picasso/src/lib.rs
Due: none

proper tests
  Makefile.toml
  flake.nix
  integration-tests/local-integration-tests/src/prelude.rs
Due: none
