Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:

    ########## Clearing House ##########
  - id: clearing-house::cargo-fmt
    name: clearing-house::cargo-fmt
    entry: cargo +nightly fmt --check -p clearing-house
    language: system
    pass_filenames: false
    stages: [commit, push]
    files: ^frame/clearing-house/
    types: [rust]
  - id: clearing-house::cargo-clippy
    name: clearing-house::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
    language: system
    pass_filenames: false
    stages: [push]
    files: ^frame/clearing-house/
    types: [rust]

    ########## VAMM ##########
  - id: vamm::cargo-fmt
    name: vamm::cargo-fmt
    entry: cargo +nightly fmt --check -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-check
    name: vamm::cargo-check
    entry: cargo +nightly check --all-targets -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-test
    name: vamm::cargo-test
    entry: cargo +nightly test --all-features --tests -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-clippy
    name: vamm::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p pallet-vamm -- -D warnings -D clippy::all
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]
  - id: vamm::cargo-doc
    name: vamm::cargo-doc
    entry: cargo +nightly doc --no-deps -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v8.0.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ['@commitlint/config-conventional']

Add 'lending_currentInterestRate' RPC method (#959)
  frame/lending/rpc/Cargo.toml
  frame/lending/rpc/src/lib.rs
  frame/lending/runtime-api/Cargo.toml
  frame/lending/runtime-api/src/lib.rs
  frame/lending/src/lib.rs
  frame/lending/src/tests.rs
Due: none

test(vamm): Add `swap_remove_quote` test, yet WIP
  frame/vamm/src/lib.rs
  frame/vamm/src/tests/swap_asset.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

feat(vamm): Ensure swaps won't drain all reserves
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

feat(CH): settle funding upon opening a position
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/tests/open_position.rs
  frame/clearing-house/src/tests/update_funding.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

cretaing new release
  diener
Due: none

Update git worklow event trigger
  .github/workflows/release-pipeline.yml
Due: none

Update git worklow event trigger
  .github/workflows/docker-release.yml
Due: none

Update git worklow event trigger
  diener
Due: none

Update workflow trigger (#965)
  .github/workflows/release-pipeline.yml
Due: none

manual trigger workflow
  runtime/composable/src/weights/balances.rs
  runtime/dali/build.rs
  runtime/picasso/src/weights/assets_registry.rs
Due: none

manual trigger workflow
  .github/workflows/docker-release.yml
Due: none

Release v2.1.7 (#966)
  diener
  runtime/composable/src/weights/balances.rs
  runtime/dali/build.rs
  runtime/picasso/src/weights/assets_registry.rs
Due: none

fix(CH): always subtract funding payment
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

chore(CH): add comment on possible bad debt
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

style(CH): add context by renaming input variable
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): remove TODO
  frame/clearing-house/src/tests/mod.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): add comment justifying helper impl
  frame/clearing-house/src/tests/mod.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): use direction.opposite()
  frame/clearing-house/src/tests/open_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

CU-225wvg7 - Update market funding (#938)
  frame/clearing-house/proptest-regressions/tests/create_market.txt
  frame/clearing-house/proptest-regressions/tests/update_funding.txt
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/accounts.rs
  frame/clearing-house/src/mock/oracle.rs
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/clearing-house/src/tests/add_margin.rs
  frame/clearing-house/src/tests/create_market.rs
  frame/clearing-house/src/tests/instruments.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/tests/open_position.rs
  frame/clearing-house/src/tests/update_funding.rs
  frame/clearing-house/src/types.rs
  frame/clearing-house/src/weights.rs
  frame/composable-traits/src/clearing_house.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

fix(meta): change repository
  frame/contracts/Cargo.toml
Due: none

feat(cosmwasm): introduce `CosmwasmSandbox` trait
  frame/contracts/src/wasm/cosmwasm/instance.rs
  frame/contracts/src/wasm/cosmwasm/mod.rs
  frame/contracts/src/wasm/cosmwasm/sandbox.rs
  frame/contracts/src/wasm/mod.rs
Due: none

REMOVE ME, debug contracts in devnet
  scripts/polkadot-launch/composable.json
Due: none

chore(style): apply make style
  frame/contracts/src/wasm/cosmwasm/instance.rs
  frame/contracts/src/wasm/prepare.rs
  frame/oracle/Cargo.toml
  runtime/dali/src/lib.rs
Due: none

feat(cosmwasm): required export functions prototype constant
  frame/contracts/src/wasm/cosmwasm/instance.rs
Due: none

feat(cosmwasm): move from const to reuse currency units
  runtime/dali/src/lib.rs
Due: none

Triggering a release build
  .github/workflows/release-pipeline.yml
Due: none

Empty comment on runtime to trigger runtime build
  runtime/composable/src/xcmp.rs
  runtime/dali/src/weights/assets_registry.rs
  runtime/picasso/src/xcmp.rs
Due: none

Fix benchmarks of pallet-lending
  frame/lending/src/benchmarking.rs
  runtime/dali/src/lib.rs
  runtime/dali/src/weights/lending.rs
Due: none

Empty comment on runtime to trigger runtime build
  node/src/res/dali-rococo.json
  runtime/composable/src/xcmp.rs
  runtime/dali/src/weights/assets_registry.rs
  runtime/picasso/src/xcmp.rs
Due: none

feat(cosmwasm): working sub-messages handling, not semantically correct yet w.r.t transactions.
  Cargo.lock
  frame/contracts/src/exec.rs
  frame/contracts/src/lib.rs
  frame/contracts/src/wasm/cosmwasm/mod.rs
  frame/contracts/src/wasm/cosmwasm/types.rs
  frame/contracts/src/wasm/mod.rs
  frame/contracts/src/wasm/runtime.rs
  runtime/dali/Cargo.toml
  runtime/dali/src/lib.rs
Due: none

feat(cosmwasm): embedded executor dependency should be moving behind runtime
  frame/sandbox/src/embedded_executor.rs
Due: none

feat(cosmwasm): remove unused instance/sandbox from cosmwasm module
  frame/contracts/src/wasm/cosmwasm/instance.rs
  frame/contracts/src/wasm/cosmwasm/sandbox.rs
Due: none

trying new step for ga upload
  .github/workflows/release-pipeline.yml
Due: none

ga var fix
  .github/workflows/release-pipeline.yml
Due: none

added manual start
  .github/workflows/release-pipeline.yml
Due: none

docs(CH): update update_funding seq diagram
  frame/clearing-house/diagrams/update-funding.plantuml
Due: none
