Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test, composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push
  - manual

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

clearing-house::cargo-test:
  name: clearing-house::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-fmt:
  name: composable-traits::cargo-fmt
  entry: cargo +nightly fmt --check -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-check:
  name: composable-traits::cargo-check
  entry: cargo +nightly check --all-targets -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-test:
  name: composable-traits::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-fmt:
  name: composable-maths::cargo-fmt
  entry: cargo +nightly fmt --check -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-check:
  name: composable-maths::cargo-check
  entry: cargo +nightly check --all-targets -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-test:
  name: composable-maths::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

feat: developers-minimal, with only rust-nightly
  flake.nix
Due: none

chore(CH): add close_market skeleton
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/close_market.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/weights.rs
  frame/composable-traits/src/clearing_house.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test, composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

chore(CH): wip
  frame/clearing-house/src/tests/close_market.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

docs(CH): add TODO
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

chore(CH): check for market closure in close_position
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/close_market.rs
  frame/clearing-house/src/types.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

test(CH): change max duration seconds
  frame/clearing-house/src/tests/close_market.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

chore(CH): add checks for market shutdown in open_position
  frame/clearing-house/proptest-regressions/tests/close_market.txt
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/close_market.rs
  frame/clearing-house/src/types.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

chore(CH): add close_market extrinsic
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/close_market.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

chore(CH): add settle_position boilerplate
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/tests/settle_position.rs
  frame/clearing-house/src/weights.rs
  frame/composable-traits/src/clearing_house.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test, composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

chore(CH): ensure settle_position can only be called after market close
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/settle_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

chore(CH): add barely functional settle_position implementation
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/clearing-house/src/tests/settle_position.rs
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

chore(CH): add check for market closure in update_funding
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/update_funding.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

chore(CH): fix typos
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

test(CH): fix prop_compose strategy
  frame/clearing-house/src/tests/close_market.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

test(CH): check for closed_ts in close_market
  frame/clearing-house/src/tests/close_market.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

test(CH): fix 'both long' settlement scenario
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/settle_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

test(CH): add simple settlement scenarios
  frame/clearing-house/src/tests/settle_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

fix: specify aarch64 for devcontainer brokenness
  flake.nix
Due: none

feat(ci): abort old jobs
  .github/workflows/build-test-deploy.yml
  .github/workflows/check.yml
Due: none

chore: remove unoverlayed rust-analyzer
  flake.nix
Due: none

cor/nix-devshell (#1452)
  .envrc
  default.nix
  flake.nix
  shell.nix
Due: none

fix(pablo): make tests passable
  frame/pablo/src/benchmarking.rs
  frame/pablo/src/common_test_functions.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/uniswap_tests.rs
Due: none

fix(pablo): apply new clippy's recommendation (`derive_partial_eq_without_eq`)
  frame/composable-traits/src/assets.rs
  frame/composable-traits/src/defi.rs
  frame/composable-traits/src/dex.rs
  frame/composable-traits/src/lending/mod.rs
  frame/composable-traits/src/oracle.rs
  frame/composable-traits/src/time.rs
  frame/composable-traits/src/vault.rs
  frame/composable-traits/src/xcm/mod.rs
  frame/currency-factory/src/ranges.rs
  frame/pablo/src/types.rs
  frame/staking-rewards/src/validation.rs
  runtime/primitives/src/currency.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

feat(ci): abort old jobs (#1453)
  .github/workflows/build-test-deploy.yml
  .github/workflows/check.yml
Due: none

ibc transfer fixes, clippy fixes
  Cargo.lock
  frame/ibc/Cargo.toml
  frame/ibc/ping/Cargo.toml
  frame/ibc/primitives/Cargo.toml
  frame/ibc/rpc/Cargo.toml
  frame/ibc/src/benchmarks/benchmarking.rs
  frame/ibc/src/channel.rs
  frame/ibc/src/client.rs
  frame/ibc/src/connection.rs
  frame/ibc/src/host_functions.rs
  frame/ibc/src/ics20/context.rs
  frame/ibc/src/ics23/client_states.rs
  frame/ibc/src/impls.rs
  frame/ibc/src/lib.rs
  frame/ibc/src/routing.rs
  frame/ibc/src/state_machine.rs
  frame/ibc/transfer/Cargo.toml
  frame/ibc/transfer/src/lib.rs
  frame/lending/src/types.rs
  scripts/polkadot-launch/composable.json
Due: none

minor fix
  frame/ibc/src/lib.rs
Due: none

minor fix
  frame/ibc/transfer/src/lib.rs
Due: none

[cu-3bmw36j] Replace vague RewardConfigError with more specific errors
  frame/staking-rewards/src/lib.rs
Due: none

[CU-2tk64dp] docs(book/dev-guides/pallets): edit content of pallets and integration section (#1373)
  book/src/SUMMARY.md
  book/src/developer-guides/pallets-overview.md
  book/src/pallets/airdrop.md
  book/src/pallets/airdrop/extrinsics.md
  book/src/pallets/assets-registry.md
  book/src/pallets/assets-registry/extrinsics.md
  book/src/pallets/assets.md
  book/src/pallets/assets/extrinsics.md
  book/src/pallets/bonded-finance/extrinsics.md
  book/src/pallets/crowdloan-rewards/extrinsics.md
  book/src/pallets/currency-factory.md
  book/src/pallets/currency-factory/extrinsics.md
  book/src/pallets/democracy.md
  book/src/pallets/democracy/extrinsics.md
  book/src/pallets/dex-router.md
  book/src/pallets/dex-router/extrinsics.md
  book/src/pallets/dutch-auction/extrinsics.md
  book/src/pallets/governance-registry/extrinsics.md
  book/src/pallets/lending/extrinsics.md
  book/src/pallets/mosaic/extrinsics.md
  book/src/pallets/nft.md
  book/src/pallets/oracle.md
  book/src/pallets/oracle/extrinsics.md
  book/src/pallets/pablo.md
  book/src/pallets/pablo/extrinsics.md
  book/src/pallets/ping/extrinsics.md
  book/src/pallets/staking-rewards.md
  book/src/pallets/staking-rewards/extrinsics.md
  book/src/pallets/vault.md
  book/src/pallets/vault/extrinsics.md
  book/src/pallets/vesting.md
  book/src/pallets/vesting/extrinsics.md
Due: none

fix(vamm): Implement `output_amount_limit` remove
  frame/vamm/src/helpers/checks.rs
  frame/vamm/src/lib.rs
  frame/vamm/src/tests/constants.rs
  frame/vamm/src/tests/create_vamm.rs
  frame/vamm/src/tests/helpers.rs
  frame/vamm/src/tests/helpers_propcompose.rs
  frame/vamm/src/tests/swap.rs
  frame/vamm/src/tests/swap_simulation.rs
  frame/vamm/src/tests/types.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

Fix benchmarking
  frame/account-proxy/Cargo.toml
  frame/account-proxy/src/benchmarking.rs
  frame/account-proxy/src/tests.rs
Due: none

Doc updates and marking implementation steps
  Cargo.lock
  frame/composable-traits/src/account_proxy.rs
  frame/composable-traits/src/fnft.rs
  frame/composable-traits/src/lib.rs
  frame/composable-traits/src/staking/mod.rs
  frame/fnft/Cargo.toml
  frame/fnft/src/lib.rs
  frame/fnft/src/test/mock.rs
  frame/fnft/src/test/mod.rs
  frame/fnft/src/test/nonfungibles/transfer.rs
  frame/fnft/src/test/prelude.rs
  frame/staking-rewards/Cargo.toml
  frame/staking-rewards/src/lib.rs
  frame/staking-rewards/src/test/runtime.rs
  rfcs/0005-pablo-distribution-assets/0005-pablo-distribution.adoc
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

style
  frame/account-proxy/src/lib.rs
  integration-tests/local-integration-tests/Cargo.toml
  node/Cargo.toml
  runtime/composable-wasm/Cargo.toml
  runtime/composable/Cargo.toml
  runtime/dali-wasm/Cargo.toml
  runtime/dali/Cargo.toml
  runtime/picasso-wasm/Cargo.toml
  runtime/picasso/Cargo.toml
  utils/wasm-optimizer/Cargo.toml
  utils/wasm-optimizer/src/main.rs
Due: none

Fix staking-rewards tests
  frame/staking-rewards/Cargo.toml
  frame/staking-rewards/src/test/runtime.rs
Due: none

dali fixes
  frame/account-proxy/src/lib.rs
  frame/composable-traits/src/staking/mod.rs
  frame/dex-router/src/mock_fnft.rs
  frame/pablo/src/mock_fnft.rs
  runtime/common/src/lib.rs
  runtime/dali/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Proxying seems to work
  Cargo.lock
  frame/composable-traits/src/account_proxy.rs
  frame/composable-traits/src/lib.rs
  frame/fnft/Cargo.toml
  frame/fnft/src/lib.rs
  frame/fnft/src/test/mock.rs
  frame/fnft/src/test/mod.rs
  frame/fnft/src/test/nonfungibles/inspect.rs
  frame/fnft/src/test/nonfungibles/mutate.rs
  frame/fnft/src/test/nonfungibles/transfer.rs
  frame/fnft/src/test/prelude.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

[cu-313atpj][RFC] fNFT + fNFT prototype for staking
  Cargo.lock
  frame/composable-traits/src/fnft.rs
  frame/composable-traits/src/lib.rs
  frame/composable-traits/src/nft/mod.rs
  frame/composable-traits/src/nft/protocol.rs
  frame/composable-traits/src/staking/mod.rs
  frame/composable-traits/src/staking/nft.rs
  frame/fnft/Cargo.toml
  frame/fnft/README.md
  frame/fnft/src/lib.rs
  frame/fnft/src/test/mock.rs
  frame/fnft/src/test/mod.rs
  frame/fnft/src/test/nonfungibles/inspect.rs
  frame/fnft/src/test/nonfungibles/mutate.rs
  frame/fnft/src/test/nonfungibles/transfer.rs
  frame/fnft/src/test/prelude.rs
  frame/nft/README.md
  rfcs/0005-pablo-distribution-assets/0005-pablo-distribution.adoc
  runtime/dali/Cargo.toml
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Minor metadata updates
  Cargo.lock
  frame/account-proxy/Cargo.toml
Due: none

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  clearing-house::cargo-test: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
  composable-traits::cargo-fmt: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-check: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-test: any of: ^frame/composable-traits/ and \.rs$
  composable-maths::cargo-fmt: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-check: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-test: any of: ^frame/composable-maths/ and \.rs$
