Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test, composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push
  - manual

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

clearing-house::cargo-test:
  name: clearing-house::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-fmt:
  name: composable-traits::cargo-fmt
  entry: cargo +nightly fmt --check -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-check:
  name: composable-traits::cargo-check
  entry: cargo +nightly check --all-targets -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-test:
  name: composable-traits::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-fmt:
  name: composable-maths::cargo-fmt
  entry: cargo +nightly fmt --check -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-check:
  name: composable-maths::cargo-check
  entry: cargo +nightly check --all-targets -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-test:
  name: composable-maths::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

implement VestingSchedule::from_input
  frame/bonded-finance/src/lib.rs
  frame/composable-traits/src/vesting.rs
  frame/vesting/src/benchmarks.rs
  frame/vesting/src/lib.rs
  frame/vesting/src/tests.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

add documentation and remove TODOs
  frame/composable-traits/src/vesting.rs
  frame/vesting/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

fix bonded finance tests depending on vesting
  frame/bonded-finance/src/lib.rs
  frame/bonded-finance/src/tests.rs
Due: none

fix build
  frame/bonded-finance/Cargo.toml
  frame/bonded-finance/src/lib.rs
  frame/vesting/src/lib.rs
  runtime/dali/src/lib.rs
  runtime/picasso/src/lib.rs
Due: none

implement Ben's suggestion
  frame/bonded-finance/src/mock.rs
  frame/bonded-finance/src/tests.rs
  frame/composable-traits/src/vesting.rs
  frame/vesting/src/lib.rs
  frame/vesting/src/tests.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

wip: adding Many support
  frame/composable-traits/src/vesting.rs
  frame/vesting/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Change VestingSchedules to a map
  frame/composable-traits/src/vesting.rs
  frame/vesting/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

fix implementation and tests
  frame/vesting/src/lib.rs
  frame/vesting/src/tests.rs
Due: none

vim's suggestions
  frame/bonded-finance/src/tests.rs
  frame/composable-traits/src/vesting.rs
  frame/vesting/src/benchmarks.rs
  frame/vesting/src/lib.rs
  frame/vesting/src/tests.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

add One enum
  frame/composable-traits/src/vesting.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

fix benchmarks
  frame/vesting/src/benchmarks.rs
Due: none

update tests
  frame/vesting/src/tests.rs
Due: none

further simplify do_claim method
  frame/vesting/src/lib.rs
Due: none

wip: simplify claiming logic
  frame/vesting/src/lib.rs
  frame/vesting/src/tests.rs
Due: none

implement vim's comments
  frame/vesting/src/lib.rs
  frame/vesting/src/tests.rs
Due: none

fix linting and benchmarks
  frame/vesting/src/benchmarks.rs
  frame/vesting/src/lib.rs
Due: none

add docs
  frame/composable-traits/src/vesting.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

simplify do_claim function
  frame/vesting/src/lib.rs
Due: none

simplify claiming logic
  frame/vesting/src/lib.rs
  frame/vesting/src/tests.rs
Due: none

test(integration-tests/democracy): W.I.P.
  integration-tests/runtime-tests/test/tests/democracy/democracyTests.ts
Due: none

[CU-2t7r06b] Integration Tests: Dex Router (#1403)
  integration-tests/runtime-tests/test/tests/dexRouter/dexRouterTests.ts
  integration-tests/runtime-tests/test/tests/dexRouter/testHandlers/dexRouterHelper.ts
Due: none

feat(wasm-optimizer): panic if bomb detected
  utils/wasm-optimizer/src/main.rs
Due: none

chore: allow single-command, out-of-nix build via `make release`
  Makefile
Due: none

Some code cleanups and refactors
  frontend/apps/picasso/components/Molecules/MyBondingsTable.tsx
  frontend/apps/picasso/components/Organisms/Bond/ClaimForm.tsx
  frontend/apps/picasso/components/Organisms/Bond/DisconnectedBond.tsx
  frontend/apps/picasso/defi/polkadot/hooks/useActiveBonds.ts
  frontend/apps/picasso/pages/bonds/[bond].tsx
  frontend/apps/picasso/pages/bonds/index.tsx
Due: none

Rename to reflect the underlying better
  frontend/apps/picasso/components/Molecules/MyBondingsTable.tsx
Due: none

remove .clone()
  frame/vesting/src/lib.rs
Due: none

[CU-2uv3e0g] docs(book): Add XCVM spec to mdbook (#1414)
  book/src/products/cross-chain-virtual-machine/how-the-xcvm-works.md
Due: none

test(vamm): Fix test checks
  frame/vamm/proptest-regressions/tests/swap.txt
  frame/vamm/src/tests/swap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(integration-tests/democracy): W.I.P.
  integration-tests/runtime-tests/src/types/interfaces/democracy/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/democracy/types.ts
  integration-tests/runtime-tests/test/tests/democracy/democracyTests.ts
Due: none

store packet data onchain
  frame/ibc-ping/src/lib.rs
  frame/ibc/ibc-primitives/src/lib.rs
  frame/ibc/src/channel.rs
  frame/ibc/src/impls.rs
  frame/ibc/src/lib.rs
  frame/ibc/src/tests.rs
  scripts/polkadot-launch/composable.json
Due: none

Add xcvm/terminology.md
  xcvm/terminology.md
Due: none

add claimed_amount to Claimed event
  frame/vesting/src/lib.rs
  frame/vesting/src/tests.rs
Due: none

added safe_add
  frame/vesting/src/lib.rs
Due: none

works. changed payments schedule definition.
  frame/composable-traits/src/undercollateralized_loans/configs.rs
  frame/composable-traits/src/undercollateralized_loans/mod.rs
  frame/undercollateralized-loans/src/helpers.rs
  frame/undercollateralized-loans/src/impls/undercollateralized_loans.rs
  frame/undercollateralized-loans/src/lib.rs
  frame/undercollateralized-loans/src/strategies/mod.rs
  frame/undercollateralized-loans/src/strategies/repayment_strategies.rs
  frame/undercollateralized-loans/src/tests/loan.rs
  frame/undercollateralized-loans/src/tests/mod.rs
  frame/undercollateralized-loans/src/types.rs
  frame/undercollateralized-loans/src/validation.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

works. added repay() disp. function
  frame/composable-traits/src/undercollateralized_loans/mod.rs
  frame/undercollateralized-loans/src/impls/undercollateralized_loans.rs
  frame/undercollateralized-loans/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  clearing-house::cargo-test: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
  composable-traits::cargo-fmt: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-check: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-test: any of: ^frame/composable-traits/ and \.rs$
  composable-maths::cargo-fmt: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-check: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-test: any of: ^frame/composable-maths/ and \.rs$
