Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:

    ########## Clearing House ##########
  - id: clearing-house::cargo-fmt
    name: clearing-house::cargo-fmt
    entry: cargo +nightly fmt --check -p clearing-house
    language: system
    pass_filenames: false
    stages: [commit, push]
    files: ^frame/clearing-house/
    types: [rust]
  - id: clearing-house::cargo-clippy
    name: clearing-house::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
    language: system
    pass_filenames: false
    stages: [push]
    files: ^frame/clearing-house/
    types: [rust]

    ########## VAMM ##########
  - id: vamm::cargo-fmt
    name: vamm::cargo-fmt
    entry: cargo +nightly fmt --check -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [commit, push]
  - id: vamm::cargo-check
    name: vamm::cargo-check
    entry: cargo +nightly check --all-targets -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [commit, push]
  - id: vamm::cargo-test
    name: vamm::cargo-test
    entry: cargo +nightly test --all-features --tests -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push]
  - id: vamm::cargo-clippy
    name: vamm::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p pallet-vamm -- -D warnings -D clippy::all
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v8.0.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ['@commitlint/config-conventional']

docs(CH): update diagrams
  frame/clearing-house/diagrams/clearing-house.plantuml
  frame/clearing-house/diagrams/create-market.plantuml
Due: none

chore(CH): rename crate to pallet-clearing-house
  Cargo.lock
  frame/clearing-house/Cargo.toml
Due: none

CU-24azujq[DONE] CU-23n8wx4[DONE] Added test to make sure users liquidity is actually being transferred from their accounts into the vaults account
  frame/instrumental/proptest-regressions/tests.txt
  frame/instrumental/src/tests.rs
Due: none

CU-24azujq[DONE] CU-23n8wx4[DONE] CU-24qhwqn[DONE] CU-23n8wyc[DONE] Added tests to make sure liquidity is actually transferred after a deposit and a withdraw CU-23n8wxq[DONE]
  frame/instrumental/src/tests.rs
Due: none

feat(CH): add UnixTime trait to Config
  Cargo.lock
  frame/clearing-house/Cargo.toml
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/runtime.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): ensure new market matches creation parameters
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): ensure new market funding_rate_ts is not 0
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Add benchmarks for pallet-assets-registry
  Cargo.lock
  frame/assets-registry/Cargo.toml
  frame/assets-registry/src/benchmarking.rs
  frame/assets-registry/src/lib.rs
  frame/assets-registry/src/mock.rs
  frame/assets-registry/src/weights.rs
  runtime/dali/src/lib.rs
  runtime/dali/src/weights/assets_registry.rs
  runtime/dali/src/weights/mod.rs
  runtime/picasso/src/lib.rs
  runtime/picasso/src/weights/assets_registry.rs
  runtime/picasso/src/weights/mod.rs
Due: none

Add benchmarks for pallet-assets-registry (#842)
  Cargo.lock
  frame/assets-registry/Cargo.toml
  frame/assets-registry/src/benchmarking.rs
  frame/assets-registry/src/lib.rs
  frame/assets-registry/src/mock.rs
  frame/assets-registry/src/weights.rs
  runtime/dali/src/lib.rs
  runtime/dali/src/weights/assets_registry.rs
  runtime/dali/src/weights/mod.rs
  runtime/picasso/src/lib.rs
  runtime/picasso/src/weights/assets_registry.rs
  runtime/picasso/src/weights/mod.rs
Due: none

fix vertical rythm, smaller headings on mobile
  book/theme/css/general.css
  book/theme/css/variables.css
Due: none

make entire sidebar item clickable
  book/src/roadmap/timeline.md
  book/theme/css/chrome.css
Due: none

Add pallet overviwes to the developer guides page
  book/src/developer-guides.md
Due: none

feat(CH): set new market funding_rate_ts
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

fixes based on PR feedback
  book/src/SUMMARY.md
  book/src/audits/code-fixes.md
  book/src/ecosystem/the-composable-team.md
  book/src/faqs/faqs.md
  book/src/governance-and-tokenomics/layr-tokens.md
  book/src/governance-and-tokenomics/the-picasso-pica-network-token.md
  book/src/products/cross-chain-virtual-machine/innovation-availability-layer.md
  book/src/products/mosaic/fragmentation-in-layer-2.md
  book/src/products/mosaic/proof-of-concept-polygon-arbitrum-cross-layer-transferral-system.md
  book/src/products/mosaic/proof-of-concept-polygon-arbitrum-cross-layer-transferral-system/poc-vault-and-liquidity-rebalancing-process.md
  book/src/products/parachain-vault-strategy/additional-rewards.md
  book/src/products/parachain-vault-strategy/parachain-auction-tokens.md
  book/src/products/parachain-vault-strategy/risks.md
  book/src/products/parachain-vault-strategy/walkthroughs.md
  book/src/products/the-composable-parachain/the-composable-crowdloan.md
  book/src/products/the-composable-parachain/the-composable-crowdloan/crowdloan-how-to-guide-for-stablecoin.md
  book/src/products/the-picasso-parachain.md
  book/src/products/the-picasso-parachain/the-picasso-crowdloan/crowdloan-how-to-stablecoins.md
  book/src/roadmap/timeline.md
Due: none

test(CH): assert funding period is multiple of freq
  frame/clearing-house/proptest-regressions/tests.txt
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): check funding period is multiple of freq
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): check funding period/freq > 0
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): ensure funding period/freq > 0
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Refactored vault initialization funcitonality from ExtBuilder to TestExternalities CU-2520rd2[DONE] CU-2520rdr[DONE] CU-2520rf2[DONE] CU-2520rfh[DONE]
  frame/instrumental/Cargo.toml
  frame/instrumental/src/tests.rs
Due: none

test(CH): assert margin ratio reqs in (0, 1)
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): ensure margin ratio reqs are in (0, 1)
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

style(CH): organize tests by functionality
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(CH): emit event inside trait impl
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): assert initial margin ratio gt maintenance
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): ensure initial margin ratio gt maintenance
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(vamm): Add Vamm trait
  frame/composable-traits/src/lib.rs
  frame/composable-traits/src/vamm.rs
Due: none

docs(vamm): Add brief Implementations description
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

feat(vamm): Add function `create`
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

chore(vamm): add `cargo-doc` entry for pre-commit
  .pre-commit-config.yaml
Due: none

feat(vamm): Add `Balance` as a type for the vamm
  frame/composable-traits/src/vamm.rs
Due: none

refactor(vamm): Fix trait constrains and types
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

chore: update pre-commit rule for stages
  .pre-commit-config.yaml
Due: none

chore(vamm): Add `mod mock`
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

refactor(vamm): Move `Vamm` definitions
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

chore(vamm): Add includes for `lib.rs`
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

chore(vamm): Fix trait constraints
  frame/composable-traits/src/vamm.rs
Due: none

chore(vamm): Change Input to `VammCounter`
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

feat(vamm): Add `GenesisConfig`
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

refactor(vamm): Remove unneeded `clone` calls
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy
