Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test, composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push
  - manual

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

clearing-house::cargo-test:
  name: clearing-house::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-fmt:
  name: composable-traits::cargo-fmt
  entry: cargo +nightly fmt --check -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-check:
  name: composable-traits::cargo-check
  entry: cargo +nightly check --all-targets -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-test:
  name: composable-traits::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-fmt:
  name: composable-maths::cargo-fmt
  entry: cargo +nightly fmt --check -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-check:
  name: composable-maths::cargo-check
  entry: cargo +nightly check --all-targets -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-test:
  name: composable-maths::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

forced rocks db
  .nix/composable-bin.nix
Due: none

added stable swap math
  frontend/apps/pablo/defi/utils/pablo/math.ts
Due: none

complete stable-swap price impact calculation
  frontend/apps/pablo/components/Organisms/swap/SwapSummary.tsx
  frontend/apps/pablo/defi/hooks/swaps/usePriceImpact.ts
  frontend/apps/pablo/defi/hooks/swaps/useSwaps.ts
Due: none

test(integration-tests/dex-router): Test Implementation.
  integration-tests/runtime-tests/test/tests/dexRouter/dexRouterTests.ts
  integration-tests/runtime-tests/test/tests/dexRouter/testHandlers/dexRouterHelper.ts
Due: none

use paritytech/substrate instead of crates.io
  Cargo.lock
  Cargo.toml
Due: none

Swaps Price impact added.
  frontend/apps/pablo/components/Organisms/swap/SwapForm.tsx
  frontend/apps/pablo/components/Organisms/swap/SwapSummary.tsx
  frontend/apps/pablo/defi/hooks/swaps/index.ts
  frontend/apps/pablo/defi/hooks/swaps/usePriceImpact.ts
  frontend/apps/pablo/defi/hooks/swaps/useSwaps.ts
  frontend/apps/pablo/defi/subsquid/liquidity/helpers.ts
  frontend/apps/pablo/defi/utils/pablo/liquidity.ts
  frontend/apps/pablo/defi/utils/pablo/math.ts
  frontend/apps/pablo/store/hooks/useLiquidityByPool.ts
  frontend/apps/pablo/store/hooks/useUserProvidedLiquidityByPool.ts
Due: none

clean up
  .devcontainer/README.md
  .github/CODEOWNERS
  .github/workflows/devnet-release.yml
  .github/workflows/nix-compile.yml
  .nix/README.md
  .nix/composable-bin.nix
  .nix/devnet-spec.nix
Due: none

add missing prop
  frontend/apps/pablo/components/Organisms/swap/PreviewModal.tsx
  frontend/apps/pablo/components/Organisms/swap/SwapForm.tsx
Due: none

clean up
  .github/workflows/nix-compile.yml
  test.sh
Due: none

works. do_borrow()
  frame/composable-traits/src/undercollateralized_loans/configs.rs
  frame/composable-traits/src/undercollateralized_loans/mod.rs
  frame/undercollateralized-loans/Cargo.toml
  frame/undercollateralized-loans/src/helpers.rs
  frame/undercollateralized-loans/src/impls/undercollateralized_loans.rs
  frame/undercollateralized-loans/src/lib.rs
  frame/undercollateralized-loans/src/mocks/general.rs
  frame/undercollateralized-loans/src/pseudo_code.txt
  frame/undercollateralized-loans/src/strategies/repayment_strategies.rs
  frame/undercollateralized-loans/src/tests/loan.rs
  frame/undercollateralized-loans/src/tests/mod.rs
  frame/undercollateralized-loans/src/types.rs
  frame/undercollateralized-loans/src/validation.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

test(integration-tests/dex-router): Fix pool creation.
  integration-tests/runtime-tests/test/tests/dexRouter/testHandlers/dexRouterHelper.ts
Due: none

connections proofs wip
  Cargo.lock
  frame/ibc-ping/Cargo.toml
  frame/ibc-transfer/Cargo.toml
  frame/ibc/Cargo.toml
  frame/ibc/ibc-primitives/Cargo.toml
  frame/ibc/ibc-rpc/Cargo.toml
  frame/ibc/ibc-trait/Cargo.toml
  frame/ibc/src/benchmarks/benchmarking.rs
  frame/ibc/src/host_functions.rs
  frame/ibc/src/impls.rs
  frame/ibc/src/lib.rs
Due: none

can now verify connection proofs
  Cargo.lock
  frame/ibc-ping/Cargo.toml
  frame/ibc-transfer/Cargo.toml
  frame/ibc/Cargo.toml
  frame/ibc/ibc-primitives/Cargo.toml
  frame/ibc/ibc-rpc/Cargo.toml
  frame/ibc/ibc-trait/Cargo.toml
  frame/ibc/src/benchmarks/benchmarking.rs
  frame/ibc/src/host_functions.rs
  frame/ibc/src/impls.rs
  frame/ibc/src/lib.rs
  frame/ibc/src/state_machine.rs
  frame/lending/src/types.rs
Due: none

connection proofs (#1413)
  Cargo.lock
  frame/ibc-ping/Cargo.toml
  frame/ibc-transfer/Cargo.toml
  frame/ibc/Cargo.toml
  frame/ibc/ibc-primitives/Cargo.toml
  frame/ibc/ibc-rpc/Cargo.toml
  frame/ibc/ibc-trait/Cargo.toml
  frame/ibc/src/benchmarks/benchmarking.rs
  frame/ibc/src/host_functions.rs
  frame/ibc/src/impls.rs
  frame/ibc/src/lib.rs
  frame/ibc/src/state_machine.rs
  frame/lending/src/types.rs
Due: none

works. moved to sting based input timestamps
  frame/composable-traits/src/undercollateralized_loans/configs.rs
  frame/composable-traits/src/undercollateralized_loans/mod.rs
  frame/undercollateralized-loans/Cargo.toml
  frame/undercollateralized-loans/src/helpers.rs
  frame/undercollateralized-loans/src/impls/undercollateralized_loans.rs
  frame/undercollateralized-loans/src/lib.rs
  frame/undercollateralized-loans/src/mocks/general.rs
  frame/undercollateralized-loans/src/tests/loan.rs
  frame/undercollateralized-loans/src/tests/market.rs
  frame/undercollateralized-loans/src/tests/mod.rs
  frame/undercollateralized-loans/src/types.rs
  frame/undercollateralized-loans/src/validation.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

works. changed schedule building
  frame/undercollateralized-loans/src/helpers.rs
  frame/undercollateralized-loans/src/lib.rs
Due: none

docs(book/xcvm): add reference to technical specification
  book/src/products/cross-chain-virtual-machine/how-the-xcvm-works.md
Due: none

docs(book/xcvm): clean up
  book/src/products/cross-chain-virtual-machine/how-the-xcvm-works.md
Due: none

fix(vamm): `try_update_twap` storage update change
  frame/vamm/src/helpers/checks.rs
  frame/vamm/src/helpers/twap.rs
  frame/vamm/src/lib.rs
  frame/vamm/src/tests/swap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

docs(vamm): Fix typo and improve writing
  frame/vamm/src/helpers/twap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

refactor(vamm): Remove useless error variant
  frame/vamm/src/helpers/swap.rs
  frame/vamm/src/helpers/vamm.rs
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Use a wider time range for twap update
  frame/vamm/src/tests/swap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

refactor(vamm): Rename helper math function
  frame/vamm/src/helpers/math.rs
  frame/vamm/src/helpers/twap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

fix sudo sender issue
  integration-tests/runtime-tests/test/tests/dexRouter/dexRouterTests.ts
Due: none

added functions for loans termination
  frame/undercollateralized-loans/src/helpers.rs
  frame/undercollateralized-loans/src/pseudo_code.txt
Due: none

log ibc handler errors
  frame/ibc-ping/src/lib.rs
  frame/ibc-transfer/src/lib.rs
  frame/ibc/ibc-trait/src/lib.rs
  frame/ibc/src/impls.rs
  frame/ibc/src/lib.rs
  frame/ibc/src/weight.rs
  runtime/dali/src/weights/pallet_ibc.rs
Due: none

format some errors
  frame/ibc-ping/src/lib.rs
  frame/ibc-transfer/src/lib.rs
Due: none

remove unused function
  frame/ibc/ibc-rpc/src/lib.rs
Due: none

Log Ibc Handler errors (#1415)
  frame/ibc-ping/src/lib.rs
  frame/ibc-transfer/src/lib.rs
  frame/ibc/ibc-rpc/src/lib.rs
  frame/ibc/ibc-trait/src/lib.rs
  frame/ibc/src/impls.rs
  frame/ibc/src/lib.rs
  frame/ibc/src/weight.rs
  runtime/dali/src/weights/pallet_ibc.rs
Due: none

fix(composable-maths): use `Decimal` numbers for arithmetic
  frame/composable-maths/src/dex/constant_product.rs
  frame/pablo/Cargo.toml
Due: composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

test(pablo): create primitive test for single asset deposit
  frame/pablo/src/common_test_functions.rs
  frame/pablo/src/uniswap_tests.rs
Due: none

feat(pablo): add liquidity by single asset only
  frame/composable-maths/src/dex/constant_product.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/uniswap.rs
Due: composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

fix(composable-maths): use safe operation for addition with one
  frame/composable-maths/src/dex/constant_product.rs
Due: composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

test(pablo): adopt `common_remove_lp_failure` test helper for single asset
  frame/pablo/src/common_test_functions.rs
Due: none

feat(composable-maths): implement computing of amount single asset for LP tokens
  frame/composable-maths/src/dex/constant_product.rs
Due: composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

feat(pablo): add the parameter for liquidity removal function in case of a single asset
  frame/composable-traits/src/dex.rs
  frame/dex-router/src/benchmarking.rs
  frame/dex-router/src/lib.rs
  frame/dex-router/src/tests.rs
  frame/pablo/rpc/src/lib.rs
  frame/pablo/runtime-api/src/lib.rs
  frame/pablo/src/benchmarking.rs
  frame/pablo/src/common_test_functions.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/liquidity_bootstrapping_tests.rs
  frame/pablo/src/stable_swap_tests.rs
  frame/pablo/src/uniswap_tests.rs
  runtime/dali/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  clearing-house::cargo-test: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
  composable-traits::cargo-fmt: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-check: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-test: any of: ^frame/composable-traits/ and \.rs$
  composable-maths::cargo-fmt: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-check: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-test: any of: ^frame/composable-maths/ and \.rs$
