Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:

    ########## Clearing House ##########
  - id: clearing-house::cargo-fmt
    name: clearing-house::cargo-fmt
    entry: cargo +nightly fmt --check -p clearing-house
    language: system
    pass_filenames: false
    stages: [commit, push]
    files: ^frame/clearing-house/
    types: [rust]
  - id: clearing-house::cargo-clippy
    name: clearing-house::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
    language: system
    pass_filenames: false
    stages: [push]
    files: ^frame/clearing-house/
    types: [rust]

    ########## VAMM ##########
  - id: vamm::cargo-fmt
    name: vamm::cargo-fmt
    entry: cargo +nightly fmt --check -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [commit, push]
  - id: vamm::cargo-check
    name: vamm::cargo-check
    entry: cargo +nightly check --all-targets -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [commit, push]
  - id: vamm::cargo-test
    name: vamm::cargo-test
    entry: cargo +nightly test --all-features --tests -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push]
  - id: vamm::cargo-clippy
    name: vamm::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p pallet-vamm -- -D warnings -D clippy::all
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v8.0.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ['@commitlint/config-conventional']

style(CH): separate mock runtime building into sections
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/runtime.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

docs(CH): briefly describe new API components
  Cargo.lock
  frame/clearing-house/src/lib.rs
  frame/composable-traits/src/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): ensure market not in Markets in create_market
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): assert creating existing MarketId fails
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): create dummy market and update storage
  frame/clearing-house/src/lib.rs
  frame/composable-traits/src/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

style(CH): compact dependencies with array arguments
  frame/clearing-house/Cargo.toml
Due: none

style(CH): remove redundant 'test_' prefix
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): mock oracle pallet and trait
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/mod.rs
  frame/clearing-house/src/mock/oracle.rs
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): change market creation logic
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

style(CH): update comment on mock runtime
  frame/clearing-house/src/mock/runtime.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): assert create_market fails for asset with no price feed
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): mock vAMM as a full pallet
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/mock/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): assert vamm create fail leads to market create fail
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

chore(CH): remove allow(unused_variables)
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(CH): remove unnecessary account argument
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): create vamm in create_market
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/composable-traits/src/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): assert mock oracle and vamm behave as expected
  frame/clearing-house/src/mock/oracle.rs
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/clearing-house/src/tests.rs
  frame/composable-traits/src/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

style(CH): move doc comments before outer attributes
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

style(CH): indent mock section comment
  frame/clearing-house/src/mock/runtime.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

fix(CH): use checked_add in updating MarketCount
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): use proptest to cover mock oracle/vamm behaviors
  Cargo.lock
  frame/clearing-house/Cargo.toml
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Remove unused dependencies
  .github/workflows/check.yml
  Cargo.lock
  frame/assets-registry/Cargo.toml
  frame/composable-support/Cargo.toml
  frame/composable-tests-helpers/Cargo.toml
  frame/crowdloan-rewards/Cargo.toml
  frame/crowdloan-rewards/rpc/Cargo.toml
  frame/curve-amm/Cargo.toml
  frame/democracy/Cargo.toml
  frame/democracy/src/benchmarking.rs
  frame/dex-router/Cargo.toml
  frame/lending/Cargo.toml
  frame/liquidity-bootstrapping/Cargo.toml
  frame/pablo/Cargo.toml
  frame/uniswap-v2/Cargo.toml
  simnode/simnode-node/Cargo.toml
  simnode/simnode-tests/Cargo.toml
Due: none

docs(CH): add create_market sequence diagram
  frame/clearing-house/diagrams/create-market.plantuml
Due: none

feat(CH): add margin to user acc (#746)
  Cargo.lock
  frame/clearing-house/Cargo.toml
  frame/clearing-house/diagrams/add-margin.plantuml
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock.rs
  frame/clearing-house/src/mock/accounts.rs
  frame/clearing-house/src/mock/assets.rs
  frame/clearing-house/src/mock/mod.rs
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/tests.rs
  frame/clearing-house/src/weights.rs
  frame/composable-traits/src/clearing_house.rs
  frame/composable-traits/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

docs(CH): add open_position sequence diagram
  frame/clearing-house/diagrams/open-position.plantuml
Due: none

Remove unused dependencies (#832)
  .github/workflows/check.yml
  Cargo.lock
  frame/assets-registry/Cargo.toml
  frame/composable-support/Cargo.toml
  frame/composable-tests-helpers/Cargo.toml
  frame/crowdloan-rewards/Cargo.toml
  frame/crowdloan-rewards/rpc/Cargo.toml
  frame/curve-amm/Cargo.toml
  frame/democracy/Cargo.toml
  frame/democracy/src/benchmarking.rs
  frame/dex-router/Cargo.toml
  frame/lending/Cargo.toml
  frame/liquidity-bootstrapping/Cargo.toml
  frame/pablo/Cargo.toml
  frame/uniswap-v2/Cargo.toml
  simnode/simnode-node/Cargo.toml
  simnode/simnode-tests/Cargo.toml
Due: none

add ci to flow
  .github/workflows/check.yml
  .github/workflows/lint.yml
Due: none

Fix build
  .github/workflows/check.yml
Due: none

chore(vamm): delete .pre-commit-config.yaml
  frame/vamm/.pre-commit-config.yaml
Due: none

chore(vamm): uncomment imports
  Cargo.lock
  frame/vamm/src/mock.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

remove dotenv from faucet-server
  Cargo.lock
  utils/faucet-server/Cargo.toml
  utils/faucet-server/src/main.rs
Due: none

fmt
  frame/composable-tests-helpers/Cargo.toml
  utils/faucet-server/src/main.rs
Due: none

remove dotenv from faucet-server (#835)
  Cargo.lock
  frame/composable-tests-helpers/Cargo.toml
  utils/faucet-server/Cargo.toml
  utils/faucet-server/src/main.rs
Due: none

Add pull request template
  .github/pull_request_template.md
Due: none

Ask for ClickUp and description
  .github/pull_request_template.md
Due: none

More general issue tracking reference
  .github/pull_request_template.md
Due: none

Add pull request template (#836)
  .github/pull_request_template.md
Due: none

docs(CH): update sequence diagrams
  frame/clearing-house/diagrams/clearing-house.plantuml
  frame/clearing-house/diagrams/open-position.plantuml
Due: none

Fix build (#833)
  .github/workflows/check.yml
Due: none

docs(CH): update sequence and class diagrams
  frame/clearing-house/diagrams/clearing-house.plantuml
  frame/clearing-house/diagrams/open-position.plantuml
Due: none
