Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:

    ########## Clearing House ##########
  - id: clearing-house::cargo-fmt
    name: clearing-house::cargo-fmt
    entry: cargo +nightly fmt --check -p clearing-house
    language: system
    pass_filenames: false
    stages: [commit, push]
    files: ^frame/clearing-house/
    types: [rust]
  - id: clearing-house::cargo-clippy
    name: clearing-house::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
    language: system
    pass_filenames: false
    stages: [push]
    files: ^frame/clearing-house/
    types: [rust]

    ########## VAMM ##########
  - id: vamm::cargo-fmt
    name: vamm::cargo-fmt
    entry: cargo +nightly fmt --check -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-check
    name: vamm::cargo-check
    entry: cargo +nightly check --all-targets -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-test
    name: vamm::cargo-test
    entry: cargo +nightly test --all-features --tests -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-clippy
    name: vamm::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p pallet-vamm -- -D warnings -D clippy::all
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]
  - id: vamm::cargo-doc
    name: vamm::cargo-doc
    entry: cargo +nightly doc --no-deps -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v8.0.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ['@commitlint/config-conventional']

Update frame/composable-traits/src/nft/mod.rs
  frame/composable-traits/src/nft/mod.rs
Due: none

initial refactoring of staking rewars nft
  .github/CODEOWNERS
  Cargo.lock
  Makefile.toml
  frame/composable-support/src/abstractions/block_fold.rs
  frame/composable-tests-helpers/src/test/helper.rs
  frame/composable-traits/src/defi.rs
  frame/composable-traits/src/financial_nft.rs
  frame/composable-traits/src/lib.rs
  frame/composable-traits/src/nft/mod.rs
  frame/composable-traits/src/nft/protocol.rs
  frame/composable-traits/src/staking/lock.rs
  frame/composable-traits/src/staking/math.rs
  frame/composable-traits/src/staking/mod.rs
  frame/composable-traits/src/staking/nft.rs
  frame/composable-traits/src/staking/rewards.rs
  frame/composable-traits/src/staking_rewards.rs
  frame/composable-traits/src/time.rs
  frame/nft/README.md
  frame/nft/src/lib.rs
  frame/nft/src/test/mock.rs
  frame/nft/src/test/mod.rs
  frame/nft/src/test/nonfungibles/inspect.rs
  frame/nft/src/test/nonfungibles/mutate.rs
  frame/nft/src/test/nonfungibles/transfer.rs
  frame/nft/src/test/prelude.rs
  frame/staking-rewards/Cargo.toml
  frame/staking-rewards/README.md
  frame/staking-rewards/src/lib.rs
  frame/staking-rewards/src/mock.rs
  frame/staking-rewards/src/tests.rs
  runtime/common/src/lib.rs
  runtime/dali/Cargo.toml
  runtime/dali/src/lib.rs
Due: none

fixing more comments
  .config/cargo_spellcheck.dic
  frame/composable-traits/src/nft/mod.rs
  frame/composable-traits/src/staking/rewards.rs
  frame/nft/README.md
  frame/staking-rewards/Cargo.toml
  frame/staking-rewards/README.md
Due: none

added rate
  frame/composable-traits/src/staking/rewards.rs
Due: none

fixed comments
  .config/cargo_spellcheck.dic
  frame/composable-traits/src/nft/protocol.rs
  frame/composable-traits/src/staking/mod.rs
  frame/staking-rewards/README.md
  runtime/dali/src/lib.rs
Due: none

Update frame/nft/src/lib.rs
  frame/nft/src/lib.rs
Due: none

fixed dead
  frame/nft/src/lib.rs
Due: none

fixed review comments
  frame/composable-traits/src/defi.rs
  frame/composable-traits/src/staking/mod.rs
  frame/nft/src/lib.rs
  frame/nft/src/test/mock.rs
  frame/nft/src/test/nonfungibles/mutate.rs
  frame/nft/src/test/prelude.rs
  frame/staking-rewards/README.md
Due: none

Update frame/staking-rewards/README.md
  frame/staking-rewards/README.md
Due: none

change number to DAYS constant
  frontend/ui-pablo/app/defi/utils/pablo/pools/decode.ts
Due: none

add CODEOWNERS rule
  .github/CODEOWNERS
Due: none

https://app.clickup.com/t/289uzft
  frontend/ui-pablo/app/components/Organisms/swap/SwapForm.tsx
  frontend/ui-pablo/app/store/swaps/swaps.slice.ts
  frontend/ui-pablo/app/store/swaps/swaps.types.ts
  frontend/ui-pablo/app/store/swaps/swaps.utils.ts
Due: none

chore(CH): add withdraw_collateral interface
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/weights.rs
  frame/composable-traits/src/clearing_house.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(CH): use consistent naming for deposit_collateral
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/weights.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

docs(CH): add links to withdraw_collateral
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

docs(CH): fix broken links in Market<T>
  frame/clearing-house/src/types.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): add withdraw_collateral scenarios
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/tests/withdraw_collateral.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): remove erroneous comment
  frame/clearing-house/src/tests/liquidate.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

chore(CH): add TODO to Market<T> impl
  frame/clearing-house/src/types.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): set taker_fee default to 0
  frame/clearing-house/src/tests/liquidate.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/tests/open_position.rs
  frame/clearing-house/src/tests/update_funding.rs
  frame/clearing-house/src/tests/withdraw_collateral.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): fix clippy warnings
  frame/clearing-house/src/tests/open_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(CH): add standard constructor for Market<T>
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/instruments.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/types.rs
  frame/composable-traits/src/clearing_house.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(vamm): Update both asset twaps together
  frame/vamm/src/lib.rs
  frame/vamm/src/tests/swap_asset.rs
  frame/vamm/src/tests/update_twap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Move swap related tests to one file
  frame/vamm/src/tests/swap_asset.rs
  frame/vamm/src/tests/swap_base_asset.rs
  frame/vamm/src/tests/swap_quote_asset.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

chore(vamm): Remove files from mod
  frame/vamm/src/tests/mod.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

sign with gpg
  frontend/ui-picasso/app/defi/Tokens.ts
Due: none

style(vamm): Rename test functions to `should_...`
  frame/vamm/src/tests/compute_invariant.rs
  frame/vamm/src/tests/create_vamm.rs
  frame/vamm/src/tests/get_price.rs
  frame/vamm/src/tests/get_twap.rs
  frame/vamm/src/tests/move_price.rs
  frame/vamm/src/tests/swap_asset.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Add unit tests for `get_twap`
  frame/vamm/src/tests/get_twap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Add more unit tests to `get_price`
  frame/vamm/src/tests/get_price.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Add unit test for `compute_invariant`
  frame/vamm/src/tests/compute_invariant.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Tidy tests
  Cargo.lock
  frame/composable-traits/src/vamm.rs
  frame/vamm/Cargo.toml
  frame/vamm/src/tests/get_twap.rs
  frame/vamm/src/tests/mod.rs
  frame/vamm/src/tests/move_price.rs
  frame/vamm/src/tests/swap_asset.rs
  frame/vamm/src/tests/update_twap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

refactor(vamm): Ensure vamm is open for get price
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

refactor(CH): Compatibility changes for Vamm API
  frame/clearing-house/src/mock/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

style(vamm): Apply clippy suggestions
  frame/vamm/src/tests/create_vamm.rs
  frame/vamm/src/tests/get_price.rs
  frame/vamm/src/tests/mod.rs
  frame/vamm/src/tests/move_price.rs
  frame/vamm/src/tests/swap_asset.rs
  frame/vamm/src/tests/update_twap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

refactor(vamm): Ignore `update_twap` error in swap
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

refactor(vamm): Remove unneeded functions
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test
