Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - push

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly test --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

Revert "refactor(CH): group helpers by main functionality"
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(composable-tests-helpers): Fix panic bug
  frame/composable-tests-helpers/src/test/helper.rs
Due: none

refactor(vamm): Compute twaps as reciprocals
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Add test checking twaps are reciprocal
  frame/vamm/src/tests/mod.rs
  frame/vamm/src/tests/update_twap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

chore(vamm): Move dependency in Cargo.toml
  frame/vamm/Cargo.toml
Due: none

Fix Firefox issue with background blur.
  frontend/ui-picasso/app/styles/theme.ts
Due: none

Change bors timeout to 2 hours
  bors.toml
Due: none

docs(book/): remove outdated section angular
  book/src/SUMMARY.md
  book/src/products/angular/angular-token.md
  book/src/products/angular/foreign-assets.md
  book/src/products/angular/img/angular_logo-1500x500.png
  book/src/products/angular/img/technical-specification/graph-curved-model.png
  book/src/products/angular/img/technical-specification/graph-double-exponent-model.png
  book/src/products/angular/img/technical-specification/graph-jump-model.png
  book/src/products/angular/product-brief.md
  book/src/products/angular/socials.md
  book/src/products/angular/technical-specification.md
  book/src/products/angular/technical-specification/collateral.md
  book/src/products/angular/technical-specification/collateral/nfts.md
  book/src/products/angular/technical-specification/liquidations.md
  book/src/products/angular/technical-specification/liquidations/implementation.md
  book/src/products/angular/technical-specification/liquidations/liquidation-interface.md
  book/src/products/angular/technical-specification/liquidations/liquidation-interface/ibc.md
  book/src/products/angular/technical-specification/liquidations/liquidation-interface/xcm.md
  book/src/products/angular/technical-specification/models.md
  book/src/products/angular/technical-specification/oracle.md
  book/src/products/angular/technical-specification/pools.md
  book/src/products/angular/technical-specification/references.md
  book/src/products/angular/technical-specification/references/COM-LendingFeatures-030122-1046.pdf
  book/src/products/angular/technical-specification/undercollateralized-loans-leverage.md
Due: none

docs(book/): remove timeline & move routing layer section
  book/src/SUMMARY.md
Due: none

Update dali-stage network URL
  .maintain/playbooks/templates/docker-compose/dali-subsquid-archiver.docker-compose.yml.j2
  subsquid/src/processor.ts
Due: none

docs(vamm): Fix typos
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

Removed commented out code
  Cargo.toml
Due: none

docs(book): edit summary
  book/src/SUMMARY.md
Due: none

Migrate all bonds and oracle into Zustand state manager
  frontend/ui-picasso/app/components/Organisms/Bond/ClaimForm.tsx
  frontend/ui-picasso/app/components/Organisms/CrowdloanRewards/ClaimloanPage.tsx
  frontend/ui-picasso/app/defi/polkadot/hooks/useOpenPositions.ts
  frontend/ui-picasso/app/defi/polkadot/interfaces/augment-api-rpc.ts
  frontend/ui-picasso/app/defi/polkadot/pallets/BondedFinance.ts
  frontend/ui-picasso/app/defi/polkadot/pallets/Oracle.ts
  frontend/ui-picasso/app/package.json
  frontend/ui-picasso/app/pages/bonds/[bond].tsx
  frontend/ui-picasso/app/pages/bonds/index.tsx
  frontend/ui-picasso/app/pages/index.tsx
  frontend/ui-picasso/app/stores/defi/index.ts
  frontend/ui-picasso/app/stores/defi/metamask.ts
  frontend/ui-picasso/app/stores/defi/polkadot.ts
  frontend/ui-picasso/app/stores/defi/polkadot/balances/slice.ts
  frontend/ui-picasso/app/stores/defi/polkadot/bonds/PolkadotBondsUpdater.tsx
  frontend/ui-picasso/app/stores/defi/polkadot/bonds/slice.ts
  frontend/ui-picasso/app/stores/defi/polkadot/bonds/useClaim.tsx
  frontend/ui-picasso/app/stores/defi/polkadot/crowdloanRewards/slice.ts
  frontend/ui-picasso/app/stores/defi/polkadot/oracle/slice.ts
  frontend/ui-picasso/app/stores/defi/staking.ts
  frontend/ui-picasso/app/stores/defi/stats/apollo.ts
  frontend/ui-picasso/app/stores/defi/stats/overview.ts
  frontend/ui-picasso/app/stores/defi/stats/telemetry.ts
  frontend/ui-picasso/app/stores/defi/stats/treasury.ts
  frontend/ui-picasso/app/stores/defi/transfers.ts
  frontend/ui-picasso/app/stores/root.ts
  frontend/ui-picasso/app/stores/types.ts
  frontend/ui-picasso/app/stores/ui/ui.ts
  frontend/ui-picasso/app/tsconfig.json
  frontend/ui-picasso/tsconfig.json
  frontend/ui-picasso/yarn.lock
Due: none

test(instrumental-strategy-pablo): add 'test_caller_persmissoned' test + add 'test_pool_id_must_be_valid' test
  frame/instrumental-strategy-pablo/src/lib.rs
  frame/instrumental-strategy-pablo/src/tests.rs
Due: none

refactor(vamm): Move helpers to dedicate files
  frame/vamm/src/tests/compute_invariant.rs
  frame/vamm/src/tests/create_vamm.rs
  frame/vamm/src/tests/get_price.rs
  frame/vamm/src/tests/get_twap.rs
  frame/vamm/src/tests/mod.rs
  frame/vamm/src/tests/move_price.rs
  frame/vamm/src/tests/swap_asset.rs
  frame/vamm/src/tests/update_twap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(instrumental-strategy-pablo): add 'test_setting_pool_id_for_the_first_time_succeeds' test function
  frame/instrumental-strategy-pablo/src/mock/helpers.rs
  frame/instrumental-strategy-pablo/src/tests.rs
Due: none

refactor(vamm): Use `as_decimal` in get_price test
  frame/vamm/src/tests/get_price.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

Fix type errors
  frontend/ui-picasso/app/components/Organisms/CrowdloanRewards/ClaimloanPage.tsx
  frontend/ui-picasso/app/defi/polkadot/hooks/useOpenPositions.ts
  frontend/ui-picasso/app/defi/polkadot/pallets/Balance.ts
  frontend/ui-picasso/app/defi/polkadot/pallets/BondedFinance.ts
  frontend/ui-picasso/app/pages/index.tsx
  frontend/ui-picasso/app/pages/treasury/bonding/index.tsx
  frontend/ui-picasso/app/stores/defi/metamask.ts
  frontend/ui-picasso/app/stores/defi/polkadot.ts
  frontend/ui-picasso/app/stores/defi/polkadot/balances/slice.ts
  frontend/ui-picasso/app/stores/defi/polkadot/crowdloanRewards/CrowdloanRewardsUpdater.tsx
  frontend/ui-picasso/app/stores/defi/polkadot/crowdloanRewards/slice.ts
  frontend/ui-picasso/app/stores/defi/staking.ts
  frontend/ui-picasso/app/stores/defi/stats/apollo.ts
  frontend/ui-picasso/app/stores/defi/stats/overview.ts
  frontend/ui-picasso/app/stores/defi/stats/telemetry.ts
  frontend/ui-picasso/app/stores/defi/stats/treasury.ts
  frontend/ui-picasso/app/stores/defi/transfers.ts
  frontend/ui-picasso/app/stores/middlewares/immer.ts
  frontend/ui-picasso/app/stores/ui/ui.ts
Due: none

Added benchmarks for liquidations pallet
  frame/dutch-auction/src/weights.rs
  frame/lending/src/mocks/general.rs
  frame/lending/src/mocks/offchain.rs
  frame/liquidations/Cargo.toml
  frame/liquidations/src/benchmarking.rs
  frame/liquidations/src/lib.rs
  frame/liquidations/src/mock/runtime.rs
  frame/liquidations/src/weights.rs
  runtime/dali/src/lib.rs
  runtime/dali/src/weights/liquidations.rs
Due: none

refactor(vamm): Use `as_decimal` helper
  frame/vamm/src/tests/compute_invariant.rs
  frame/vamm/src/tests/get_price.rs
  frame/vamm/src/tests/get_twap.rs
  frame/vamm/src/tests/update_twap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

docs(book/products/centauri): added centauri page to book
  book/src/SUMMARY.md
  book/src/products/centauri-overview.md
  book/src/products/centauri/consensus-proofs-1.png
  book/src/products/centauri/consensus-proofs-2.png
  book/src/products/centauri/cosmos11-BEEFY-COSMOS-IBC-ligh-client.md
  book/src/products/centauri/expanding-ibc-protocol.md
  book/src/products/centauri/header-overview.png
  book/src/products/centauri/header-transactions.png
  book/src/products/centauri/light-clients.md
  book/src/products/centauri/merkle-mountain-ranges-1.png
  book/src/products/centauri/merkle-mountain-ranges-2.png
  book/src/products/centauri/merkle-mountain-ranges-3.png
  book/src/products/centauri/merkle-mountain-ranges-4.png
  book/src/products/centauri/merkle-mountain-ranges-5.png
  book/src/products/centauri/merkle-mountain-ranges.md
  book/src/products/centauri/state-root.png
  book/src/products/centauri/transactions-root.png
  book/src/products/overview-centauri-progress.png
Due: none

style(instrumental-strategy-pablo): rename var (value from `Pools` storage)
  frame/instrumental-strategy-pablo/src/lib.rs
Due: none

docs(book/audits): replace text
  book/src/audits/audit-results-recommendations-and-remediations.md
Due: none

refactor(instrumental-strategy-pablo): remove dedup of pool's creating code
  frame/instrumental-strategy-pablo/src/mock/helpers.rs
  frame/instrumental-strategy-pablo/src/tests.rs
Due: none

configure RemoteAmmId for Runtime
  runtime/dali/src/lib.rs
Due: none

feat: store RemoteAmmIds
  frame/mosaic/src/lib.rs
Due: none

test: add_remote_amm_id
  frame/mosaic/src/mock.rs
  frame/mosaic/src/tests.rs
Due: none

test: more amm proptests
  frame/mosaic/src/tests.rs
Due: none

feat: Errors for RemoteAmmIdAlreadyExists and RemoteAmmidNotFound
  frame/mosaic/src/lib.rs
Due: none

feat: swap_to_native flag
  frame/mosaic/src/benchmarking.rs
  frame/mosaic/src/lib.rs
  frame/mosaic/src/tests.rs
Due: none

fix: rename to RemoteAmmWhitelist
  frame/mosaic/src/lib.rs
Due: none

feat: source_user_account parameter
  frame/mosaic/src/benchmarking.rs
  frame/mosaic/src/lib.rs
  frame/mosaic/src/tests.rs
Due: none

fix: TypeInfo expansion by alterning generic structure
  frame/mosaic/src/benchmarking.rs
  frame/mosaic/src/lib.rs
  frame/mosaic/src/tests.rs
Due: none

feat: AmmSwapInfo
  frame/mosaic/src/lib.rs
Due: none

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/clearing-house/ and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
