Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:

    ########## Clearing House ##########
  - id: clearing-house::cargo-fmt
    name: clearing-house::cargo-fmt
    entry: cargo +nightly fmt --check -p clearing-house
    language: system
    pass_filenames: false
    stages: [commit, push]
    files: ^frame/clearing-house/
    types: [rust]
  - id: clearing-house::cargo-clippy
    name: clearing-house::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
    language: system
    pass_filenames: false
    stages: [push]
    files: ^frame/clearing-house/
    types: [rust]

    ########## VAMM ##########
  - id: vamm::cargo-fmt
    name: vamm::cargo-fmt
    entry: cargo +nightly fmt --check -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-check
    name: vamm::cargo-check
    entry: cargo +nightly check --all-targets -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-test
    name: vamm::cargo-test
    entry: cargo +nightly test --all-features --tests -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-clippy
    name: vamm::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p pallet-vamm -- -D warnings -D clippy::all
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]
  - id: vamm::cargo-doc
    name: vamm::cargo-doc
    entry: cargo +nightly doc --no-deps -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v8.0.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ['@commitlint/config-conventional']

feat(vamm): Add `swap_simulation` fn definition
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

refactor(vamm): Change variant name in `Direction`
  frame/composable-traits/src/vamm.rs
Due: none

feat(CH): get or create new position
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

chore(CH): ignore margin test
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): assert open_position creates new position
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

fix(CH): write positions changes to storage
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): check for maximum number of open positions
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(vamm): Change `get_price` signature
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

style(vamm): Update function parameters
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

disable build for multiple arch
  .github/workflows/docker-release.yml
Due: none

update curl to get, add version arg
  .github/workflows/docker-release.yml
  docker/Dockerfile
Due: none

re-enable push-tag trigger
  .github/workflows/docker-release.yml
Due: none

Docker update (#868)
  .github/workflows/docker-release.yml
  docker/Dockerfile
Due: none

feat(CH,vamm): integrate Vamm trait changes
  Cargo.lock
  frame/clearing-house/Cargo.toml
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/composable-traits/Cargo.toml
  frame/composable-traits/src/vamm.rs
  frame/vamm/Cargo.toml
  frame/vamm/src/lib.rs
  frame/vamm/src/mock.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

refactor(CH): use iter interface instead of range
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(CH): rename market_idx to market_id
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): assert can close position with reverse trade
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Update CI config
  .github/workflows/test.yml
  scripts/wait_polkadot_launch.sh
Due: none

Add a running of runtime-test in CI
  .github/workflows/runtime-tests.yml
  integration-tests/runtime-tests/docker-compose-ci.yml
  scripts/wait_polkadot_launch.sh
Due: none

refactor(CH): import pallets with 'Pallet' suffix
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): mock Vamm::swap
  frame/clearing-house/src/mock/vamm.rs
  frame/clearing-house/src/tests.rs
  frame/composable-traits/src/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

style(CH): sort Config types lexicographically
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/runtime.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

fixing ci
  Cargo.lock
Due: none

test(CH): fix typo
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

fixed ci
  .github/workflows/check.yml
  .github/workflows/devnet-release.yml
  .taplo.toml
  Cargo.lock
  Cargo.toml
  Makefile.toml
  book/book.toml
  docker/ci-linux.dockerfile
  flake.nix
  shell.nix
Due: none

nightly fixing
  docker/ci-linux.dockerfile
Due: none

test(CH): add margin for open_position checks
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

adding docker collator easy start
  docker-compose-collator/Composable-Collator-Monitoring-1649946920407.json
  docker-compose-collator/Dockerfile
  docker-compose-collator/docker-compose.yml
  docker-compose-collator/docker_setup.sh
  docker-compose-collator/prometheus2.yml
Due: none

moving files
  Dockerfile
  docker-compose.yml
  prometheus2.yml
Due: none

docker
  .github/workflows/check.yml
  .github/workflows/devnet-release.yml
  docker/ci-linux.dockerfile
  flake.nix
  shell.nix
Due: none

ci
  docker/ci-linux.dockerfile
Due: none

fixing
  .github/workflows/check.yml
  .github/workflows/devnet-release.yml
  docker/ci-linux.dockerfile
Due: none

clean
  docker/ci-linux.dockerfile
Due: none

fmt
  .github/workflows/check.yml
Due: none

cleam
  .github/workflows/check.yml
Due: none

updated the frame/instrumental/ folder structure
  frame/instrumental/src/lib.rs
  frame/instrumental/src/mock/account_id.rs
  frame/instrumental/src/mock/currency.rs
  frame/instrumental/src/mock/mod.rs
  frame/instrumental/src/mock/runtime.rs
  frame/instrumental/src/tests.rs
Due: none
