Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - push

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly test --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

refactor(CH): encapsulate decimal math
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/math.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(CH): encapsulate trade rounding
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

CU-24qmg40 - fNFT/Staking rewards protocol (#830)
  Cargo.lock
  frame/composable-support/src/abstractions/block_fold.rs
  frame/composable-support/src/abstractions/mod.rs
  frame/composable-support/src/lib.rs
  frame/composable-traits/src/financial_nft.rs
  frame/composable-traits/src/lib.rs
  frame/composable-traits/src/staking_rewards.rs
  frame/nft/Cargo.toml
  frame/nft/src/lib.rs
  frame/staking-rewards/Cargo.toml
  frame/staking-rewards/README.md
  frame/staking-rewards/src/lib.rs
  frame/staking-rewards/src/mock.rs
  frame/staking-rewards/src/tests.rs
Due: none

docs(CH): update clearing-house.plantuml
  frame/clearing-house/diagrams/clearing-house.plantuml
Due: none

CU-25zu5uv Use Pablo in Dex-Router. (#899)
  Cargo.lock
  frame/composable-traits/src/dex.rs
  frame/dex-router/Cargo.toml
  frame/dex-router/src/lib.rs
  frame/dex-router/src/mock.rs
  frame/dex-router/src/tests.rs
  frame/pablo/src/lib.rs
Due: none

Adding integration tests - buggy
  integration-tests/runtime-tests/test/tests/pablo/constantProductTests.ts
  integration-tests/runtime-tests/test/tests/pablo/testHandlers/constantProductDexHelper.ts
  integration-tests/runtime-tests/test/tests/pablo/test_configuration.json
Due: none

Adding integration tests - buggy
  integration-tests/runtime-tests/test/tests/pablo/constantProductTests.ts
  integration-tests/runtime-tests/test/tests/pablo/testHandlers/constantProductDexHelper.ts
Due: none

refactor(CH): simplify generic params to Market & Position
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Add docker/base-ci-linux.dockerfile
  .github/workflows/base-ci-linux.yml
  Makefile
  docker/base-ci-linux.dockerfile
Due: none

Switch 'composablefi/ci-linux' docker image to 'composablefi/base-ci-linux' docker image
  docker/ci-linux.dockerfile
Due: none

Rename 'clippy::disallowed_method' to 'clippy::disallowed_methods'
  .github/workflows/base-ci-linux.yml
  .github/workflows/check.yml
  docker/base-ci-linux.dockerfile
  frame/assets-registry/src/lib.rs
  frame/assets/src/lib.rs
  frame/bonded-finance/src/lib.rs
  frame/call-filter/src/lib.rs
  frame/composable-maths/src/lib.rs
  frame/composable-support/src/lib.rs
  frame/composable-traits/src/lib.rs
  frame/composable-traits/src/rate_model.rs
  frame/crowdloan-rewards/src/lib.rs
  frame/currency-factory/src/benchmarking.rs
  frame/currency-factory/src/lib.rs
  frame/currency-factory/src/ranges.rs
  frame/curve-amm/src/lib.rs
  frame/democracy/src/lib.rs
  frame/dex-router/src/lib.rs
  frame/dutch-auction/src/lib.rs
  frame/governance-registry/src/lib.rs
  frame/lending/src/lib.rs
  frame/liquidations/src/lib.rs
  frame/liquidity-bootstrapping/src/lib.rs
  frame/nft/src/lib.rs
  frame/oracle/src/lib.rs
  frame/pablo/src/lib.rs
  frame/ping/src/lib.rs
  frame/privilege/src/lib.rs
  frame/staking-rewards/src/lib.rs
  frame/transaction-fee/src/lib.rs
  frame/uniswap-v2/src/lib.rs
  frame/vault/src/lib.rs
  frame/vesting/src/lib.rs
Due: none

Rename 'clippy::disallowed_type' to 'clippy::disallowed_types'
  docker/base-ci-linux.dockerfile
  frame/assets-registry/src/lib.rs
  frame/assets/src/lib.rs
  frame/bonded-finance/src/lib.rs
  frame/call-filter/src/lib.rs
  frame/composable-maths/src/lib.rs
  frame/composable-support/src/lib.rs
  frame/composable-traits/src/lib.rs
  frame/crowdloan-rewards/src/lib.rs
  frame/currency-factory/src/lib.rs
  frame/curve-amm/src/lib.rs
  frame/democracy/src/lib.rs
  frame/dex-router/src/lib.rs
  frame/dutch-auction/src/lib.rs
  frame/governance-registry/src/lib.rs
  frame/lending/src/lib.rs
  frame/liquidations/src/lib.rs
  frame/liquidity-bootstrapping/src/lib.rs
  frame/mosaic/src/lib.rs
  frame/nft/src/lib.rs
  frame/oracle/src/lib.rs
  frame/pablo/src/lib.rs
  frame/ping/src/lib.rs
  frame/privilege/src/lib.rs
  frame/staking-rewards/src/lib.rs
  frame/transaction-fee/src/lib.rs
  frame/uniswap-v2/src/lib.rs
  frame/vault/src/lib.rs
  frame/vault/src/mocks/currency_factory.rs
  frame/vesting/src/lib.rs
  runtime/common/src/lib.rs
  runtime/composable/src/lib.rs
  runtime/dali/src/lib.rs
  runtime/picasso/src/lib.rs
  runtime/primitives/src/lib.rs
Due: none

Make clippy happier
  node/src/lib.rs
  runtime/dali/src/xcmp.rs
  runtime/picasso/src/xcmp.rs
Due: none

test(CH): limit PnL based on entry price
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): assert decreasing position realizes PnL
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Run tests with coverage inside 'composablefi/ci-linux' docker image
  .github/workflows/check.yml
Due: none

adding update to action
  .github/workflows/runtime-upgrade.yml
Due: none

Commit missing types
  integration-tests/runtime-tests/src/types/interfaces/augment-api-rpc.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-types.ts
  integration-tests/runtime-tests/src/types/interfaces/pablo/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/pablo/types.ts
Due: none

update ga
  .github/workflows/runtime-upgrade.yml
Due: none

Minor fix
  integration-tests/runtime-tests/.gitignore
  integration-tests/runtime-tests/test/tests/pablo/testHandlers/constantProductDexHelper.ts
Due: none

Minor fix
  integration-tests/runtime-tests/.gitignore
Due: none

Verify priceFor RPC in Integration Test
  integration-tests/runtime-tests/test/tests/pablo/constantProductTests.ts
  integration-tests/runtime-tests/test/tests/pablo/testHandlers/PabloDexHelper.ts
Due: none

Allow single node route on dex-router.
  frame/dex-router/src/lib.rs
  frame/dex-router/src/tests.rs
Due: none

[cu-2p0jnm4][Pablo] Price Custom RPC (#856)
  Cargo.lock
  docs/custom-rpcs.md
  frame/assets/rpc/src/lib.rs
  frame/composable-traits/src/dex.rs
  frame/pablo/rpc/Cargo.toml
  frame/pablo/rpc/src/lib.rs
  frame/pablo/runtime-api/Cargo.toml
  frame/pablo/runtime-api/src/lib.rs
  frame/pablo/src/lib.rs
  integration-tests/runtime-tests/.gitignore
  integration-tests/runtime-tests/src/types/interfaces/augment-api-rpc.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-types.ts
  integration-tests/runtime-tests/src/types/interfaces/pablo/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/pablo/types.ts
  integration-tests/runtime-tests/test/tests/pablo/constantProductTests.ts
  integration-tests/runtime-tests/test/tests/pablo/testHandlers/PabloDexHelper.ts
  integration-tests/runtime-tests/test/tests/pablo/test_configuration.json
  node/Cargo.toml
  node/src/rpc.rs
  node/src/runtime.rs
  runtime/common/src/lib.rs
  runtime/composable/Cargo.toml
  runtime/composable/src/lib.rs
  runtime/dali/Cargo.toml
  runtime/dali/src/lib.rs
  runtime/picasso/Cargo.toml
  runtime/picasso/src/lib.rs
Due: none

Allow single node route on dex-router. (#903)
  frame/dex-router/src/lib.rs
  frame/dex-router/src/tests.rs
Due: none

Update 'composablefi/base-ci-linux' docker image
  docker/base-ci-linux.dockerfile
Due: none

docs(vamm): Add reference to `VammStruct` in Error
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

docs(vamm): Update diagrams in docs
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

docs(vamm): Change `Clearing House` reference
  frame/vamm/diagrams/function_create.plantuml
  frame/vamm/diagrams/function_get_price.plantuml
Due: none

feat(vamm): Add sanity checks for `swap` function
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

feat(CH): decrease position
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/math.rs
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Update 'composablefi/ci-linux' docker image
  .github/workflows/ci-linux.yml
  docker/ci-linux.dockerfile
Due: none

Delete Dockerfile
  docker-compose-collator/Dockerfile
Due: none

Update docker-compose.yml
  docker-compose-collator/docker-compose.yml
Due: none

Update setup-docker.sh
  scripts/setup-docker.sh
Due: none

fix(vamm): Apply clippy suggestion
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/clearing-house/ and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
