Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - push

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly test --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

Added `collator-set-up-guide.md` (#933)
  book/src/SUMMARY.md
  book/src/book/contributing.md
  book/src/developer-guides/collator-set-up-guide.md
  book/src/developer-guides/picasso-bannar.png
Due: none

fmt
  Makefile.toml
  frame/assets-registry/src/benchmarking.rs
  frame/assets-registry/src/lib.rs
  frame/assets-registry/src/mock.rs
  frame/assets-registry/src/tests.rs
  frame/assets-registry/src/weights.rs
  frame/composable-traits/src/assets.rs
  frame/composable-traits/src/bounded.rs
  frame/composable-traits/src/defi.rs
  frame/composable-traits/src/lib.rs
  frame/composable-traits/src/xcm/assets.rs
  frame/currency-factory/Cargo.toml
  frame/dex-router/Cargo.toml
  integration-tests/local-integration-tests/src/assets_integration.rs
  integration-tests/local-integration-tests/src/cross_chain_transfer.rs
  integration-tests/local-integration-tests/src/lib.rs
  integration-tests/local-integration-tests/src/low_level_xcm_orml_tests.rs
  runtime/common/src/xcmp/mod.rs
  runtime/dali/Cargo.toml
  runtime/dali/src/lib.rs
  runtime/dali/src/xcmp.rs
  runtime/picasso/src/xcmp.rs
Due: none

Remove 'curve-amm', 'uniswap-v2' and 'liquidityboot-strapping' pallets.
  Cargo.lock
  frame/curve-amm/Cargo.toml
  frame/curve-amm/README.md
  frame/curve-amm/curve_base.png
  frame/curve-amm/curve_graph.png
  frame/curve-amm/curve_slippage.png
  frame/curve-amm/proptest-regressions/tests.txt
  frame/curve-amm/src/benchmarking.rs
  frame/curve-amm/src/lib.rs
  frame/curve-amm/src/maths.rs
  frame/curve-amm/src/mock.rs
  frame/curve-amm/src/tests.rs
  frame/curve-amm/src/weights.rs
  frame/liquidity-bootstrapping/Cargo.toml
  frame/liquidity-bootstrapping/README.md
  frame/liquidity-bootstrapping/plots/lbp_buy_project.png
  frame/liquidity-bootstrapping/plots/lbp_sell_project.png
  frame/liquidity-bootstrapping/plots/lbp_spot_price.png
  frame/liquidity-bootstrapping/plots/lbp_weights.png
  frame/liquidity-bootstrapping/src/benchmarking.rs
  frame/liquidity-bootstrapping/src/lib.rs
  frame/liquidity-bootstrapping/src/mock.rs
  frame/liquidity-bootstrapping/src/tests.rs
  frame/liquidity-bootstrapping/src/weights.rs
  frame/uniswap-v2/Cargo.toml
  frame/uniswap-v2/README.md
  frame/uniswap-v2/src/benchmarking.rs
  frame/uniswap-v2/src/lib.rs
  frame/uniswap-v2/src/mock.rs
  frame/uniswap-v2/src/tests.rs
  frame/uniswap-v2/src/weights.rs
  integration-tests/local-integration-tests/Cargo.toml
  runtime/dali/Cargo.toml
  runtime/dali/src/lib.rs
  runtime/dali/src/weights/curve_amm.rs
  runtime/dali/src/weights/liquidity_bootstrapping.rs
  runtime/dali/src/weights/mod.rs
  runtime/dali/src/weights/uniswap_v2.rs
Due: none

fixed comments from review
  Makefile.toml
  frame/assets-registry/README.md
  frame/assets-registry/src/lib.rs
  frame/assets-registry/src/mock.rs
  runtime/dali/src/lib.rs
  runtime/picasso/src/lib.rs
Due: none

weights fixed
  runtime/composable/src/weights/currency_factory.rs
  runtime/composable/src/weights/mod.rs
  runtime/composable/src/weights/tokens.rs
  runtime/dali/src/weights/crowdloan_rewards.rs
  runtime/dali/src/weights/lending.rs
  runtime/dali/src/weights/tokens.rs
  runtime/picasso/src/weights/crowdloan_rewards.rs
  runtime/picasso/src/weights/mod.rs
  runtime/picasso/src/weights/tokens.rs
Due: none

fix cannot_submit_price_when_stake_too_low test with Validated types
  frame/oracle/src/tests.rs
Due: none

Revert "remove parachain vault strategy pages"
  book/src/SUMMARY.md
  book/src/products/parachain-vault-strategy/additional-rewards.md
  book/src/products/parachain-vault-strategy/bug-bounty-via-immunefi.md
  book/src/products/parachain-vault-strategy/contracts-technical-details.md
  book/src/products/parachain-vault-strategy/ctd-vault-contracts.png
  book/src/products/parachain-vault-strategy/parachain-auction-tokens.md
  book/src/products/parachain-vault-strategy/risks.md
  book/src/products/parachain-vault-strategy/uniquely-beneficial-strategy.png
  book/src/products/parachain-vault-strategy/vault-boosts.md
  book/src/products/parachain-vault-strategy/vault-process-in-detail.md
  book/src/products/parachain-vault-strategy/vault-strategy-expansion.md
  book/src/products/parachain-vault-strategy/vpd-general-deposit-workflow.png
  book/src/products/parachain-vault-strategy/vpd-general-withdrawal-workflow.png
  book/src/products/parachain-vault-strategy/vpd-harvest-sc-deposit-workflow.png
  book/src/products/parachain-vault-strategy/vpd-harvest-sc-withdrawal-workflow.png
  book/src/products/parachain-vault-strategy/walkthrough-01.png
  book/src/products/parachain-vault-strategy/walkthrough-02.png
  book/src/products/parachain-vault-strategy/walkthrough-03.png
  book/src/products/parachain-vault-strategy/walkthrough-04.png
  book/src/products/parachain-vault-strategy/walkthrough-05.png
  book/src/products/parachain-vault-strategy/walkthrough-06.png
  book/src/products/parachain-vault-strategy/walkthrough-07.png
  book/src/products/parachain-vault-strategy/walkthrough-08.png
  book/src/products/parachain-vault-strategy/walkthrough-09.png
  book/src/products/parachain-vault-strategy/walkthrough-10.png
  book/src/products/parachain-vault-strategy/walkthrough-11.png
  book/src/products/parachain-vault-strategy/walkthrough-12.png
  book/src/products/parachain-vault-strategy/walkthrough-13.png
  book/src/products/parachain-vault-strategy/walkthrough-14.png
  book/src/products/parachain-vault-strategy/walkthrough-15.png
  book/src/products/parachain-vault-strategy/walkthroughs.md
Due: none

chore(CH): add update_funding boilerplate
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/tests/update_funding.rs
  frame/clearing-house/src/weights.rs
  frame/composable-traits/src/clearing_house.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

CU-1kjdbd0 Oracle proptests (#603)
  Cargo.lock
  docs/proptest.md
  frame/oracle/Cargo.toml
  frame/oracle/proptest-regressions/tests.txt
  frame/oracle/src/lib.rs
  frame/oracle/src/mock.rs
  frame/oracle/src/tests.rs
Due: none

naming min max
  frame/composable-traits/src/bounded.rs
Due: none

test(CH): implement run_for_seconds helper
  frame/clearing-house/src/tests/update_funding.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): enforce funding frequency for market
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): try updating funding for missing market
  frame/clearing-house/proptest-regressions/tests/update_funding.txt
  frame/clearing-house/src/tests/update_funding.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

#CU-2vxc2n7 assets improvements for making non 12 decimals transfers and democracy ceremomy (#936)
  Cargo.lock
  Makefile.toml
  frame/assets-registry/Cargo.toml
  frame/assets-registry/README.md
  frame/assets-registry/local-mapping.plantuml
  frame/assets-registry/src/benchmarking.rs
  frame/assets-registry/src/lib.rs
  frame/assets-registry/src/mock.rs
  frame/assets-registry/src/tests.rs
  frame/assets-registry/src/weights.rs
  frame/composable-traits/src/assets.rs
  frame/composable-traits/src/bounded.rs
  frame/composable-traits/src/defi.rs
  frame/composable-traits/src/lib.rs
  frame/composable-traits/src/xcm/assets.rs
  frame/composable-traits/src/xcm/mod.rs
  frame/dex-router/Cargo.toml
  integration-tests/local-integration-tests/awesome-xcmp.md
  integration-tests/local-integration-tests/src/assets_integration.rs
  integration-tests/local-integration-tests/src/cross_chain_transfer.rs
  integration-tests/local-integration-tests/src/helpers.rs
  integration-tests/local-integration-tests/src/lib.rs
  integration-tests/local-integration-tests/src/low_level_xcm_orml_tests.rs
  integration-tests/local-integration-tests/src/transact_calls.rs
  rfcs/0002-rent-deposit.md
  runtime/common/src/xcmp/mod.rs
  runtime/common/src/xcmp/xcmp.rs
  runtime/composable/src/xcmp.rs
  runtime/dali/src/lib.rs
  runtime/dali/src/weights/assets_registry.rs
  runtime/picasso/src/lib.rs
  runtime/picasso/src/weights/assets_registry.rs
  runtime/picasso/src/xcmp.rs
  runtime/primitives/src/currency.rs
Due: none

test(CH): try random update funding times
  frame/clearing-house/proptest-regressions/tests/update_funding.txt
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/tests/update_funding.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Updated `comoposable-overview.md`
  book/src/products/the-composable-parachain/composable-overview.md
Due: none

Updated `the-composable-team.md` (#934)
  book/src/ecosystem/the-composable-team.md
Due: none

fuck
  frame/assets-registry/src/lib.rs
  integration-tests/local-integration-tests/src/lib.rs
Due: none

lending into runtime
  .tools/hooks/README.md
  frame/composable-traits/Cargo.toml
  frame/composable-traits/src/currency.rs
  frame/composable-traits/src/defi.rs
  frame/composable-traits/src/lending/math.rs
  frame/composable-traits/src/lending/mod.rs
  frame/composable-traits/src/oracle.rs
  frame/lending/Cargo.toml
  frame/lending/src/benchmarking.rs
  frame/lending/src/currency.rs
  frame/lending/src/lib.rs
  frame/lending/src/mocks/mod.rs
  frame/lending/src/models.rs
  frame/lending/src/models/borrower_data.rs
  frame/lending/src/repay_borrow.rs
  frame/lending/src/setup.rs
  frame/lending/src/tests.rs
  frame/vault/src/lib.rs
  out/frame/lending/lending/lending.png
  runtime/dali/src/lib.rs
  runtime/picasso/src/weights/multisig.rs
Due: none

rename clippy clippy::disallowed_type
  frame/composable-support/src/abstractions/nonce/test_storage_nonce.rs
  frame/lending/src/lib.rs
  integration-tests/local-integration-tests/src/lib.rs
Due: none

Remove extra comment
  frame/lending/src/lib.rs
Due: none

Add doc comment on Take
  frame/composable-traits/src/defi.rs
Due: none

Formatting
  frame/lending/src/lib.rs
  runtime/dali/Cargo.toml
Due: none

Add BorrowRentDoesNotExist Error
  frame/lending/src/lib.rs
Due: none

Fix Error ordering
  frame/lending/src/lib.rs
Due: none

[cu-2de6cr8] Introduce feeAsset ID to Swapped event
  frame/pablo/src/lib.rs
  frame/pablo/src/liquidity_bootstrapping_tests.rs
  frame/pablo/src/stable_swap_tests.rs
  subsquid/.env
  subsquid/archive/limux-local-docker-compose.yml
  subsquid/daliDevVersions.json
  subsquid/lib/processor.js
  subsquid/lib/processor.js.map
  subsquid/src/pabloProcessor.ts
  subsquid/src/processor.ts
  subsquid/src/types/events.ts
Due: none

Replaced `the-composable-parachain.md` with `composable-overview.md`
  book/src/SUMMARY.md
  book/src/products/composable-overview.md
  book/src/products/the-composable-parachain.md
Due: none

test(CH): add TWAP setters for mock oracle/vamm
  frame/clearing-house/src/mock/oracle.rs
  frame/clearing-house/src/mock/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): expect state changes on funding update
  frame/clearing-house/src/tests/update_funding.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): update_funding - market state
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(vamm): Add check if vamm is open or not
  Cargo.lock
  frame/vamm/src/lib.rs
  frame/vamm/src/mock.rs
  frame/vamm/src/tests/mod.rs
  frame/vamm/src/tests/swap_asset.rs
  frame/vamm/src/tests/swap_base_asset.rs
  frame/vamm/src/tests/swap_quote_asset.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

chore(vamm): Add proptest cases
  frame/vamm/proptest-regressions/tests/swap_asset.txt
  frame/vamm/proptest-regressions/tests/swap_base_asset.txt
  frame/vamm/proptest-regressions/tests/swap_quote_asset.txt
Due: none

add helper assert
  frame/lending/src/tests.rs
Due: none

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/clearing-house/ and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
