Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - push

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly test --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

docs(book ecosystem-development): move text
  book/src/ecosystem/build-on-composable-ecosystem-development/composable-grants.md
Due: none

docs(book products xcvm): change image & correct filepath
  book/src/products/composable-technical-stack.jpg
  book/src/products/composable-technical-stack.png
  book/src/products/cross-chain-virtual-machine.md
Due: none

docs(book products tech-stack-overview): change image & add text
  book/src/products/composable-technical-stack.jpg
  book/src/products/composable-technical-stack.png
  book/src/products/technical-stack-overview.md
Due: none

[CU-2d4gjrz] Restructure audit page (#1085)
  audits/Parachain vault Strategies/README.md
  audits/Parachain vault Strategies/Stela Labs - Parachain Vault Strategies - Audit Report & Remediation.pdf
  audits/Parachain vault Strategies/Trail of Bits for Advanced Blockchain AG - Audit Remediations.pdf
  audits/Parachain vault Strategies/Trail of Bits for Advanced Blockchain AG - Audit Report.pdf
  audits/Picasso Block Production Hault Code Fix/README.md
  audits/Picasso Block Production Hault Code Fix/aura-current-slot.png
  audits/Picasso Block Production Hault Code Fix/error-error.jpeg
  audits/Picasso Block Production Hault Code Fix/error-success.png
  audits/Picasso Block Production Hault Code Fix/if-we-unite-nobody-falls.jpeg
  audits/Picasso Block Production Hault Code Fix/type-minimum-period.png
  audits/Picasso Block Production Hault Code Fix/validation-function-applied.png
  audits/README.md
  book/src/SUMMARY.md
Due: none

Tests are devided into several modules
  frame/lending/src/lib.rs
  frame/lending/src/tests.rs
  frame/lending/src/tests/borrow.rs
  frame/lending/src/tests/interest.rs
  frame/lending/src/tests/liquidation.rs
  frame/lending/src/tests/market.rs
  frame/lending/src/tests/mod.rs
  frame/lending/src/tests/offchain.rs
  frame/lending/src/tests/repay.rs
  frame/lending/src/tests/vault.rs
Due: none

fmt fix
  frame/lending/src/tests/borrow.rs
  frame/lending/src/tests/interest.rs
  frame/lending/src/tests/liquidation.rs
  frame/lending/src/tests/market.rs
  frame/lending/src/tests/mod.rs
  frame/lending/src/tests/repay.rs
Due: none

chore: Add `manual` stages for CH pre-commit
  .pre-commit-config.yaml
Due: none

style(vamm): Apply `cargo fmt` changes
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

refactor(CH): Add `Moment` type to mock
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/mock/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(CH): Remove `vamm_id` pointer in `get_twap` call
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(CH): Add `update_twap` to mock
  frame/clearing-house/src/mock/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(xcvm): ability for CosmWasm contracts to deploy XCVM programs
  Cargo.lock
  frame/composable-traits/src/lib.rs
  frame/composable-traits/src/xcvm.rs
  frame/contracts/Cargo.toml
  frame/contracts/src/exec.rs
  frame/contracts/src/lib.rs
  frame/contracts/src/wasm/cosmwasm/mod.rs
  frame/contracts/src/wasm/cosmwasm/types.rs
  frame/sandbox/src/lib.rs
  frame/xcvm/Cargo.toml
  frame/xcvm/src/lib.rs
  integration-tests/runtime-tests/test/tests/cosmwasm/rpcCosmwasmTests.ts
  lib/xcvm/core/src/asset.rs
  lib/xcvm/protobuf/src/xcvm.rs
  runtime/dali/src/lib.rs
Due: none

test(Oracle HAL01): Fixed test checks verifying wrong balance.
  integration-tests/runtime-tests/test/tests/oracle/HAL01-Tests.ts
Due: none

Fixed changed variable during testing.
  integration-tests/runtime-tests/test/tests/oracle/HAL01-Tests.ts
Due: none

downgrade polkadot in devcontainer for xcvm
  .devcontainer/Dockerfile
Due: none

feat(cosmwasm): optionally derive JsonSchema if std is enabled
  Cargo.lock
  lib/xcvm/core/Cargo.toml
  lib/xcvm/core/src/asset.rs
  lib/xcvm/core/src/instruction.rs
  lib/xcvm/core/src/lib.rs
  lib/xcvm/core/src/network.rs
  lib/xcvm/core/src/program.rs
Due: none

feat(xcvm-core): convenient empty functions and fix tests
  lib/xcvm/core/src/asset.rs
  lib/xcvm/core/src/lib.rs
Due: none

test(CH): refactor with getter helpers
  frame/clearing-house/src/tests/close_position.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/tests/open_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): expect close_position to update funding
  frame/clearing-house/src/tests/close_position.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

chore(CH): attempt funding update in close_position
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

docs(CH): update close-position seq diagram
  frame/clearing-house/diagrams/close-position.plantuml
Due: none

docs(CH): complete close_position extrinsic
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

chore: undo changes to composable.code-workspace
  composable.code-workspace
Due: none

Change Equilibrable to None and did code refactor
  Cargo.lock
  frame/composable-traits/src/vault.rs
  frame/instrumental-strategy-pablo/src/lib.rs
  frame/lending/src/lib.rs
  frame/vault/src/lib.rs
  frame/vault/src/mocks/strategy.rs
Due: none

Refactor cargo.toml and instrumental/src
  frame/instrumental-strategy-pablo/Cargo.toml
  frame/instrumental/src/lib.rs
Due: none

Fix storybook components.
  frontend/ui-pablo/storybook/stories/organisms/pool_liquidity_panel.stories.tsx
  frontend/ui-pablo/storybook/stories/organisms/pool_rewards_panel.stories.tsx
  frontend/ui-pablo/storybook/stories/organisms/pool_stake_form.stories.tsx
  frontend/ui-pablo/storybook/stories/organisms/pool_staking_panel.stories.tsx
  frontend/ui-pablo/storybook/stories/organisms/pool_statistics.stories.tsx
  frontend/ui-pablo/storybook/stories/organisms/pool_tvl_chart.stories.tsx
  frontend/ui-pablo/storybook/stories/organisms/pool_unstake_form.stories.tsx
  frontend/ui-pablo/storybook/stories/pages/homepage.stories.tsx
Due: none

Webpack config fix.
  frontend/ui-pablo/storybook/.storybook/webpack.config.js
Due: none

Fix webpack config.
  frontend/ui-pablo/storybook/.storybook/webpack.config.js
Due: none

Some more tests.
  frontend/ui-pablo/app/store/hooks/usePoolTvlChart.ts
  frontend/ui-pablo/app/updaters/constants.ts
Due: none

Fix test fails
  frontend/ui-pablo/app/jest.setup.js
Due: none

Fixed import.
  frontend/ui-pablo/app/components/Organisms/pool/PoolDetails/PoolTVLChart.tsx
  frontend/ui-pablo/app/jest.setup.js
  frontend/ui-pablo/app/store/hooks/userPoolTvlChart/index.ts
Due: none

Update chart processor.
  frontend/ui-pablo/app/store/hooks/usePoolTvlChart.ts
  frontend/ui-pablo/app/store/hooks/userPoolTvlChart/helpers.ts
  frontend/ui-pablo/app/store/hooks/userPoolTvlChart/usePoolTvlChart.ts
  frontend/ui-pablo/app/store/swaps/swaps.types.ts
  frontend/ui-pablo/app/updaters/swaps/utils.ts
Due: none

Fix tests.
  frontend/ui-pablo/app/components/Organisms/pool/PoolDetails/PoolTVLChart.tsx
  frontend/ui-pablo/app/jest.setup.js
  frontend/ui-pablo/app/store/hooks/usePoolTvlChart/helpers.ts
  frontend/ui-pablo/app/store/hooks/usePoolTvlChart/usePoolTvlChart.ts
  frontend/ui-pablo/app/store/hooks/userPoolTvlChart/index.ts
  frontend/ui-pablo/app/tests/integrations/poolTvlChart.test.tsx
Due: none

Didds updates and remove liquidity rework.
  frontend/ui-pablo/app/components/Organisms/auction/AuctionInformation.tsx
  frontend/ui-pablo/app/components/Organisms/auction/BuyForm.tsx
  frontend/ui-pablo/app/components/Organisms/liquidity/RemoveForm/ConfirmingModal.tsx
  frontend/ui-pablo/app/components/Organisms/liquidity/RemoveForm/PreviewDetails.tsx
  frontend/ui-pablo/app/components/Organisms/liquidity/RemoveForm/index.tsx
  frontend/ui-pablo/app/components/Organisms/pool/PoolDetails/PoolLiquidityPanel.tsx
  frontend/ui-pablo/app/hooks/useDebounce.ts
  frontend/ui-pablo/app/store/hooks/useLiquidityByPool.ts
  frontend/ui-pablo/app/store/removeLiquidity/removeLiquidity.slice.ts
  frontend/ui-pablo/app/store/removeLiquidity/removeLiquidity.types.ts
  frontend/ui-pablo/app/store/removeLiquidity/removeLiquidity.utils.ts
  frontend/ui-pablo/app/updaters/liquidity/Updater.tsx
  frontend/ui-pablo/app/updaters/liquidity/utils.ts
Due: none

Update createAccountId method
  frontend/ui-pablo/app/store/hooks/usePoolsListWithOpenPositions.ts
  frontend/ui-pablo/app/updaters/auctions/Updater.tsx
  frontend/ui-pablo/app/updaters/liquidity/Updater.tsx
  frontend/ui-pablo/app/updaters/liquidity/utils.ts
  frontend/ui-pablo/app/updaters/swaps/Updater.tsx
  frontend/ui-pablo/app/updaters/utils.ts
  frontend/ui-pablo/app/utils/substrate.ts
Due: none

Rename liquidity to poolLiquidity
  frontend/ui-pablo/app/store/hooks/useLiquidityByPool.ts
  frontend/ui-pablo/app/store/hooks/useLiquidityPoolsList.ts
  frontend/ui-pablo/app/store/liquidity/liquidity.slice.ts
  frontend/ui-pablo/app/store/liquidity/liquidity.types.ts
  frontend/ui-pablo/app/store/liquidity/liquidity.utils.ts
  frontend/ui-pablo/app/store/removeLiquidity/removeLiquidity.utils.ts
  frontend/ui-pablo/app/updaters/liquidity/Updater.tsx
Due: none

Update hook names.
  frontend/ui-pablo/app/store/hooks/usePoolDetails.ts
  frontend/ui-pablo/app/store/hooks/useUserProvidedLiquidityByPool.ts
Due: none

move lpBalances to zustand store
  frontend/ui-pablo/app/store/hooks/usePoolDetails.ts
  frontend/ui-pablo/app/store/liquidity/liquidity.slice.ts
  frontend/ui-pablo/app/store/liquidity/liquidity.types.ts
  frontend/ui-pablo/app/store/liquidity/liquidity.utils.ts
  frontend/ui-pablo/app/updaters/liquidity/Updater.tsx
Due: none

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/clearing-house/ and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
