Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:

    ########## Clearing House ##########
  - id: clearing-house::cargo-fmt
    name: clearing-house::cargo-fmt
    entry: cargo +nightly fmt --check -p clearing-house
    language: system
    pass_filenames: false
    stages: [commit, push]
    files: ^frame/clearing-house/
    types: [rust]
  - id: clearing-house::cargo-clippy
    name: clearing-house::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
    language: system
    pass_filenames: false
    stages: [push]
    files: ^frame/clearing-house/
    types: [rust]

    ########## VAMM ##########
  - id: vamm::cargo-fmt
    name: vamm::cargo-fmt
    entry: cargo +nightly fmt --check -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-check
    name: vamm::cargo-check
    entry: cargo +nightly check --all-targets -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-test
    name: vamm::cargo-test
    entry: cargo +nightly test --all-features --tests -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-clippy
    name: vamm::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p pallet-vamm -- -D warnings -D clippy::all
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]
  - id: vamm::cargo-doc
    name: vamm::cargo-doc
    entry: cargo +nightly doc --no-deps -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v8.0.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ['@commitlint/config-conventional']

show when files does not exist
  .github/workflows/docker-release.yml
Due: none

validate with actual existing url
  .github/workflows/docker-release.yml
Due: none

use another file existence checker
  .github/workflows/docker-release.yml
Due: none

bump version
  node/Cargo.toml
Due: none

bump version (#882)
  node/Cargo.toml
Due: none

bump version (#882) (#883)
  node/Cargo.toml
Due: none

adding ssh action
  .github/workflows/runtime-upgrade.yml
Due: none

fixing this today
  .github/workflows/docker-release.yml
Due: none

CU-24g8vet - Refactor VammConfig type bounds (#878)
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/tests.rs
  frame/composable-traits/src/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

updating workflow file
  .github/workflows/docker-release.yml
Due: none

file exist action checker update
  .github/workflows/docker-release.yml
Due: none

test(CH): ensure can create markets with same config
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

using curl to check if file exists
  .github/workflows/docker-release.yml
Due: none

checking existence of file
  .github/workflows/docker-release.yml
Due: none

[CU-1wanm0d] Extract Mosaic Behavior to Traits (#864)
  frame/composable-traits/src/lib.rs
  frame/composable-traits/src/mosaic.rs
  frame/mosaic/src/lib.rs
Due: none

feat(vamm): Add `Unsigned` trait for `VammId`
  frame/composable-traits/src/vamm.rs
Due: none

feat(vamm): Add Vamms to GenesisConfig
  frame/vamm/src/lib.rs
  frame/vamm/src/mock.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

refactor(vamm): Remove repeated code in tests
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Add `get_price` test
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

chore(vamm): Ignore warnings for `get_twap`
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(CH): ensure insufficient collateral failure
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

view release number when checking
  .github/workflows/docker-release.yml
Due: none

generate tag output
  .github/workflows/docker-release.yml
Due: none

Update runtime-upgrade.yml
  .github/workflows/runtime-upgrade.yml
Due: none

show release version
  .github/workflows/docker-release.yml
Due: none

disable build if composable binary does not exist
  .github/workflows/docker-release.yml
Due: none

fix if error
  .github/workflows/docker-release.yml
Due: none

update version with tag value
  .github/workflows/docker-release.yml
Due: none

hide file status notifier
  .github/workflows/docker-release.yml
Due: none

enable file checker
  .github/workflows/docker-release.yml
Due: none

remove file check notifier
  .github/workflows/docker-release.yml
Due: none

update bash shebang in Dockerfile
  docker/Dockerfile
Due: none

remove bash shebang
  docker/Dockerfile
Due: none

put url path in quote
  docker/Dockerfile
Due: none

change from wget to curl
  docker/Dockerfile
Due: none

feat(vamm): Add `swap` API
  Cargo.lock
  frame/composable-traits/Cargo.toml
  frame/composable-traits/src/vamm.rs
  frame/vamm/Cargo.toml
  frame/vamm/src/lib.rs
  frame/vamm/src/mock.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test
