Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:

    ########## Clearing House ##########
  - id: clearing-house::cargo-fmt
    name: clearing-house::cargo-fmt
    entry: cargo +nightly fmt --check -p clearing-house
    language: system
    pass_filenames: false
    stages: [commit, push]
    files: ^frame/clearing-house/
    types: [rust]
  - id: clearing-house::cargo-clippy
    name: clearing-house::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
    language: system
    pass_filenames: false
    stages: [push]
    files: ^frame/clearing-house/
    types: [rust]

    ########## VAMM ##########
  - id: vamm::cargo-fmt
    name: vamm::cargo-fmt
    entry: cargo +nightly fmt --check -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [commit, push]
  - id: vamm::cargo-check
    name: vamm::cargo-check
    entry: cargo +nightly check --all-targets -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [commit, push]
  - id: vamm::cargo-test
    name: vamm::cargo-test
    entry: cargo +nightly test --all-features --tests -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push]
  - id: vamm::cargo-clippy
    name: vamm::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p pallet-vamm -- -D warnings -D clippy::all
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v8.0.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ['@commitlint/config-conventional']

docs(CH): update open-position sequence diagram
  frame/clearing-house/diagrams/open-position.plantuml
Due: none

docs(CH): update diagrams
  frame/clearing-house/diagrams/clearing-house.plantuml
  frame/clearing-house/diagrams/create-market.plantuml
Due: none

feat(CH): add ClearingHouse trait
  frame/clearing-house/src/lib.rs
  frame/composable-traits/src/clearing_house.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

fixing review
  frame/bonded-finance/src/lib.rs
  frame/dutch-auction/src/lib.rs
  frame/liquidations/Cargo.toml
  frame/liquidations/src/tests.rs
  integration-tests/local-integration-tests/src/cross_chain_transfer.rs
  integration-tests/local-integration-tests/src/transact_calls.rs
Due: none

style(CH): organize tests and fix comment spacing
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

xcm sell protocol
  Cargo.lock
  frame/composable-traits/Cargo.toml
  frame/composable-traits/src/lib.rs
  frame/composable-traits/src/xcm/mod.rs
Due: none

CU-1wzgvc6 sample of cross chain transaction for SELL (DEX/liqudation) (#815)
  Cargo.lock
  Makefile.toml
  frame/bonded-finance/src/lib.rs
  frame/composable-traits/src/liquidation.rs
  frame/dutch-auction/Cargo.toml
  frame/dutch-auction/src/benchmarking.rs
  frame/dutch-auction/src/lib.rs
  frame/dutch-auction/src/mock/runtime.rs
  frame/dutch-auction/src/tests.rs
  frame/dutch-auction/src/weights.rs
  frame/lending/src/mocks/mod.rs
  frame/liquidations/Cargo.toml
  frame/liquidations/external-dex-liqudation.sequence.plantuml
  frame/liquidations/src/benchmarking.rs
  frame/liquidations/src/lib.rs
  frame/liquidations/src/mock/currency.rs
  frame/liquidations/src/mock/runtime.rs
  frame/liquidations/src/tests.rs
  frame/oracle/src/lib.rs
  frame/transaction-fee/Cargo.lock
  integration-tests/local-integration-tests/Cargo.toml
  integration-tests/local-integration-tests/src/cross_chain_transfer.rs
  integration-tests/local-integration-tests/src/kusama_test_net.rs
  integration-tests/local-integration-tests/src/lib.rs
  integration-tests/local-integration-tests/src/prelude.rs
  integration-tests/local-integration-tests/src/relaychain.rs
  integration-tests/local-integration-tests/src/transact_calls.rs
  runtime/common/src/xcmp/mod.rs
  runtime/dali/src/lib.rs
  runtime/dali/src/xcmp.rs
Due: none

TEMP
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

added list_assets rpc
  frame/assets/rpc/src/lib.rs
  runtime/primitives/src/currency.rs
Due: none

updated Cargo.toml
  frame/assets/runtime-api/Cargo.toml
Due: none

updated assets runtime-rpc
  frame/assets/runtime-api/src/lib.rs
Due: none

added asset struct
  frame/composable-traits/src/assets.rs
Due: none

added list_assets integration test
  .gitignore
  Cargo.lock
  frame/composable-traits/Cargo.toml
  frame/composable-traits/src/lib.rs
  integration-tests/runtime-tests/src/types/interfaces/assets/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/assets/types.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-rpc.ts
  integration-tests/runtime-tests/test/tests/assets/rpcAssetsTests.ts
  integration-tests/runtime-tests/test/tests/assets/test_configuration.json
  node/Cargo.toml
  node/src/rpc.rs
  node/src/runtime.rs
  runtime/composable/src/lib.rs
  runtime/dali/src/lib.rs
  runtime/picasso/src/lib.rs
  runtime/primitives/Cargo.toml
  runtime/primitives/src/currency.rs
Due: none

feat(CH): have margin ratio requirements for each market
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests.rs
  frame/composable-traits/src/clearing_house.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

docs(CH): update clearing-house.plantuml
  frame/clearing-house/diagrams/clearing-house.plantuml
Due: none

docs(CH): update add_margin extrinsic
  frame/clearing-house/diagrams/add-margin.plantuml
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor
  frame/lending/src/lib.rs
  frame/lending/src/tests.rs
Due: none

docs(CT): add description to ClearingHouse trait
  frame/composable-traits/src/clearing_house.rs
Due: none

docs(CH): add ClearingHouse to Implementations
  frame/clearing-house/src/lib.rs
  frame/composable-traits/src/clearing_house.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

update rs-merkle
  Cargo.toml
Due: none

feat(vamm): add get_twap and Decimal to VirtualAMM trait
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/composable-traits/src/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): add Instruments trait basics
  frame/clearing-house/src/lib.rs
  frame/composable-traits/src/clearing_house.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Added types::EthereumAddress to composable-support
  frame/composable-support/Cargo.toml
  frame/composable-support/src/lib.rs
  frame/composable-support/src/types/mod.rs
Due: none

Refactored EthAddress out of crowdloan-rewards
  Cargo.lock
  frame/crowdloan-rewards/Cargo.toml
  frame/crowdloan-rewards/src/lib.rs
  frame/crowdloan-rewards/src/mocks.rs
  frame/crowdloan-rewards/src/models.rs
  frame/crowdloan-rewards/src/tests.rs
Due: none

Refactored EthAddress out of Mosaic
  frame/mosaic/src/lib.rs
  frame/mosaic/src/tests.rs
Due: none

cargo +nightly fmt
  frame/crowdloan-rewards/src/lib.rs
  frame/mosaic/src/tests.rs
Due: none

Fixed mosaic benchmarking
  frame/mosaic/src/benchmarking.rs
Due: none

add extrinsic proof as a field to the parachain header struct
  src/primitives.rs
  src/tests.rs
Due: none

[CU-1wanc6n] Refactor EthereumAddress into composable-support (#839)
  Cargo.lock
  frame/composable-support/Cargo.toml
  frame/composable-support/src/lib.rs
  frame/composable-support/src/types/mod.rs
  frame/crowdloan-rewards/Cargo.toml
  frame/crowdloan-rewards/src/lib.rs
  frame/crowdloan-rewards/src/mocks.rs
  frame/crowdloan-rewards/src/models.rs
  frame/crowdloan-rewards/src/tests.rs
  frame/mosaic/src/benchmarking.rs
  frame/mosaic/src/lib.rs
  frame/mosaic/src/tests.rs
Due: none

feat(CH): update Market parameters
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/tests.rs
  frame/composable-traits/src/clearing_house.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

docs(CH): update references to Config, Call, and Pallet
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): add rudimentary funding_rate impl
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/composable-traits/src/clearing_house.rs
  frame/composable-traits/src/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

CU-246kkzf[DONE] updated documentation for create extrinsic
  frame/instrumental/src/lib.rs
Due: none

updated WeightInfo object to set initial weights as 10_000 instead of 1_000
  frame/instrumental/src/weights.rs
Due: none

CU-246cgb7[DONE] CU-246cgbt[DONE] updated documentation for add_liquidty and remove_liquidity extrinsics
  frame/instrumental/src/lib.rs
Due: none

refactor(CH): rename VirtualAMM trait to Vamm
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/clearing-house/src/tests.rs
  frame/composable-traits/src/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Clean up crypto mod & small comment clean up
  frame/lending/src/lib.rs
  frame/lending/src/tests.rs
Due: none

style(CH): rename crate to pallet-clearing-house
  .pre-commit-config.yaml
  Cargo.lock
  frame/clearing-house/Cargo.toml
Due: none

CU-251w8tw[DONE] added tests to check my custom ExtBuilder methods work as expected
  frame/instrumental/src/mock.rs
  frame/instrumental/src/tests.rs
Due: none
