Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - push

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly test --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

test(Runtime Integration Tests): Fixed number to big issue within Mosaic tests. Removed unused import.
  integration-tests/runtime-tests/test/tests/mosaic/mosaicTests.ts
Due: none

test(Runtime Integration Tests): Fixed number to big issue within Mosaic tests. (#905)
  integration-tests/runtime-tests/test/tests/mosaic/mosaicTests.ts
Due: none

implement generic host functions
  src/lib.rs
  src/tests.rs
  src/traits.rs
Due: none

minor fix
  Cargo.toml
Due: none

Linked mdbook and cargo docs in repo readme
  README.md
Due: none

docker-compose fix
  docker-compose-collator/docker-compose.yml
  docker-compose-collator/prometheus.yml
Due: none

docker-compose fix
  docker-compose-collator/docker-compose.yml
Due: none

Refactored `EcdsaSignature` into `composable_support::types`
  frame/composable-support/src/types/mod.rs
  frame/crowdloan-rewards/src/benchmarking.rs
  frame/crowdloan-rewards/src/lib.rs
  frame/crowdloan-rewards/src/mocks.rs
  frame/crowdloan-rewards/src/models.rs
  frame/crowdloan-rewards/src/tests.rs
Due: none

CU-24agzx9 - Add `get_price` for vamm
  Cargo.lock
  frame/composable-traits/Cargo.toml
  frame/composable-traits/src/vamm.rs
  frame/vamm/Cargo.toml
  frame/vamm/diagrams/function_create.plantuml
  frame/vamm/diagrams/function_get_price.plantuml
  frame/vamm/diagrams/pallet-vamm.plantuml
  frame/vamm/src/lib.rs
  frame/vamm/src/mock.rs
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

fixed comment
  integration-tests/local-integration-tests/awesome-xcmp.md
  rfcs/0003-xcmp-picasso-statemine.md
Due: none

currencies
  rfcs/0004-currency.md
Due: none

refactor(CH): use trait for checked decimal math
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/math.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Update Mosaic docs
  book/src/pallets/mosaic/extrinsics.md
  frame/mosaic/src/lib.rs
Due: none

Initial commit
  Cargo.toml
  utils/extrinsics-docs-scraper/Cargo.lock
  utils/extrinsics-docs-scraper/Cargo.toml
  utils/extrinsics-docs-scraper/src/main.rs
Due: none

Add file watcher to scraper
  utils/extrinsics-docs-scraper/Cargo.lock
  utils/extrinsics-docs-scraper/Cargo.toml
  utils/extrinsics-docs-scraper/src/lib.rs
  utils/extrinsics-docs-scraper/src/main.rs
Due: none

Clean up docs scraper
  frame/mosaic/src/lib.rs
  utils/extrinsics-docs-scraper/Cargo.lock
  utils/extrinsics-docs-scraper/Cargo.toml
  utils/extrinsics-docs-scraper/src/main.rs
Due: none

Fix MD parser
  Cargo.lock
  Cargo.toml
  Makefile
  frame/mosaic/src/lib.rs
  utils/extrinsics-docs-scraper/Cargo.toml
  utils/extrinsics-docs-scraper/src/lib.rs
  utils/extrinsics-docs-scraper/src/main.rs
  utils/extrinsics-docs-scraper/src/pallet_info.rs
  utils/extrinsics-docs-scraper/src/scrape.rs
Due: none

Add makefile script
  Makefile
Due: none

Cleanup & polish
  utils/extrinsics-docs-scraper/src/lib.rs
  utils/extrinsics-docs-scraper/src/main.rs
Due: none

Formatting
  frame/mosaic/src/lib.rs
  utils/extrinsics-docs-scraper/src/main.rs
  utils/extrinsics-docs-scraper/src/scrape.rs
Due: none

Update makefile
  Makefile
Due: none

Add docs root url parameter to scraper
  Cargo.lock
  Makefile
  book/src/pallets/bonded-finance/extrinsics.md
  book/src/pallets/crowdloan-rewards/extrinsics.md
  book/src/pallets/mosaic/extrinsics.md
  utils/extrinsics-docs-scraper/Cargo.toml
  utils/extrinsics-docs-scraper/src/main.rs
  utils/extrinsics-docs-scraper/src/pallet_info.rs
  utils/extrinsics-docs-scraper/src/scrape.rs
Due: none

Add linnks & fix titles
  Cargo.lock
  book/src/pallets/bonded-finance/extrinsics.md
  book/src/pallets/crowdloan-rewards/extrinsics.md
  book/src/pallets/mosaic/extrinsics.md
  frame/mosaic/src/lib.rs
  utils/extrinsics-docs-scraper/Cargo.toml
  utils/extrinsics-docs-scraper/src/scrape.rs
Due: none

Add build-book command to makefile
  Makefile
  book/src/pallets/mosaic/extrinsics.md
Due: none

Fix mosaic lib.rs
  book/src/pallets/mosaic/extrinsics.md
  frame/mosaic/src/lib.rs
Due: none

Add automatically generated comments
  Cargo.lock
  book/src/pallets/bonded-finance/extrinsics.md
  book/src/pallets/crowdloan-rewards/extrinsics.md
  book/src/pallets/mosaic/extrinsics.md
  utils/extrinsics-docs-scraper/Cargo.toml
  utils/extrinsics-docs-scraper/src/scrape.rs
Due: none

Fix mosaic extrinsics
  frame/mosaic/src/lib.rs
Due: none

New Cargo.lock
  Cargo.lock
Due: none

refactor(CH): streamline balance conversions with traits
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/math.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(vamm): Add `swap` function
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

feat(vamm): Add `CalculateSwapAsset` helper struct
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

feat(vamm): Add `swap_quote_asset` helper function
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

feat(vamm): Add `swap_base_asset` helper function
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

feat(vamm): Add `calculate_swap_asset` function
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

feat(vamm): Add `calculate_quote_asset_amount_swapped` helper function
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

feat(vamm): Add `swap_sanity_check` function
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

feat(vamm): Add low-level helper functions
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/clearing-house/ and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
