Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test, composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push
  - manual

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

clearing-house::cargo-test:
  name: clearing-house::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p pallet-clearing-house
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-fmt:
  name: composable-traits::cargo-fmt
  entry: cargo +nightly fmt --check -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-check:
  name: composable-traits::cargo-check
  entry: cargo +nightly check --all-targets -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-traits::cargo-test:
  name: composable-traits::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p composable-traits
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-fmt:
  name: composable-maths::cargo-fmt
  entry: cargo +nightly fmt --check -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-check:
  name: composable-maths::cargo-check
  entry: cargo +nightly check --all-targets -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

composable-maths::cargo-test:
  name: composable-maths::cargo-test
  entry: cargo +nightly nextest run --fail-fast --all-features --tests -p composable-maths
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

test(CH): integrate Apollo in mock runtime
  Cargo.lock
  frame/clearing-house/Cargo.toml
  frame/clearing-house/src/integrations/mock.rs
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

chore(CH): add boilerplate for integration tests
  Cargo.lock
  frame/clearing-house/Cargo.toml
  frame/clearing-house/src/integrations/mock.rs
  frame/clearing-house/src/integrations/mod.rs
  frame/clearing-house/src/integrations/tests.rs
  frame/clearing-house/src/lib.rs
  frame/composable-traits/src/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test, composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

test(CH): turn unit test into proptest
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

test(CH): add helpers for setting up the oracle
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

test(CH): try creating market with integrations
  frame/clearing-house/src/integrations/mock.rs
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

test(CH): create market with integrations
  Cargo.lock
  frame/clearing-house/Cargo.toml
  frame/clearing-house/proptest-regressions/integrations/tests.txt
  frame/clearing-house/src/integrations/mock.rs
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

test(CH): open position in integrations env
  frame/clearing-house/src/integrations/mock.rs
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

style(CH): trim and re-center comment sections
  frame/clearing-house/src/integrations/mock.rs
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

refactor(CH): improve integrations organization
  frame/clearing-house/src/integrations/mock.rs
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

chore(style): apply cargo fmt
  xcvm/lib/core/src/asset.rs
  xcvm/lib/core/src/instruction.rs
  xcvm/lib/core/src/network.rs
Due: none

feat(xcvm): introduce `xcvm-core`
  Cargo.lock
  Cargo.toml
  xcvm/lib/core/Cargo.toml
  xcvm/lib/core/src/abstraction.rs
  xcvm/lib/core/src/asset.rs
  xcvm/lib/core/src/instruction.rs
  xcvm/lib/core/src/lib.rs
  xcvm/lib/core/src/network.rs
  xcvm/lib/core/src/program.rs
  xcvm/lib/core/src/protocol.rs
Due: none

feat(xcvm-core): helpers for `Amount` construction
  xcvm/lib/core/src/asset.rs
Due: none

fixup(xcvm): use max `u32` for ratio
  xcvm/lib/core/src/asset.rs
Due: none

feat(xcvm-core): reimplement `Amount` as a linear equation
  Cargo.lock
  xcvm/lib/core/Cargo.toml
  xcvm/lib/core/src/asset.rs
  xcvm/lib/core/src/network.rs
Due: none

fixup(xcvm): program tag unwrapped, empty tag =~ none
  xcvm/lib/core/src/lib.rs
  xcvm/lib/core/src/program.rs
Due: none

feat(xcvm-core): better peano, more doc and remove serde json
  Cargo.lock
  xcvm/lib/core/Cargo.toml
  xcvm/lib/core/src/abstraction.rs
  xcvm/lib/core/src/asset.rs
  xcvm/lib/core/src/lib.rs
Due: none

fixup(xcvm): naming
  xcvm/lib/core/src/lib.rs
  xcvm/lib/core/src/network.rs
Due: none

chore(style): format
  xcvm/lib/core/src/abstraction.rs
  xcvm/lib/core/src/asset.rs
Due: none

feat(xcvm-core): seal `Nat`
  xcvm/lib/core/src/abstraction.rs
Due: none

fix: change to non-doc comment in xcvm/lib/core/src/network.rs
  Cargo.lock
  xcvm/lib/core/src/asset.rs
  xcvm/lib/core/src/network.rs
Due: none

Parachain client implementation (#5)
  .gitignore
  Cargo.lock
  Cargo.toml
  bin/main.rs
  build.rs
  rustfmt.toml
  src/chain.rs
  src/chain/parachain.rs
  src/chain/parachain/calls.rs
  src/chain/parachain/chain.rs
  src/chain/parachain/error.rs
  src/chain/parachain/key_provider.rs
  src/chain/parachain/polkadot.rs
  src/chain/parachain/provider.rs
  src/chain/parachain/signer.rs
  src/chain/parachain/utils.rs
  src/error.rs
  src/events.rs
  src/lib.rs
  src/logging.rs
  src/messages.rs
  tests/common.rs
  tests/parachain_ibc_test.rs
  tests/parachain_token_transfer.rs
  tests/read_proofs_test.rs
Due: none

restart
  .nix/junod.nix
Due: none

rebase and fmt
  flake.nix
Due: none

fixing tmp of devnet
  scripts/polkadot-launch/network-builder.nix
Due: none

Remove unused dependencies
  .github/workflows/build-test-deploy.yml
  Cargo.lock
  frame/dex-router/Cargo.toml
  frame/oracle/Cargo.toml
  runtime/dali/Cargo.toml
  utils/xcmp/Cargo.toml
Due: none

fixed comment
  flake.nix
Due: none

feat(xcvm): introduce `xcvm-core` (#1392)
  Cargo.lock
  Cargo.toml
  xcvm/lib/core/Cargo.toml
  xcvm/lib/core/src/abstraction.rs
  xcvm/lib/core/src/asset.rs
  xcvm/lib/core/src/instruction.rs
  xcvm/lib/core/src/lib.rs
  xcvm/lib/core/src/network.rs
  xcvm/lib/core/src/program.rs
  xcvm/lib/core/src/protocol.rs
Due: none

394nbkw Add show/hide options to transaction settings modal. (#1396)
  frontend/apps/pablo/components/Organisms/TransactionSettings/index.tsx
  frontend/apps/pablo/components/Organisms/liquidity/AddForm/index.tsx
Due: none

#CU-2mezh63 junod client for cosmos for xcvm (#1466)
  .nix/junod.nix
  flake.nix
  scripts/polkadot-launch/network-builder.nix
Due: none

works
  frame/undercollateralized-loans/src/helpers/general.rs
  frame/undercollateralized-loans/src/helpers/mod.rs
  frame/undercollateralized-loans/src/helpers/offchain.rs
  frame/undercollateralized-loans/src/lib.rs
  frame/undercollateralized-loans/src/mocks/general.rs
  frame/undercollateralized-loans/src/types.rs
  frame/undercollateralized-loans/src/validation.rs
Due: none

works
  frame/undercollateralized-loans/src/mocks.rs
  frame/undercollateralized-loans/src/mocks/mod.rs
  frame/undercollateralized-loans/src/pseudo_code.txt
  frame/undercollateralized-loans/src/tests/mod.rs
  frame/undercollateralized-loans/src/tests/prelude.rs
Due: none

comments
  frame/undercollateralized-loans/src/helpers/general.rs
  frame/undercollateralized-loans/src/helpers/getters.rs
  frame/undercollateralized-loans/src/helpers/mod.rs
  frame/undercollateralized-loans/src/helpers/offchain.rs
  frame/undercollateralized-loans/src/helpers/on_initialize.rs
  frame/undercollateralized-loans/src/lib.rs
Due: none

added loans counters
  frame/undercollateralized-loans/src/helpers/general.rs
  frame/undercollateralized-loans/src/lib.rs
  frame/undercollateralized-loans/src/mocks.rs
  frame/undercollateralized-loans/src/types.rs
Due: none

Update MaxVestingSchedules
  runtime/dali/src/lib.rs
Due: none

Add overview.md and dummy files to make links work. (#1458)
  frontend/apps/pablo/components/Organisms/overview/TVLChart.tsx
  frontend/apps/pablo/components/Organisms/overview/VolumeChart.tsx
  frontend/apps/pablo/pages/index.tsx
Due: none

emit PriceChanged event when price changes on Oracle for PICA or PABLO
  Cargo.lock
  frame/oracle/Cargo.toml
  frame/oracle/src/lib.rs
  frame/oracle/src/tests.rs
Due: none

fix build
  frame/oracle/src/lib.rs
Due: none

remove mistakenly duplicated line
  frame/oracle/src/lib.rs
Due: none

Formatting
  Cargo.lock
  flake.nix
  frame/dex-router/Cargo.toml
  frame/oracle/Cargo.toml
Due: none

Formatting
  runtime/composable/src/lib.rs
  runtime/dali/src/lib.rs
  runtime/picasso/src/lib.rs
Due: none

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  clearing-house::cargo-test: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
  composable-traits::cargo-fmt: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-check: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-test: any of: ^frame/composable-traits/ and \.rs$
  composable-maths::cargo-fmt: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-check: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-test: any of: ^frame/composable-maths/ and \.rs$
