Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - push

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly test --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

Cu 2y216vn validationrs asset does not have an associated vault validity check refactor mike belous (#1046)
  frame/instrumental/src/lib.rs
  frame/instrumental/src/validation.rs
Due: none

style(instrumental): apply rustfmt
  frame/composable-traits/src/instrumental.rs
  frame/instrumental-strategy-pablo/src/lib.rs
  frame/instrumental-strategy-pablo/src/mock/mod.rs
  frame/instrumental-strategy-pablo/src/mock/runtime.rs
  frame/instrumental-strategy-pablo/src/tests.rs
  frame/instrumental-strategy-pablo/src/weights.rs
  frame/instrumental-strategy/src/lib.rs
  frame/instrumental-strategy/src/mock/mod.rs
  frame/instrumental-strategy/src/mock/runtime.rs
  frame/instrumental-strategy/src/mock/strategies.rs
  frame/instrumental-strategy/src/tests.rs
  frame/instrumental-strategy/src/weights.rs
  frame/instrumental/src/lib.rs
  frame/instrumental/src/mock/account_id.rs
  frame/instrumental/src/mock/currency.rs
  frame/instrumental/src/mock/helpers.rs
  frame/instrumental/src/mock/mod.rs
  frame/instrumental/src/mock/runtime.rs
  frame/instrumental/src/tests.rs
  frame/instrumental/src/validation.rs
  frame/instrumental/src/weights.rs
Due: none

docs(instrumental): fix link to Instrumental Finance
  frame/instrumental/src/lib.rs
Due: none

docs(instrumental): align unordered list
  frame/instrumental/src/lib.rs
Due: none

style(instrumental): apply rustfmt nightly
  frame/instrumental/src/lib.rs
Due: none

style(instrumental): apply rustfmt with `group_imports=StdExternalCrate` option
  frame/instrumental-strategy-pablo/src/lib.rs
  frame/instrumental-strategy-pablo/src/mock/runtime.rs
  frame/instrumental-strategy-pablo/src/tests.rs
  frame/instrumental-strategy/src/lib.rs
  frame/instrumental-strategy/src/mock/runtime.rs
  frame/instrumental-strategy/src/mock/strategies.rs
  frame/instrumental-strategy/src/tests.rs
  frame/instrumental/src/lib.rs
  frame/instrumental/src/mock/account_id.rs
  frame/instrumental/src/mock/currency.rs
  frame/instrumental/src/mock/helpers.rs
  frame/instrumental/src/mock/runtime.rs
  frame/instrumental/src/tests.rs
  frame/instrumental/src/validation.rs
Due: none

Increasing oracle reclaimStake test timeout.
  integration-tests/runtime-tests/test/tests/oracle/txOracleTests.ts
Due: none

test(CH): check liquidation fee calculations
  frame/clearing-house/src/tests/comp.rs
  frame/clearing-house/src/tests/liquidate.rs
  frame/clearing-house/src/tests/mod.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

fix(CH): compute liquidation fee incrementally
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(CH): separate 'collateral' and 'margin'
  frame/clearing-house/diagrams/clearing-house.plantuml
  frame/clearing-house/diagrams/close-position.plantuml
  frame/clearing-house/diagrams/deposit-collateral.plantuml
  frame/clearing-house/diagrams/liquidate.plantuml
  frame/clearing-house/diagrams/open-position.plantuml
  frame/clearing-house/diagrams/remove-margin.plantuml
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/deposit_collateral.rs
  frame/clearing-house/src/tests/liquidate.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/tests/open_position.rs
  frame/composable-traits/src/clearing_house.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

docs(CH): update 'liquidate' seq diagram
  frame/clearing-house/diagrams/liquidate.plantuml
Due: none

positions work
  frame/staking-rewards/Cargo.toml
  frame/staking-rewards/src/lib.rs
  frame/staking-rewards/src/tests.rs
Due: none

docs(CH): improve 'liquidate' extrinsic
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

fmt + test final
  Cargo.lock
  frame/composable-traits/src/staking_rewards.rs
  frame/staking-rewards/Cargo.toml
  frame/staking-rewards/src/lib.rs
  frame/staking-rewards/src/math.rs
  frame/staking-rewards/src/tests.rs
Due: none

clean up
  frame/staking-rewards/src/lib.rs
Due: none

thinking about when to extend time
  frame/staking-rewards/src/lib.rs
Due: none

Update frame/staking-rewards/src/lib.rs
  frame/staking-rewards/src/lib.rs
Due: none

draft impl
  frame/staking-rewards/src/lib.rs
Due: none

extend lock time, tests and comments
  frame/composable-traits/src/staking_rewards.rs
  frame/staking-rewards/src/lib.rs
  frame/staking-rewards/src/math.rs
  frame/staking-rewards/src/tests.rs
Due: none

Make Dex-Router permissioned.
  frame/composable-traits/src/dex.rs
  frame/dex-router/src/benchmarking.rs
  frame/dex-router/src/lib.rs
  frame/dex-router/src/mock.rs
  frame/dex-router/src/tests.rs
  runtime/dali/src/lib.rs
Due: none

feat(pablo): avoid non-required nested transactions
  frame/pablo/src/liquidity_bootstrapping.rs
  frame/pablo/src/uniswap.rs
Due: none

feat(pablo): configurable constant product pools
  frame/composable-traits/src/dex.rs
  frame/dex-router/src/benchmarking.rs
  frame/dex-router/src/tests.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/uniswap.rs
  frame/pablo/src/uniswap_tests.rs
Due: none

chore(style): apply make style
  frame/pablo/src/uniswap_tests.rs
Due: none

[CU-20185wq][CU-29w3x3z][CU-20185wr][CU-20185wp]QAIntegrationTests/Pablo (#970)
  integration-tests/runtime-tests/src/types/interfaces/augment-api-rpc.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-types.ts
  integration-tests/runtime-tests/src/types/interfaces/common/definitions.ts
  integration-tests/runtime-tests/src/utils/mintingHelper.ts
  integration-tests/runtime-tests/test/tests/pablo/constantProductDex/constantProductTests.ts
  integration-tests/runtime-tests/test/tests/pablo/constantProductDex/test_configuration.json
  integration-tests/runtime-tests/test/tests/pablo/liquidityBootstrapping/LiquidityBootstrappingTests.ts
  integration-tests/runtime-tests/test/tests/pablo/liquidityBootstrapping/test_configuration.json
  integration-tests/runtime-tests/test/tests/pablo/stableSwapDex/stableSwapDexTests.ts
  integration-tests/runtime-tests/test/tests/pablo/stableSwapDex/test_configuration.json
  integration-tests/runtime-tests/test/tests/pablo/testHandlers/pabloTestHelper.ts
  integration-tests/runtime-tests/test/tests/pablo/testHandlers/test_configuration.json
Due: none

Make Dex-Router permissioned. (#1055)
  frame/composable-traits/src/dex.rs
  frame/dex-router/src/benchmarking.rs
  frame/dex-router/src/lib.rs
  frame/dex-router/src/mock.rs
  frame/dex-router/src/tests.rs
  runtime/dali/src/lib.rs
Due: none

Encode and decode XCVMPrograms
  composable.code-workspace
  frame/xcvm/src/lib.rs
  lib/xcvm/core/src/lib.rs
  lib/xcvm/core/src/program.rs
  lib/xcvm/protobuf/src/lib.rs
  lib/xcvm/protobuf/src/xcvm.proto
  lib/xcvm/protobuf/src/xcvm.rs
  lib/xcvm/protocols/src/lib.rs
Due: none

feat(pablo): ensure constant product pool weights sum to one
  frame/dex-router/src/benchmarking.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/uniswap.rs
  frame/pablo/src/uniswap_tests.rs
Due: none

test(CH): fix comment identation
  frame/clearing-house/src/tests/liquidate.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

docs(CH): add requirements for full liquidation
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Add list_assets RPC to Assets
  Cargo.lock
  frame/assets/rpc/Cargo.toml
  frame/assets/rpc/src/lib.rs
  frame/assets/runtime-api/Cargo.toml
  frame/assets/runtime-api/src/lib.rs
  frame/composable-traits/src/assets.rs
  integration-tests/runtime-tests/src/types/interfaces/assets/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/assets/types.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-errors.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-events.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-rpc.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-tx.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-types.ts
  integration-tests/runtime-tests/src/types/interfaces/pablo/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/pablo/types.ts
  integration-tests/runtime-tests/test/tests/assets/rpcAssetsTests.ts
  integration-tests/runtime-tests/test/tests/assets/test_configuration.json
  runtime/composable/src/lib.rs
  runtime/dali/src/lib.rs
  runtime/picasso/src/lib.rs
  runtime/primitives/src/currency.rs
Due: none

fix: TryFrom instead of From
  frame/xcvm/src/lib.rs
  lib/xcvm/protobuf/src/lib.rs
Due: none

docs(CH): add periods when needed
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): deposit event upon full liquidation
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/liquidate.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

docs(CH): fix grammar
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

fix
  frame/xcvm/src/lib.rs
Due: none

test(CH): add TODO for deposit_collateral
  frame/clearing-house/src/tests/deposit_collateral.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Fix ComposableTraitsDexFee errors
  integration-tests/runtime-tests/test/tests/pablo/constantProductDex/constantProductTests.ts
  integration-tests/runtime-tests/test/tests/pablo/testHandlers/pabloTestHelper.ts
Due: none

CU-2bbgg1k - Configurable constant product (#1038)
  frame/composable-traits/src/dex.rs
  frame/dex-router/src/benchmarking.rs
  frame/dex-router/src/tests.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/liquidity_bootstrapping.rs
  frame/pablo/src/uniswap.rs
  frame/pablo/src/uniswap_tests.rs
Due: none

test(vamm): Add more tests for swap_asset functionality (#909)
  Cargo.lock
  frame/vamm/src/tests/mod.rs
  frame/vamm/src/tests/swap_asset.rs
  frame/vamm/src/tests/swap_base_asset.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

docs(CH): update liquidation state changes
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/clearing-house/ and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
