Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test, composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  clearing-house::cargo-test: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
  composable-traits::cargo-fmt: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-check: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-test: any of: ^frame/composable-traits/ and \.rs$
  composable-maths::cargo-fmt: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-check: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-test: any of: ^frame/composable-maths/ and \.rs$

[cu-2vj4091] Fix fNFT unit tests
  frame/fnft/src/test/nonfungibles/inspect.rs
  frame/fnft/src/test/nonfungibles/mutate.rs
  frame/fnft/src/test/nonfungibles/transfer.rs
  frame/fnft/src/test/prelude.rs
  runtime/composable/src/lib.rs
  runtime/dali/src/lib.rs
  runtime/picasso/src/lib.rs
  xcvm/lib/core/Cargo.toml
Due: none

[CU-2tk2uxt] docs(frame): create pablo and dex router readme (#1371)
  frame/dex-router/README.md
  frame/pablo/README.md
Due: none

[cu-32wfq3f] Bonded Finance Updates
  frontend/apps/pablo/components/Organisms/YourBondTable.tsx
  frontend/apps/pablo/components/Organisms/bonds/BondedOfferRow.tsx
  frontend/apps/pablo/components/Organisms/bonds/ClaimForm.tsx
  frontend/apps/pablo/defi/hooks/bonds/useBondOffer.ts
  frontend/apps/pablo/defi/hooks/bonds/useVestingSchedule.ts
  frontend/apps/pablo/defi/hooks/index.ts
  frontend/apps/pablo/defi/hooks/vesting/index.ts
  frontend/apps/pablo/defi/hooks/vesting/useVestingClaim.ts
  frontend/apps/pablo/defi/subsquid/bonds/helpers.ts
  frontend/apps/pablo/defi/subsquid/bonds/queries.ts
  frontend/apps/pablo/defi/types/vesting/index.ts
  frontend/apps/pablo/defi/utils/bonds/index.ts
  frontend/apps/pablo/defi/utils/bonds/vestingSchedule.ts
  frontend/apps/pablo/defi/utils/vesting/decode.ts
  frontend/apps/pablo/pages/bond/select/[offerId].tsx
  frontend/apps/pablo/store/bonds/bonds.slice.ts
  frontend/apps/pablo/store/bonds/bonds.types.ts
  frontend/apps/pablo/store/bonds/bonds.utils.ts
Due: none

Move prettier check to nix
  .github/workflows/build-test-deploy.yml
  .github/workflows/check.yml
  flake.nix
  scripts/style.sh
Due: none

test(CH): check for market and vamm changes in integrations
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

chore(vamm): resolve unused variable warning
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

emit event when asset has emit_price_changes flag set to true
  frame/oracle/src/benchmarking.rs
  frame/oracle/src/lib.rs
  frame/oracle/src/tests.rs
Due: none

use assert_no_event
  frame/oracle/src/tests.rs
Due: none

add process_and_progress_blocks
  frame/oracle/src/tests.rs
Due: none

remove unused primitives package
  Cargo.lock
  frame/oracle/Cargo.toml
  frame/oracle/src/lib.rs
Due: none

Picasso-bonding-code-refactors (#1338)
  frontend/apps/picasso/components/Molecules/MyBondingsTable.tsx
  frontend/apps/picasso/components/Organisms/Bond/ClaimForm.tsx
  frontend/apps/picasso/components/Organisms/Bond/DisconnectedBond.tsx
  frontend/apps/picasso/defi/polkadot/hooks/useActiveBonds.ts
  frontend/apps/picasso/pages/bonds/[bond].tsx
  frontend/apps/picasso/pages/bonds/index.tsx
Due: none

[cu-313atpj] Move fNFT to 0006 RFC (#1461)
  rfcs/0006-financial-nft.md
  rfcs/0006-financial-nft/0006-financial-nft.adoc
  rfcs/0006-financial-nft/adoc-o-md.sh
  rfcs/0006-financial-nft/images/images/coin-voting-fnft.png
  rfcs/0006-financial-nft/images/images/debt-fnft.png
  rfcs/0006-financial-nft/images/images/spec-parts.png
  rfcs/0006-financial-nft/images/images/staking-fnft.png
Due: none

Update clippy check
  flake.nix
Due: none

draft of junod dameon
  flake.nix
  junod
Due: none

Update ID
  subsquid/src/vestingProcessor.ts
Due: none

Updates.
  composablejs/packages/bootstrap_pallets/src/constants/config.json
  frontend/apps/pablo/components/Organisms/YourBondTable.tsx
  frontend/apps/pablo/components/Organisms/bonds/ClaimForm.tsx
  frontend/apps/pablo/defi/hooks/bonds/useBondVestingTime.ts
  frontend/apps/pablo/defi/hooks/bonds/useBondedOfferVestingSchedules.ts
  frontend/apps/pablo/defi/subsquid/bonds/queries.ts
  frontend/apps/pablo/defi/utils/bonds/vestingSchedule.ts
Due: none

Update udeps check
  flake.nix
Due: none

[cu-2vj4091] More tests
  frame/fnft/src/lib.rs
  frame/fnft/src/test/mock.rs
  frame/fnft/src/test/nonfungibles/mutate.rs
  frame/fnft/src/test/nonfungibles/transfer.rs
Due: none

arion only on linux
  flake.nix
Due: none

test(CH): test two traders against real vamm and oracle
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

cli exlorer
  .devcontainer/devcontainer.json
  .nix/gex.nix
  a.jsom
  a.json
  flake.nix
  junod
Due: none

Bonded Finance Purchase Bond, see open bond positions and claim rewards.
  frontend/apps/pablo/components/Organisms/AllBondTable.tsx
  frontend/apps/pablo/components/Organisms/YourBondTable.tsx
  frontend/apps/pablo/components/Organisms/bonds/BondOfferRow.tsx
  frontend/apps/pablo/components/Organisms/bonds/BondedOfferRow.tsx
  frontend/apps/pablo/components/Organisms/bonds/ClaimForm.tsx
  frontend/apps/pablo/defi/hooks/bonds/index.ts
  frontend/apps/pablo/defi/hooks/bonds/useBondOffer.ts
  frontend/apps/pablo/defi/hooks/bonds/useBondOfferROI.ts
  frontend/apps/pablo/defi/hooks/bonds/useBondPrice.ts
  frontend/apps/pablo/defi/hooks/bonds/useBondVestingTime.ts
  frontend/apps/pablo/defi/hooks/bonds/useTotalPurchased.ts
  frontend/apps/pablo/defi/subsquid/bonds/helpers.ts
  frontend/apps/pablo/defi/utils/bonds/fetchClaimable.ts
  frontend/apps/pablo/defi/utils/bonds/fetchTotalPurchased.ts
  frontend/apps/pablo/defi/utils/bonds/index.ts
  frontend/apps/pablo/defi/utils/bonds/vestingSchedule.ts
  frontend/apps/pablo/defi/utils/bonds/vestingTime.ts
  frontend/apps/pablo/defi/utils/vesting/fetchVestingSchedule.ts
  frontend/apps/pablo/store/bond/bond.slice.ts
  frontend/apps/pablo/store/bonds/bonds.slice.ts
  frontend/apps/pablo/store/bonds/bonds.types.ts
  frontend/apps/pablo/store/bonds/bonds.utils.ts
  frontend/apps/pablo/store/useStore.ts
  frontend/apps/pablo/updaters/bonds/Updater.tsx
Due: none

more cosmos
  .nix/composable-bin.nix
  .nix/override-input/flake-utils/flake.nix
  flake.nix
  xcvm/cosmos/README.md
  xcvm/cosmos/gex.nix
  xcvm/cosmos/junod.nix
  xcvm/cosmos/wasmswap.nix
Due: none

arion does not work on darwin
  .nix/acala-bin.nix
  a.jsom
  a.json
  flake.nix
  junod
  xcvm/cosmos/wasmswap.nix
Due: none

Update runtime primitives
  runtime/primitives/src/currency.rs
Due: none

refactor(vamm): Use `rstest` in `swap_simulation`
  frame/vamm/src/tests/swap_simulation.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

refactor(vamm): Use `rstest` in `swap`
  frame/vamm/src/tests/swap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

Update pallet-oracle deps
  frame/oracle/Cargo.toml
Due: none

xcvm junod cosmos node, some tooling and contractrs (#1476)
  .devcontainer/devcontainer.json
  .nix/acala-bin.nix
  .nix/composable-bin.nix
  .nix/override-input/flake-utils/flake.nix
  flake.nix
  xcvm/cosmos/README.md
  xcvm/cosmos/gex.nix
  xcvm/cosmos/junod.nix
  xcvm/cosmos/wasmswap.nix
Due: none

add bounds for schedule and whitelist inputs
  frame/composable-traits/src/undercollateralized_loans/mod.rs
  frame/undercollateralized-loans/src/helpers/general.rs
  frame/undercollateralized-loans/src/impls/undercollateralized_loans.rs
  frame/undercollateralized-loans/src/lib.rs
  frame/undercollateralized-loans/src/mocks.rs
  frame/undercollateralized-loans/src/validation.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Update README.md (#12)
  README.md
Due: none

Review comments
  frame/fnft/src/test/nonfungibles/inspect.rs
  frame/fnft/src/test/nonfungibles/mutate.rs
  frame/fnft/src/test/nonfungibles/transfer.rs
Due: none

style
  frame/fnft/src/test/nonfungibles/inspect.rs
  frame/fnft/src/test/nonfungibles/mutate.rs
  frame/fnft/src/test/nonfungibles/transfer.rs
Due: none

Review comments
  frame/fnft/src/test/mod.rs
Due: none

test(CH): prioritize system hooks correctly
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

test(CH): assert alice's total funds are greater than bob's
  frame/clearing-house/src/integrations/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test

test(integration-tests/oracle): Update for new oracle parameter. Types updated.
  integration-tests/runtime-tests/src/types/interfaces/augment-api-consts.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-errors.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-events.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-query.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-tx.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-types.ts
  integration-tests/runtime-tests/src/types/interfaces/crowdloanRewards/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/crowdloanRewards/types.ts
  integration-tests/runtime-tests/test/tests/oracle/HAL01-Tests.ts
  integration-tests/runtime-tests/test/tests/oracle/HAL02-Tests.ts
  integration-tests/runtime-tests/test/tests/oracle/testHandlers/addAssetAndInfoTests.ts
  integration-tests/runtime-tests/test/tests/oracle/txOracleTests.ts
Due: none

update docs
  frame/oracle/src/lib.rs
Due: none

Fix remarks
  .github/workflows/build-test-deploy.yml
Due: none
