Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:

    ########## Clearing House ##########
  - id: clearing-house::cargo-fmt
    name: clearing-house::cargo-fmt
    entry: cargo +nightly fmt --check -p clearing-house
    language: system
    pass_filenames: false
    stages: [commit, push]
    files: ^frame/clearing-house/
    types: [rust]
  - id: clearing-house::cargo-clippy
    name: clearing-house::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
    language: system
    pass_filenames: false
    stages: [push]
    files: ^frame/clearing-house/
    types: [rust]

    ########## VAMM ##########
  - id: vamm::cargo-fmt
    name: vamm::cargo-fmt
    entry: cargo +nightly fmt --check -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-check
    name: vamm::cargo-check
    entry: cargo +nightly check --all-targets -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-test
    name: vamm::cargo-test
    entry: cargo +nightly test --all-features --tests -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-clippy
    name: vamm::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p pallet-vamm -- -D warnings -D clippy::all
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]
  - id: vamm::cargo-doc
    name: vamm::cargo-doc
    entry: cargo +nightly doc --no-deps -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v8.0.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ['@commitlint/config-conventional']

feat(vamm): Add derives for vamm trait types
  frame/composable-traits/src/vamm.rs
Due: none

refactor(vamm): Change `swap` signature temporarily
  frame/composable-traits/src/vamm.rs
Due: none

test(vamm): Add needed imports
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Add `balance_range` propcompose
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Add `get_vamm_state` propcompose
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Add `get_swap_config` propcompose
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

fix(vamm): change alias type in `VammState`
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Add `swap_invalid_vamm_error` test
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Start to write `swap_base` error
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

chore(vamm): Update `Cargo.lock`
  Cargo.lock
Due: none

test(vamm): Add proptest-regressions test cases
  frame/vamm/proptest-regressions/tests.txt
Due: none

feat(vamm): Add derives for `Direction` enum
  frame/composable-traits/src/vamm.rs
Due: none

test(vamm): Add more proptest cases
  frame/vamm/proptest-regressions/tests.txt
Due: none

style(vamm): format code
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

chore(vamm): Add todo comment about `closed` check
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

refactor(vamm): remove unneeded variable
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

refactor(vamm): Remove `impl` alias
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

chore(vamm): Increase run cases
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

fix(vamm): fix off by one error
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Finish swap base test
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Add more tests for swap base and quote
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

[cu-265d6yn] Initial configuration of subsquid with dali-dev
  subsquid/.dockerignore
  subsquid/.eslintrc
  subsquid/.gitignore
  subsquid/Dockerfile
  subsquid/FAQ.md
  subsquid/LICENSE
  subsquid/Makefile
  subsquid/README.md
  subsquid/archive/docker-compose.yml
  subsquid/db/init.js
  subsquid/db/migrations/1650621419203-Init.js
  subsquid/docker-compose.yml
  subsquid/help.md
  subsquid/package-lock.json
  subsquid/package.json
  subsquid/schema.graphql
  subsquid/scripts/docker-run.sh
  subsquid/scripts/reset-db.sh
  subsquid/scripts/reset-schema.sh
  subsquid/src/model/generated/account.model.ts
  subsquid/src/model/generated/historicalBalance.model.ts
  subsquid/src/model/generated/index.ts
  subsquid/src/model/generated/marshal.ts
  subsquid/src/model/index.ts
  subsquid/src/processor.ts
  subsquid/src/types/events.ts
  subsquid/src/types/support.ts
  subsquid/src/types/v2100.ts
  subsquid/tsconfig.json
  subsquid/typegen.json
Due: none

initial commit for pablo
  integration-tests/runtime-tests/src/types/interfaces/augment-types.ts
  integration-tests/runtime-tests/src/types/interfaces/pablo/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/pablo/types.ts
  integration-tests/runtime-tests/test/tests/dexTests/constantProductDex/constantProductTests.ts
  integration-tests/runtime-tests/test/tests/dexTests/constantProductDex/testHandlers/constantProductDexHelper.ts
Due: none

docs(README): Updated README's for `polkadot-launch` & Integration tests.
  integration-tests/runtime-tests/README.md
  scripts/polkadot-launch/README.md
Due: none

docs(README): Updated README's for `polkadot-launch` & Integration tests. (#911)
  integration-tests/runtime-tests/README.md
  scripts/polkadot-launch/README.md
Due: none

moving files
  docker-compose-collator/docker-compose.yml
Due: none

test(CH): use IntoBalance
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Update docker-compose.yml
  docker-compose-collator/docker-compose.yml
Due: none

test(CH): rename scenario for successful new trade
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): expect event emission from open_position
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): emit event upon open_position success
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

fix for testing
  .maintain/playbooks/runtime-upgrade-bash.yml
Due: none

docs(CH): update open_position extrinsic
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

chore(CH): add todo
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

only removed
  integration-tests/runtime-tests/test/tests/dexTests/constantProductDex/constantProductTests.ts
Due: none

chore(CH): remove redundant field name
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

style(CH): use different naming for mut ops
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/math.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(CH): enforce constraints on prop_compose input
  frame/clearing-house/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): add open position functionality (#893)
  Cargo.lock
  frame/clearing-house/Cargo.toml
  frame/clearing-house/proptest-regressions/tests.txt
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/math.rs
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/clearing-house/src/tests.rs
  frame/clearing-house/src/weights.rs
  frame/composable-traits/src/clearing_house.rs
  frame/composable-traits/src/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

chore(vamm): Change todo
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test
