Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, clearing-house::cargo-test, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test, composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  clearing-house::cargo-test: any of: ^frame/(clearing-house/|composable-traits/src/(clearing_house.rs|vamm.rs)) and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
  composable-traits::cargo-fmt: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-check: any of: ^frame/composable-traits/ and \.rs$
  composable-traits::cargo-test: any of: ^frame/composable-traits/ and \.rs$
  composable-maths::cargo-fmt: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-check: any of: ^frame/composable-maths/ and \.rs$
  composable-maths::cargo-test: any of: ^frame/composable-maths/ and \.rs$

hohoh
  .github/workflows/nix-compile.yml
Due: none

hooh
  flake.nix
Due: none

wtf?
  flake.nix
  utils/extrinsics-docs-scraper/Cargo.lock
  utils/extrinsics-docs-scraper/Cargo.toml
Due: none

fixed jq
  .github/workflows/nix-compile.yml
  flake.nix
  utils/extrinsics-docs-scraper/Cargo.lock
Due: none

Update ibc rs (#1397)
  Cargo.lock
  frame/ibc-ping/Cargo.toml
  frame/ibc-transfer/Cargo.toml
  frame/ibc/Cargo.toml
  frame/ibc/ibc-primitives/Cargo.toml
  frame/ibc/ibc-rpc/Cargo.toml
  frame/ibc/ibc-trait/Cargo.toml
Due: none

testing
  utils/extrinsics-docs-scraper/Cargo.toml
Due: none

fixes
  .github/workflows/nix-compile.yml
  flake.nix
  nix-validate.sh
Due: none

Add price impact for constant product pools
  frontend/apps/pablo/components/Organisms/swap/SwapForm.tsx
  frontend/apps/pablo/components/Organisms/swap/SwapSummary.tsx
  frontend/apps/pablo/defi/hooks/swaps/index.ts
  frontend/apps/pablo/defi/hooks/swaps/usePriceImpact.ts
  frontend/apps/pablo/defi/hooks/swaps/useSwaps.ts
  frontend/apps/pablo/defi/utils/pablo/math.ts
  frontend/apps/pablo/store/hooks/useLiquidityByPool.ts
Due: none

fix typo
  frontend/apps/pablo/defi/subsquid/liquidity/helpers.ts
  frontend/apps/pablo/defi/utils/pablo/liquidity.ts
  frontend/apps/pablo/store/hooks/useUserProvidedLiquidityByPool.ts
Due: none

moved composable into proer tar place
  .github/workflows/nix-compile.yml
  flake.nix
  nix-validate.sh
Due: none

nix ops
  .nix/devnet.nix
  .nix/nixops.nix
  flake.nix
  nix-validate.sh
Due: none

fixing deps
  .nix/composable-bin.nix
  .nix/polkadot-bin.nix
Due: none

Update db schema to store "from" from the vestingSchedule added event (#1350)
  subsquid/db/migrations/1658393802464-Init.js
  subsquid/schema.graphql
  subsquid/src/bondedFinanceProcessor.ts
  subsquid/src/dbHelper.ts
  subsquid/src/model/generated/vestingSchedule.model.ts
  subsquid/src/model/index.ts
  subsquid/src/pabloProcessor.ts
  subsquid/src/processor.ts
  subsquid/src/types/events.ts
  subsquid/src/types/v2400.ts
  subsquid/src/vestingProcessor.ts
  subsquid/test/bondedFinanceTest.ts
  subsquid/test/pabloProcessorTest.ts
  subsquid/test/vestingTest.ts
Due: none

[Picasso][Pablo] - Add version number to pages (#1395)
  frontend/apps/pablo/components/Templates/Default.tsx
  frontend/apps/pablo/next.config.js
  frontend/apps/picasso/components/Templates/Default.tsx
  frontend/apps/picasso/next.config.js
Due: none

rocks
  .nix/composable-bin.nix
Due: none

feat(composable-maths): Add trait to convert U256
  frame/composable-maths/src/labs/numbers.rs
Due: composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

refactor(vamm): Use Traits over custom functions for conversions
  frame/vamm/src/helpers/math.rs
  frame/vamm/src/helpers/price.rs
  frame/vamm/src/helpers/swap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

changed generics order
  frame/composable-traits/src/undercollateralized_loans.rs
  frame/undercollateralized-loans/src/helpers.rs
  frame/undercollateralized-loans/src/impls/undercollateralized_loans.rs
  frame/undercollateralized-loans/src/types.rs
  frame/undercollateralized-loans/src/validation.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

fix error in update-reward-pool plantuml
  rfcs/0005-pablo-distribution-assets/0005-pablo-distribution.adoc
Due: none

Remove unused import
  frame/staking-rewards/src/test/test_reward_accumulation_hook.rs
Due: none

fixes flaky verify_parachain_headers test (#21)
  Cargo.toml
  beefy-queries/src/helpers.rs
  beefy-queries/src/lib.rs
  beefy-queries/src/relay_chain_queries.rs
  src/error.rs
  src/lib.rs
  src/tests.rs
Due: none

Refactor reward accumulation calculation into separate function
  frame/composable-traits/src/staking/mod.rs
  frame/staking-rewards/src/lib.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

added type for payment stamp
  frame/composable-traits/src/undercollateralized_loans.rs
  frame/undercollateralized-loans/src/lib.rs
  frame/undercollateralized-loans/src/mocks/general.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

implement update_rewards_pool and add benchmark
  frame/staking-rewards/src/benchmarking.rs
  frame/staking-rewards/src/lib.rs
  frame/staking-rewards/src/weights.rs
  runtime/dali/src/weights/pallet_staking_rewards.rs
Due: none

fixing deps
  .github/workflows/nix-compile.yml
  .nix/composable-bin.nix
  .nix/devnet.nix
  flake.lock
  flake.nix
Due: none

docs(vamm): Fix definition for return value in `swap_simulation`
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

ref
  .nix/README.md
  .nix/mdbook.nix
  .nix/polkadot-bin.nix
  .nix/taplo.nix
  flake.nix
Due: none

testing
  .nix/mdbook.nix
  .nix/taplo.nix
  docs/nix.md
Due: none

docs: Fix broken links in several modules
  frame/composable-maths/src/dex/constant_product.rs
  frame/composable-maths/src/dex/price.rs
  frame/composable-maths/src/dex/stable_swap.rs
  frame/composable-support/src/abstractions/nonce/mod.rs
  frame/composable-support/src/abstractions/utils/increment.rs
  frame/composable-support/src/collections/vec/bounded/bi_bounded_vec.rs
  frame/composable-traits/src/lending/math.rs
  frame/composable-traits/src/lending/mod.rs
  frame/vamm/src/helpers/checks.rs
  frame/vamm/src/helpers/twap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test, composable-maths::cargo-fmt, composable-maths::cargo-check, composable-maths::cargo-test

fixing lock
  .nix/README.md
  docs/nix.md
  flake.lock
  nix-validate.sh
Due: none

fixing lock
  nix-validate.sh
Due: none

Pool Pallet Phase 1: Create
  Cargo.lock
  frame/composable-traits/src/lib.rs
  frame/composable-traits/src/pool.rs
  frame/pool/Cargo.toml
  frame/pool/proptest-regressions/tests.txt
  frame/pool/src/benchmarking.rs
  frame/pool/src/config.rs
  frame/pool/src/lib.rs
  frame/pool/src/mocks/currency_factory.rs
  frame/pool/src/mocks/mock.rs
  frame/pool/src/mocks/mod.rs
  frame/pool/src/mocks/tests.rs
  frame/pool/src/tests.rs
  frame/pool/src/traits.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

All-Asset Deposit functionality added
  Cargo.lock
  frame/composable-traits/Cargo.toml
  frame/composable-traits/src/pool.rs
  frame/pool/Cargo.toml
  frame/pool/proptest-regressions/tests.txt
  frame/pool/src/config.rs
  frame/pool/src/lib.rs
  frame/pool/src/mocks/tests.rs
  frame/pool/src/tests.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Updated documentation to follow Composable Labs - Documentation Guidelines
  frame/composable-traits/src/pool.rs
  frame/pool/Cargo.toml
  frame/pool/proptest-regressions/tests.txt
  frame/pool/src/lib.rs
  frame/pool/src/mocks/tests.rs
  frame/pool/src/tests.rs
Due: composable-traits::cargo-fmt, composable-traits::cargo-check, composable-traits::cargo-test

Refactored three helper functions to use iterators over for loops
  frame/pool/src/tests.rs
Due: none

Refactored the Spot Price functionality and its accompanying tests.
  frame/pool/src/lib.rs
  frame/pool/src/tests.rs
Due: none

Updated Bound struct to provide Bound::new() constructor
  frame/pool/src/tests.rs
Due: none

added one line as white space
  frame/pool/src/lib.rs
Due: none

Updated Bound struct to now represent its fields as Option<T>. This change allows you to specify no lower/upper bound by setting the respective field to None
  frame/pool/src/lib.rs
  frame/pool/src/tests.rs
Due: none
