Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

clearing-house::cargo-fmt:
  name: clearing-house::cargo-fmt
  entry: cargo +nightly fmt --check -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - commit
  - push

clearing-house::cargo-clippy:
  name: clearing-house::cargo-clippy
  entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
  language: system
  pass_filenames: false
  stages:
  - push

vamm::cargo-fmt:
  name: vamm::cargo-fmt
  entry: cargo +nightly fmt --check -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-check:
  name: vamm::cargo-check
  entry: cargo +nightly check --all-targets -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

vamm::cargo-test:
  name: vamm::cargo-test
  entry: cargo +nightly test --all-features --tests -p pallet-vamm
  language: system
  pass_filenames: false
  stages:
  - push
  - manual

test(Runtime Integration Tests): Removed unused linter dependency.
  integration-tests/runtime-tests/package-lock.json
  integration-tests/runtime-tests/package.json
Due: none

test(Runtime Integration Tests): Fixed compilation issues with DEX tests.
  integration-tests/runtime-tests/test/tests/dexTests/constantProductDex/testHandlers/constantProductDexHelper.ts
  integration-tests/runtime-tests/test/tests/pablo/constantProductTests.ts
Due: none

test(Runtime Integration Tests): Updated Mosaic test descriptions.
  integration-tests/runtime-tests/test/tests/mosaic/mosaicTests.ts
Due: none

test(Runtime Integration Tests): Cleanup & Refactoring.
  integration-tests/runtime-tests/src/utils/mintingHelper.ts
  integration-tests/runtime-tests/src/utils/polkadotjs.ts
  integration-tests/runtime-tests/src/utils/testSetup.ts
  integration-tests/runtime-tests/test/tests/bondedFinance/testHandlers/bondTests.ts
  integration-tests/runtime-tests/test/tests/bondedFinance/testHandlers/cancelTests.ts
  integration-tests/runtime-tests/test/tests/bondedFinance/testHandlers/offerTests.ts
  integration-tests/runtime-tests/test/tests/bondedFinance/txBondedFinanceTests.ts
  integration-tests/runtime-tests/test/tests/crowdloanRewards/txCrowdloanRewardsTests.ts
  integration-tests/runtime-tests/test/tests/mosaic/mosaicTests.ts
  integration-tests/runtime-tests/test/tests/oracle/testHandlers/addStakeTests.ts
  integration-tests/runtime-tests/test/tests/oracle/testHandlers/reclaimStakeTests.ts
  integration-tests/runtime-tests/test/tests/oracle/testHandlers/removeStakeTests.ts
  integration-tests/runtime-tests/test/tests/oracle/testHandlers/setSignerTests.ts
  integration-tests/runtime-tests/test/tests/oracle/testHandlers/submitPriceTests.ts
  integration-tests/runtime-tests/test/tests/oracle/txOracleTests.ts
Due: none

test(Runtime Integration Tests): Final restructuring before Pablo
  integration-tests/runtime-tests/.gitignore
  integration-tests/runtime-tests/.mocharc.json
  integration-tests/runtime-tests/src/utils/connectionHelper.ts
  integration-tests/runtime-tests/src/utils/mintingHelper.ts
  integration-tests/runtime-tests/src/utils/polkadotjs.ts
  integration-tests/runtime-tests/src/utils/testSetup.ts
  integration-tests/runtime-tests/src/utils/walletHelper.ts
  integration-tests/runtime-tests/test/globals.ts
  integration-tests/runtime-tests/test/tests/assets/rpcAssetsTests.ts
  integration-tests/runtime-tests/test/tests/bondedFinance/testHandlers/bondTests.ts
  integration-tests/runtime-tests/test/tests/bondedFinance/testHandlers/cancelTests.ts
  integration-tests/runtime-tests/test/tests/bondedFinance/testHandlers/offerTests.ts
  integration-tests/runtime-tests/test/tests/bondedFinance/txBondedFinanceTests.ts
  integration-tests/runtime-tests/test/tests/crowdloanRewards/queryCrowdloanRewardsTests.ts
  integration-tests/runtime-tests/test/tests/crowdloanRewards/rpcCrowdloanRewardsTests.ts
  integration-tests/runtime-tests/test/tests/crowdloanRewards/testHandlers/crowdloanHandler.ts
  integration-tests/runtime-tests/test/tests/crowdloanRewards/test_configuration.json
  integration-tests/runtime-tests/test/tests/crowdloanRewards/txCrowdloanRewardsTests.ts
  integration-tests/runtime-tests/test/tests/examples/querySystemAccountTests.ts
  integration-tests/runtime-tests/test/tests/mosaic/mosaicTests.ts
  integration-tests/runtime-tests/test/tests/mosaic/testHandlers/mosaicTestHelper.ts
  integration-tests/runtime-tests/test/tests/oracle/testHandlers/addAssetAndInfoTests.ts
  integration-tests/runtime-tests/test/tests/oracle/testHandlers/addStakeTests.ts
  integration-tests/runtime-tests/test/tests/oracle/testHandlers/reclaimStakeTests.ts
  integration-tests/runtime-tests/test/tests/oracle/testHandlers/removeStakeTests.ts
  integration-tests/runtime-tests/test/tests/oracle/testHandlers/setSignerTests.ts
  integration-tests/runtime-tests/test/tests/oracle/testHandlers/submitPriceTests.ts
  integration-tests/runtime-tests/test/tests/oracle/txOracleTests.ts
  integration-tests/runtime-tests/tsconfig.json
Due: none

test(Runtime Integration Tests): Removed all Pablo tests, will be re- added in #970.
  integration-tests/runtime-tests/test/tests/dexTests/constantProductDex/constantProductTests.ts
  integration-tests/runtime-tests/test/tests/dexTests/constantProductDex/testHandlers/constantProductDexHelper.ts
  integration-tests/runtime-tests/test/tests/dexTests/constantProductDex/test_configuration.json
  integration-tests/runtime-tests/test/tests/pablo/constantProductTests.ts
  integration-tests/runtime-tests/test/tests/pablo/testHandlers/PabloDexHelper.ts
  integration-tests/runtime-tests/test/tests/pablo/test_configuration.json
Due: none

test(Runtime Integration Tests): Updated query crowdloanRewards tests to better reflect the test structure.
  integration-tests/runtime-tests/test/tests/crowdloanRewards/queryCrowdloanRewardsTests.ts
Due: none

test(Runtime Integration Tests): Implemented `assets.balanceOf` comparison into mintingHelper.ts
  integration-tests/runtime-tests/src/utils/mintingHelper.ts
Due: none

test(Runtime Integration Tests): Updated example test to better reflect the test structure.
  integration-tests/runtime-tests/test/tests/examples/querySystemAccountTests.ts
Due: none

test(Runtime Integration Tests): Updated Dependencies
  integration-tests/runtime-tests/package-lock.json
  integration-tests/runtime-tests/package.json
Due: none

dali
  scripts/polkadot-launch/01-relay.sh
  scripts/polkadot-launch/README.md
  scripts/polkadot-launch/kusama-statemine-picasso.json
Due: none

style(vamm): shorten invariant computation
  Cargo.lock
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(Runtime Integration Tests): Updated types & removed unnecessary `.only`
  integration-tests/runtime-tests/src/types/interfaces/augment-api-consts.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-errors.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-events.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-query.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-tx.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-types.ts
  integration-tests/runtime-tests/src/types/interfaces/crowdloanRewards/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/crowdloanRewards/types.ts
  integration-tests/runtime-tests/test/tests/bondedFinance/txBondedFinanceTests.ts
Due: none

test(Runtime Integration Tests): Removed unnecessary import, variable & `this.timeout`
  integration-tests/runtime-tests/test/tests/crowdloanRewards/queryCrowdloanRewardsTests.ts
  integration-tests/runtime-tests/test/tests/crowdloanRewards/txCrowdloanRewardsTests.ts
Due: none

test(vamm): Ensure invariant doesnt drift on swaps
  Cargo.lock
  frame/vamm/src/tests/mod.rs
  frame/vamm/src/tests/swap_asset.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

style(CH): use descriptive name for function
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): pay funding to/from the market Fee Pool
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/update_funding.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

test(Runtime Integration Tests): Final reformatting
  integration-tests/runtime-tests/test/tests/bondedFinance/testHandlers/bondTests.ts
  integration-tests/runtime-tests/test/tests/bondedFinance/testHandlers/cancelTests.ts
  integration-tests/runtime-tests/test/tests/crowdloanRewards/rpcCrowdloanRewardsTests.ts
Due: none

refactor(CH): add math helper enhancements
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/math.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

chore(CH): add get_collateral_account helper
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

chore(CH): fix typo
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(CH): encapsulate base and quote swaps
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

Fixed bug with sp-keystore std feature
  frame/lending/Cargo.toml
  frame/lending/src/lib.rs
  frame/lending/src/tests.rs
Due: none

fixed formatting
  frame/lending/src/lib.rs
  frame/lending/src/tests.rs
Due: none

Update the FAQs page (#962)
  book/src/faqs/faqs.md
Due: none

feat(vamm): Add `MovePriceConfig` struct
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

docs(vamm): Add docs for `move_price` function
  Cargo.lock
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

fix(vamm): remove `s` in `function` for SwapConfig
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

chore(vamm): update `Cargo.lock`
  Cargo.lock
Due: none

add some derive traits to primitives
  src/primitives.rs
Due: none

wip
  frame/nft/src/lib.rs
  frame/nft/src/test.rs
Due: none

docs(vamm): Add `move_price` diagram
  Cargo.lock
  frame/vamm/diagrams/function_move_price.plantuml
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

No Exchange without Liquidity
  frame/composable-traits/src/dex.rs
  frame/pablo/src/lib.rs
  frame/pablo/src/stable_swap.rs
  frame/pablo/src/stable_swap_tests.rs
  frame/pablo/src/uniswap.rs
  frame/pablo/src/uniswap_tests.rs
Due: none

Add benchmarks for 'liquidate' extrinsic
  frame/lending/src/benchmarking.rs
  frame/lending/src/lib.rs
  frame/lending/src/mocks/mod.rs
  frame/lending/src/weights.rs
  runtime/dali/src/lib.rs
  runtime/dali/src/weights/lending.rs
Due: none

Formatting
  frame/lending/src/lib.rs
  frame/lending/src/weights.rs
Due: none

style
  frame/composable-traits/src/dex.rs
Due: none

refactoring nodes
  scripts/polkadot-launch/README.md
  scripts/polkadot-launch/composable.json
  scripts/polkadot-launch/help.txt
  scripts/polkadot-launch/kusama-local-raw.json
  scripts/polkadot-launch/kusama-local.json
  scripts/polkadot-launch/kusama-statemine-picasso.json
  scripts/polkadot-launch/package.json
  scripts/polkadot-launch/picasso.sh
  scripts/polkadot-launch/polkadot-composable copy.json
  scripts/polkadot-launch/polkadot.json
  scripts/polkadot-launch/relay.sh
Due: none

Path conditions:
  clearing-house::cargo-fmt: any of: ^frame/clearing-house/ and \.rs$
  clearing-house::cargo-clippy: any of: ^frame/clearing-house/ and \.rs$
  vamm::cargo-fmt: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-check: any of: ^frame/vamm/ and \.rs$
  vamm::cargo-test: any of: ^frame/vamm/ and \.rs$
