Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:

    ########## Clearing House ##########
  - id: clearing-house::cargo-fmt
    name: clearing-house::cargo-fmt
    entry: cargo +nightly fmt --check -p clearing-house
    language: system
    pass_filenames: false
    stages: [commit, push]
    files: ^frame/clearing-house/
    types: [rust]
  - id: clearing-house::cargo-clippy
    name: clearing-house::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
    language: system
    pass_filenames: false
    stages: [push]
    files: ^frame/clearing-house/
    types: [rust]

    ########## VAMM ##########
  - id: vamm::cargo-fmt
    name: vamm::cargo-fmt
    entry: cargo +nightly fmt --check -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [commit, push]
  - id: vamm::cargo-check
    name: vamm::cargo-check
    entry: cargo +nightly check --all-targets -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [commit, push]
  - id: vamm::cargo-test
    name: vamm::cargo-test
    entry: cargo +nightly test --all-features --tests -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push]
  - id: vamm::cargo-clippy
    name: vamm::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p pallet-vamm -- -D warnings -D clippy::all
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v8.0.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ['@commitlint/config-conventional']

chore(vamm): Update Cargo.lock
  Cargo.lock
Due: none

feat(vamm): Add basic config to mock runtime
  frame/vamm/src/mock.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

chore(vamm): Add `proptest` as dev-dependency
  Cargo.lock
  frame/vamm/Cargo.toml
Due: none

chore(vamm): Add imports to test.rs
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

docs(vamm): Update references to storage objects
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

docs(CH): add validity checks and errors for create_market
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

adds wss port
  utils/faucet-server/src/main.rs
Due: none

adds wss port (#843)
  utils/faucet-server/src/main.rs
Due: none

Add pallet-lending in Picasso runtime
  Cargo.lock
  runtime/dali/src/lib.rs
  runtime/picasso/Cargo.toml
  runtime/picasso/src/lib.rs
  runtime/picasso/src/weights/dutch_auction.rs
  runtime/picasso/src/weights/lending.rs
  runtime/picasso/src/weights/liquidations.rs
  runtime/picasso/src/weights/mod.rs
  runtime/picasso/src/weights/oracle.rs
  runtime/picasso/src/weights/vault.rs
Due: none

minor update
  src/lib.rs
Due: none

feat(devnet): upgrade deploy script
  .github/workflows/devnet-release.yml
Due: none

REMOVE ME
  .github/workflows/devnet-release.yml
  rust-toolchain
Due: none

pin rust-toolchain to CI version
  rust-toolchain
Due: none

docs(CH): use pallet-vamm in related modules
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

fmt
  src/tests.rs
Due: none

docs(CH): add funding arguments descriptions
  frame/clearing-house/src/lib.rs
  frame/composable-traits/src/clearing_house.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

remove unneccessary steps
  .github/workflows/check.yml
  .github/workflows/lint.yml
Due: none

remove target
  .github/workflows/check.yml
Due: none

fmt
  src/primitives.rs
  src/tests.rs
Due: none

run cargo doc with +nightly
  .github/workflows/devnet-release.yml
Due: none

cleanup
  frame/lending/src/tests.rs
Due: none

fix dbg! error
  frame/lending/src/lib.rs
Due: none

WIP
  frame/lending/src/lib.rs
  frame/lending/src/tests.rs
Due: none

pin cargo doc version even more specifically
  .github/workflows/devnet-release.yml
Due: none

test(vamm): Setup functional mock runtime
  frame/vamm/src/mock.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

test(vamm): Add setup for `test.rs`
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

test(vamm): Add crates/traits to `test.rs`
  frame/vamm/Cargo.toml
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

test(vamm): Add proptests
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

chore(vamm): Update `Cargo.lock`
  Cargo.lock
Due: none

refactor(vamm): Remove unneeded imports
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

refactor(vamm): Remove unneeded implementation
  frame/vamm/src/mock.rs
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

chore(vamm): Add annotations
  frame/vamm/src/mock.rs
  frame/vamm/src/tests.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test, vamm::cargo-clippy

docs(CH): update Market struct in main UML
  frame/clearing-house/diagrams/clearing-house.plantuml
Due: none

Refactored all tests to use improved TestExternalities functions and added initialize_reserve function intoVaultInitializer trait/implementation CU-2520rej[DONE] CU-2520rbv[DONE]
  Cargo.lock
  frame/instrumental/src/tests.rs
Due: none

feat(CH): add create market functionality (#831)
  Cargo.lock
  frame/clearing-house/Cargo.toml
  frame/clearing-house/proptest-regressions/tests.txt
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/assets.rs
  frame/clearing-house/src/mock/mod.rs
  frame/clearing-house/src/mock/oracle.rs
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/clearing-house/src/tests.rs
  frame/clearing-house/src/weights.rs
  frame/composable-traits/src/clearing_house.rs
  frame/composable-traits/src/lib.rs
  frame/composable-traits/src/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

limit test iterations
  src/lib.rs
  src/tests.rs
Due: none

minor fix
  src/tests.rs
Due: none

docs(mdbook): Moved Angular documentation from ClickUp to mdbook.
  book/src/SUMMARY.md
  book/src/products/angular/angular-token.md
  book/src/products/angular/foreign-assets.md
  book/src/products/angular/img/angular_logo-1500x500.png
  book/src/products/angular/img/technical-specification/graph-curved-model.png
  book/src/products/angular/img/technical-specification/graph-double-exponent-model.png
  book/src/products/angular/img/technical-specification/graph-jump-model.png
  book/src/products/angular/product-brief.md
  book/src/products/angular/socials.md
  book/src/products/angular/technical-specification.md
  book/src/products/angular/technical-specification/collateral.md
  book/src/products/angular/technical-specification/collateral/nfts.md
  book/src/products/angular/technical-specification/liquidations.md
  book/src/products/angular/technical-specification/liquidations/implementation.md
  book/src/products/angular/technical-specification/liquidations/liquidation-interface.md
  book/src/products/angular/technical-specification/liquidations/liquidation-interface/ibc.md
  book/src/products/angular/technical-specification/liquidations/liquidation-interface/xcm.md
  book/src/products/angular/technical-specification/models.md
  book/src/products/angular/technical-specification/oracle.md
  book/src/products/angular/technical-specification/pools.md
  book/src/products/angular/technical-specification/references.md
  book/src/products/angular/technical-specification/references/COM-LendingFeatures-030122-1046.pdf
  book/src/products/angular/technical-specification/undercollateralized-loans-leverage.md
Due: none

Delete rust-toolchian. pin versions in flake.nix
  flake.nix
  rust-toolchain
Due: none
