Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:

    ########## Clearing House ##########
  - id: clearing-house::cargo-fmt
    name: clearing-house::cargo-fmt
    entry: cargo +nightly fmt --check -p clearing-house
    language: system
    pass_filenames: false
    stages: [commit, push]
    files: ^frame/clearing-house/
    types: [rust]
  - id: clearing-house::cargo-clippy
    name: clearing-house::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
    language: system
    pass_filenames: false
    stages: [push]
    files: ^frame/clearing-house/
    types: [rust]

    ########## VAMM ##########
  - id: vamm::cargo-fmt
    name: vamm::cargo-fmt
    entry: cargo +nightly fmt --check -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-check
    name: vamm::cargo-check
    entry: cargo +nightly check --all-targets -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-test
    name: vamm::cargo-test
    entry: cargo +nightly test --all-features --tests -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-clippy
    name: vamm::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p pallet-vamm -- -D warnings -D clippy::all
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]
  - id: vamm::cargo-doc
    name: vamm::cargo-doc
    entry: cargo +nightly doc --no-deps -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v8.0.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ['@commitlint/config-conventional']

Update dali-subsquid.yml playbook
  .maintain/playbooks/dali-subsquid.yml
  .maintain/playbooks/templates/docker-compose/dali-subsquid-archiver.docker-compose.yml.j2
  .maintain/playbooks/templates/docker-compose/dali-subsquid-indexer-db.docker-compose.yml.j2
  .maintain/playbooks/templates/nginx/dali-subsquid.conf.j2
  .maintain/playbooks/templates/systemd/dali-subsquid-archiver.service.j2
  .maintain/playbooks/templates/systemd/dali-subsquid-graphql-server.service.j2
  .maintain/playbooks/templates/systemd/dali-subsquid-indexer-db.service.j2
  .maintain/playbooks/templates/systemd/dali-subsquid-processor.service.j2
  .maintain/playbooks/templates/systemd/dali-subsquid.service.j2
Due: none

Update dali-subsquid.yml playbook
  .maintain/playbooks/dali-subsquid.yml
Due: none

Update dali-subsquid.yml playbook
  .maintain/playbooks/dali-subsquid.yml
  .maintain/playbooks/templates/docker-compose/dali-subsquid-indexer-db.docker-compose.yml.j2
  .maintain/playbooks/templates/systemd/dali-subsquid-graphql-server.service.j2
  .maintain/playbooks/templates/systemd/dali-subsquid-processor.service.j2
Due: none

Update dali-subsquid.yml playbook
  .maintain/playbooks/dali-subsquid.yml
  .maintain/playbooks/templates/docker-compose/dali-subsquid-archiver.docker-compose.yml.j2
  .maintain/playbooks/templates/docker-compose/dali-subsquid-indexer-db.docker-compose.yml.j2
Due: none

Update dali-subsquid.yml playbook
  .maintain/playbooks/templates/docker-compose/dali-subsquid-archiver.docker-compose.yml.j2
Due: none

Update .maintain/playbooks/README.md
  .maintain/playbooks/README.md
Due: none

Update dali-subsquid.yml playbook
  .maintain/playbooks/templates/systemd/dali-subsquid-archiver.service.j2
  .maintain/playbooks/templates/systemd/dali-subsquid-graphql-server.service.j2
  .maintain/playbooks/templates/systemd/dali-subsquid-indexer-db.service.j2
  .maintain/playbooks/templates/systemd/dali-subsquid-processor.service.j2
Due: none

Some more tests.
  frontend/ui-pablo/app/store/hooks/usePoolTvlChart.ts
  frontend/ui-pablo/app/updaters/constants.ts
Due: none

Update chart processor.
  frontend/ui-pablo/app/store/hooks/usePoolTvlChart.ts
  frontend/ui-pablo/app/store/hooks/userPoolTvlChart/helpers.ts
  frontend/ui-pablo/app/store/hooks/userPoolTvlChart/usePoolTvlChart.ts
  frontend/ui-pablo/app/store/swaps/swaps.types.ts
  frontend/ui-pablo/app/updaters/swaps/utils.ts
Due: none

Fixed import.
  frontend/ui-pablo/app/components/Organisms/pool/PoolDetails/PoolTVLChart.tsx
  frontend/ui-pablo/app/jest.setup.js
  frontend/ui-pablo/app/store/hooks/userPoolTvlChart/index.ts
Due: none

Fix tests.
  frontend/ui-pablo/app/components/Organisms/pool/PoolDetails/PoolTVLChart.tsx
  frontend/ui-pablo/app/jest.setup.js
  frontend/ui-pablo/app/store/hooks/usePoolTvlChart/helpers.ts
  frontend/ui-pablo/app/store/hooks/usePoolTvlChart/usePoolTvlChart.ts
  frontend/ui-pablo/app/store/hooks/userPoolTvlChart/index.ts
  frontend/ui-pablo/app/tests/integrations/poolTvlChart.test.tsx
Due: none

style(CH): surround math statement with quotes
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

feat(CH): partially liquidate accounts (#1084)
  frame/clearing-house/diagrams/clearing-house.plantuml
  frame/clearing-house/diagrams/liquidate.plantuml
  frame/clearing-house/proptest-regressions/tests/create_market.txt
  frame/clearing-house/proptest-regressions/tests/update_funding.txt
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/create_market.rs
  frame/clearing-house/src/tests/liquidate.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/tests/update_funding.rs
  frame/clearing-house/src/types.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

docs(mdbook update): fix image caption
  book/src/products/technical-stack-overview.md
Due: none

docs(mdbook xcvm): markdown fixes for captions & formatting
  book/src/products/cross-chain-virtual-machine.md
  book/src/products/cross-chain-virtual-machine/how-the-xcvm-works.md
Due: none

Create codespaces.md
  book/src/codespaces.md
Due: none

Update book.md
  book/src/codespaces/book.md
Due: none

Update cross-chain-virtual-machine.md
  book/src/products/cross-chain-virtual-machine.md
Due: none

docs(vamm): Add doc for new fields in VammState
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

docs(vamm): Add explanation for `twap` algorithm
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

docs(vamm): Fix typos
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

refactor(vamm): Rename function to get current time
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

docs(vamm): Add reference to new functions
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

feat(vamm): Add `funding_period` to vamm struct
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

chore(vamm): Typos
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Create vamm fail if invalid funding period
  frame/vamm/src/tests/create_vamm.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): refactor tests due vamm struct update
  frame/vamm/src/tests/create_vamm.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Refactor test due to VammState change
  frame/vamm/src/tests/mod.rs
  frame/vamm/src/tests/move_price.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Add proptest for `update_twap`
  frame/vamm/src/tests/update_twap.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

test(vamm): Refactor due to VammState change
  frame/vamm/src/tests/create_vamm.rs
  frame/vamm/src/tests/swap_asset.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

refactor(vamm): Fix initial twap value & use U256 in internal math function
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

cor/codespaces-release (#1104)
  .devcontainer/devcontainer.json
  book/src/SUMMARY.md
  book/src/codespaces.md
  book/src/codespaces/book-running-locally.png
  book/src/codespaces/book.md
  book/src/codespaces/checkout-branch.png
  book/src/codespaces/commit-sidebar.png
  book/src/codespaces/create-codespace-on-main.png
  book/src/codespaces/frontend.md
  book/src/codespaces/getting-started.md
  book/src/codespaces/github-organization-check.png
  book/src/codespaces/gpg-verification-and-editor-preference.png
  book/src/codespaces/inline-pr-comment.png
  book/src/codespaces/open-the-workspace.png
  book/src/codespaces/open-vscode-dialog.png
  book/src/codespaces/opened-workspace.png
  book/src/codespaces/pull-request.png
  book/src/codespaces/runtime-tests.md
  book/src/codespaces/substrate-pallet-development.png
  book/src/codespaces/substrate.md
  book/src/codespaces/using-codespaces.md
  book/src/codespaces/vscode-codespaces-plugin.png
  book/src/contributing/book.md
  book/src/contributing/codespaces.md
  book/src/contributing/codespaces/getting-started.md
  book/src/contributing/codespaces/using-codespaces.md
  book/src/editting-runtime-tests.png
  composable.code-workspace
Due: none

Update createAccountId method
  frontend/ui-pablo/app/store/hooks/usePoolsListWithOpenPositions.ts
  frontend/ui-pablo/app/updaters/auctions/Updater.tsx
  frontend/ui-pablo/app/updaters/liquidity/Updater.tsx
  frontend/ui-pablo/app/updaters/liquidity/utils.ts
  frontend/ui-pablo/app/updaters/swaps/Updater.tsx
  frontend/ui-pablo/app/updaters/utils.ts
  frontend/ui-pablo/app/utils/substrate.ts
Due: none

error generic validation added to bonded-finance
  frame/bonded-finance/src/benchmarks.rs
  frame/bonded-finance/src/lib.rs
  frame/bonded-finance/src/tests.rs
  frame/bonded-finance/src/validation2.rs
  frame/composable-traits/src/bonded_finance.rs
Due: none

Update dali-subsquid.yml playbook
  .maintain/playbooks/templates/docker-compose/dali-subsquid.docker-compose.yml.j2
Due: none

use associated type instead of generic params in trait function
  frame/bonded-finance/src/lib.rs
  frame/composable-traits/src/bonded_finance.rs
  frame/composable-traits/src/lending/mod.rs
  frame/lending/src/lib.rs
Due: none
