Repository ComposableFi/composable: changes, and which pre-commit hooks are due for each by the changed paths.
All: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:

    ########## Clearing House ##########
  - id: clearing-house::cargo-fmt
    name: clearing-house::cargo-fmt
    entry: cargo +nightly fmt --check -p clearing-house
    language: system
    pass_filenames: false
    stages: [commit, push]
    files: ^frame/clearing-house/
    types: [rust]
  - id: clearing-house::cargo-clippy
    name: clearing-house::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p clearing-house
    language: system
    pass_filenames: false
    stages: [push]
    files: ^frame/clearing-house/
    types: [rust]

    ########## VAMM ##########
  - id: vamm::cargo-fmt
    name: vamm::cargo-fmt
    entry: cargo +nightly fmt --check -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-check
    name: vamm::cargo-check
    entry: cargo +nightly check --all-targets -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-test
    name: vamm::cargo-test
    entry: cargo +nightly test --all-features --tests -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [push, manual]
  - id: vamm::cargo-clippy
    name: vamm::cargo-clippy
    entry: cargo +nightly clippy --all-targets --no-deps -p pallet-vamm -- -D warnings -D clippy::all
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]
  - id: vamm::cargo-doc
    name: vamm::cargo-doc
    entry: cargo +nightly doc --no-deps -p pallet-vamm
    language: system
    pass_filenames: false
    files: ^frame/vamm/
    types: [rust]
    stages: [manual]

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v8.0.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ['@commitlint/config-conventional']

Fix tests
  src/tests.rs
Due: none

build new release
  runtime/composable/src/lib.rs
Due: none

style(CH): space out Config associated types
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(CH,CT): move associated type bounds
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/tests.rs
  frame/composable-traits/src/vamm.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

docs(CH): add error to open_position
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(CH): store positions in BoundedVec
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/runtime.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(CH): make var names consistent with their types
  frame/clearing-house/src/lib.rs
  frame/composable-traits/src/clearing_house.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

docs(CH): update create_market parameters
  frame/clearing-house/src/lib.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy

refactor(vamm): Remove `AssetType`
  frame/composable-traits/src/vamm.rs
Due: none

chore(vamm): Add comments for `cfg_attr` sections
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

refactor(vamm): Remove `AssetType`
  frame/vamm/src/lib.rs
Due: vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

chore(vamm): Update `Cargo.lock`
  Cargo.lock
Due: none

merge
  frame/clearing-house/diagrams/clearing-house.plantuml
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/clearing-house/src/tests.rs
  frame/composable-traits/src/vamm.rs
  frame/vamm/src/lib.rs
  frame/vamm/src/mock.rs
  frame/vamm/src/tests.rs
Due: clearing-house::cargo-fmt, clearing-house::cargo-clippy, vamm::cargo-fmt, vamm::cargo-check, vamm::cargo-test

build new release (#877)
  runtime/composable/src/lib.rs
Due: none

trying fix for auto cherry pick
  .github/workflows/cherry-pick.yml
Due: none

trying fix for auto cherry pick
  scripts/github/package-lock.json
Due: none

Trigger new build (#879)
  .github/workflows/cherry-pick.yml
Due: none

Trigger new build (#880)
  .github/workflows/cherry-pick.yml
Due: none

Trigger new build (#881)
  .github/workflows/cherry-pick.yml
Due: none

fixing docker build
  docker/Dockerfile
Due: none

fix multi-arch build
  docker/Dockerfile
Due: none

verify release version
  .github/workflows/docker-release.yml
Due: none

adding docker compose for collators
  Dockerfile
  docker-compose.yml
  prometheus2.yml
Due: none

fixing build
  Cargo.lock
  Makefile
  Makefile.toml
  book/book.toml
  frame/composable-traits/Cargo.toml
  frame/composable-traits/src/xcm/mod.rs
  frame/dutch-auction/Cargo.toml
  frame/dutch-auction/src/lib.rs
  frame/dutch-auction/src/mock/runtime.rs
  frame/dutch-auction/src/prelude.rs
  frame/dutch-auction/src/support.rs
  frame/dutch-auction/src/types.rs
  frame/lending/Cargo.toml
  frame/liquidations/Cargo.toml
  frame/liquidations/src/lib.rs
  frame/liquidations/src/mock/runtime.rs
  frame/ping/Cargo.toml
Due: none

rebase fixes
  Cargo.lock
  docs/glossary.md
  frame/composable-traits/Cargo.toml
  frame/composable-traits/src/auction.rs
  frame/composable-traits/src/lib.rs
  frame/composable-traits/src/time.rs
  frame/composable-traits/src/xcm/mod.rs
  frame/dutch-auction/Cargo.toml
  frame/dutch-auction/README.md
  frame/dutch-auction/src/lib.rs
  frame/dutch-auction/src/mock/runtime.rs
  frame/dutch-auction/src/prelude.rs
  frame/dutch-auction/src/support.rs
  frame/dutch-auction/src/types.rs
  frame/dutch-auction/src/weights.rs
  frame/lending/Cargo.toml
  frame/lending/src/mocks/mod.rs
  frame/liquidations/Cargo.toml
  frame/liquidations/external-dex-liqudation.sequence.plantuml
  frame/liquidations/liqudation.sequence.plantuml
  frame/liquidations/src/lib.rs
  frame/liquidations/src/mock/currency.rs
  frame/liquidations/src/mock/runtime.rs
  frame/liquidations/src/tests.rs
  frame/liquidations/src/weights.rs
  frame/liquidations/xcmp-development.md
  integration-tests/local-integration-tests/src/cross_chain_transfer.rs
  integration-tests/local-integration-tests/src/kusama_test_net.rs
  integration-tests/local-integration-tests/src/transact_calls.rs
  runtime/dali/src/lib.rs
  runtime/dali/src/weights/dutch_auction.rs
  runtime/primitives/src/currency.rs
Due: none

spelling
  runtime/primitives/src/currency.rs
Due: none

fixed review
  frame/composable-traits/src/xcm/mod.rs
  frame/dutch-auction/src/lib.rs
  frame/dutch-auction/src/prelude.rs
  integration-tests/runtime-tests/src/types/interfaces/augment-api-errors.ts
Due: none

adding docker setup sh
  scripts/setup-docker.sh
Due: none

Create setup-docker.sh
  setup-docker.sh
Due: none

fixing review comments
  Cargo.lock
Due: none

fixing cargo lock updates
  Cargo.lock
Due: none

check if file exists before continuing to download
  .github/workflows/docker-release.yml
Due: none

test existence of release file
  .github/workflows/docker-release.yml
Due: none

validate file already exists
  .github/workflows/docker-release.yml
Due: none

test file existence
  .github/workflows/docker-release.yml
Due: none
